

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <th >{{ _('Description') }}</th>
            <th >{{ _('Date') }}</th>
            <th class="text-center">{{ _('Format') }}</th>
            <th class="text-center">{{ _('Action') }}</th>
            <th></th>
        </tr>
        {% set changes = {'projectSummary': true, 'DataCollectionProgress': false, 'projectDataCollected': true} %}

        {% if activeProject.project_regstatus > 0 %}
            {% if changes.update({'DataCollectionProgress': true }) %} {% endif %}
        {% endif %}

        {% for product in Products %}
            {% set color = '#1c84c6' %}
            <tr>
                <td style="vertical-align: middle;">
                    {% if product.product_id == "qrpackage" %}
                        {{ _("List of packages with QR for the registration form") }}
                    {% else %}
                        {% if product.product_id == "packages" %}
                            {{ _("List with randomized trial packages") }}
                        {% else %}
                            {% if product.product_id == "fieldagents" %}
                                {{ _("List with field agents and their QR codes to configure ODK Collect") }}
                            {% else %}
                                {% if product.product_id == "colors" %}
                                    {{ _("Color cards to explain ClimMob") }}
                                {% else %}
                                    {% if product.product_id == "datacsv" %}

                                        {% if product.process_name == "create_data_Report_" %}
                                            {% if changes.update({'projectDataCollected': false }) %}{% endif %}
                                            {{ _("Information collected in all the project") }}
                                        {% else %}
                                            {% if product.process_name == "create_data_Registration_" %}
                                                {{ _("Information collected in the registration form") }}
                                            {% else %}
                                                {{ _("Information collected in the assessment form") }}: {{ product.extraInformation.ass_desc }}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if product.product_id == "reports" %}
                                            {{ _("Report generated in the analysis of the information") }}
                                        {% else %}
                                            {% if product.product_id == "datadesk" %}
                                                {{ _("Data collected in ") }} {{ product.output_id }}
                                            {% else %}
                                                {% if product.product_id == "documentform" %}
                                                    {% if product.process_name == "create_from_Registration_" %}
                                                        {{ _("Printer-friendly registration form") }}
                                                    {% else %}
                                                        {{ _("Printer-friendly assessment form") }}: {{ product.extraInformation.ass_desc }}
                                                    {% endif %}
                                                {% else %}
                                                    {% if product.product_id == "generalreport" %}
                                                        {% if changes.update({'projectSummary': false }) %}{% endif %}
                                                        {{ _("Project summary") }}
                                                    {% else %}
                                                        {% if product.product_id == "datacollectionprogress" %}
                                                            {% if changes.update({'DataCollectionProgress': false }) %} {% endif %}
                                                            {{ _("Progress report on data collection") }}
                                                        {% else %}
                                                            {% if product.product_id == "stickers" %}
                                                                {{ _("Stickers for each variety pack") }}
                                                            {% else %}
                                                                {% if product.product_id == "errorlogdocument" %}
                                                                    {% if product.process_name == "create_errorlog_Registration_" %}
                                                                        {{ _("Document of submissions with conflicts in the registration form") }}
                                                                    {% else %}
                                                                        {{ _("Document of submissions with conflicts in the assessment form") }}: {{ product.extraInformation.ass_desc }}
                                                                    {% endif %}
                                                                {% else %}
                                                                    {{ product.product_id }}
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    {{ product.datetime_added }}
                </td>
                <td class="text-center" style="vertical-align: middle;">
                    {% if product.output_mimetype == "application/pdf" %}
                        <i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size: 17px;color: {{ color }}"></i>
                    {% else %}
                        {% if product.output_mimetype == "application/zip" %}
                            <i class="fa fa-file-zip-o" aria-hidden="true" style="font-size: 17px;color: {{ color }}"></i>
                        {% else %}
                            {% if product.output_mimetype == "application/json" %}
                                <i class="fa fa-file-text" aria-hidden="true" style="font-size: 17px;color: {{ color }}"></i>
                            {% else %}
                                {% if product.output_mimetype == "text/csv" or product.output_mimetype == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" %}
                                    <i class="fa fa-file-excel-o" placeholder="asasd" aria-hidden="true" style="font-size: 17px;color: {{ color }}"></i>
                                {% else %}
                                    {% if product.output_mimetype == "application/vnd.openxmlformats-officedocument.wordprocessingml.document" %}
                                        <i class="fa fa-file-word-o" aria-hidden="true" style="font-size: 17px;color: {{ color }}"></i>
                                    {% else %}
                                        {{ product.output_mimetype }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="text-center" style="width: 140px">
                    {% if product.state == "Success"%}
                        {% if product.exists == "correct" %}
                            {% if product.product_id != "datadesk" and product.product_id != "cards"%}
                                <a href="{{ request.route_url('download', product_id=product.celery_taskid) }}" class="btn btn-primary" style="background-color:{{ color }}; border-color: {{ color }}"><i class="fa fa-download"></i> {{ _("Download") }}</a>
                            {% else %}
                                <a id="{{product.celery_taskid}}$#%%#${{product.output_id}}" class="btn btn-primary btn_datadesk" style="background-color:{{ color }}; border-color: {{ color }}"><i class="fa fa-download"></i> {{ _("Download") }}</a>
                            {% endif %}
                        {% else %}
                            {% if  product.product_id == "reports"%}
                                <a href="{{ request.route_url('createAnalysis') }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Create") }}</a>
                            {% else %}
                                {% if  product.product_id != "datadesk" and product.product_id != "cards"%}
                                    <a href="{{ request.route_url('generateProduct', productid=product.product_id, projectid=activeProject.project_cod, processname=product.process_name) }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Create") }}</a>
                                {% endif %}
                            {% endif %}

                            <p style="color:#ed5565"><i class="fa fa-info-circle"></i> {{ _("There was a problem creating the product.") }}</p>
                        {% endif %}
                    {% else %}
                        {% if product.state =="Pending..." %}
                            <a  onclick=" location.reload(); " class="btn btn-primary" style="background-color: #f8ac59; border-color: #f8ac59" ><i class="fa fa-refresh"></i> {{ "Pending" }}</a>
                        {% else %}
                            {% if  product.product_id == "reports"%}
                                <a href="{{ request.route_url('createAnalysis') }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Create") }}</a>
                            {% else %}
                                {% if  product.product_id != "datadesk" and product.product_id != "cards"%}
                                    <a href="{{ request.route_url('generateProduct', productid=product.product_id, projectid=activeProject.project_cod, processname=product.process_name) }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Create") }}</a>
                                {% endif %}
                            {% endif %}
                            <p style="color:#ed5565"><i class="fa fa-info-circle"></i> {{ _("There was a problem creating the product.") }}</p>
                        {% endif %}
                    {% endif%}
                </td>
                <td class="text-center" style="width: 110px">
                    {% if product.state == "Success"%}
                        {% if product.exists == "correct" %}
                            {% if product.product_id == "datacsv" and product.process_name == "create_data_Report_" %}
                                <a href="{{ request.route_url('generateProduct', productid="datacsv", projectid=activeProject.project_cod, processname="create_data_Report_") }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Update") }}</a>
                            {% endif %}

                            {% if product.product_id == "generalreport" %}
                                <a href="{{ request.route_url('generateProduct', productid="generalreport", projectid=activeProject.project_cod, processname="generalreport") }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Update") }}</a>
                            {% endif %}

                            {% if product.product_id == "datacollectionprogress" %}
                                <a href="{{ request.route_url('generateProduct', productid="datacollectionprogress", projectid=activeProject.project_cod, processname="datacollectionprogress") }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Update") }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% if changes.projectDataCollected %}
            <tr>
                <td>{{ _("Information collected in all the project") }}</td>
                <td></td>
                <td></td>
                <td class="text-center">
                    <a href="{{ request.route_url('generateProduct', productid="datacsv", projectid=activeProject.project_cod, processname="create_data_Report_") }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Create") }}</a>
                </td>
                <td></td>
            </tr>
        {% endif %}
        {% if changes.projectSummary %}
            <tr>
                <td>{{ _("Project summary") }}</td>
                <td></td>
                <td></td>
                <td class="text-center">
                    <a href="{{ request.route_url('generateProduct', productid="generalreport", projectid=activeProject.project_cod, processname="generalreport") }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Create") }}</a>
                </td>
                <td></td>
            </tr>
        {% endif %}
        {% if changes.DataCollectionProgress %}
            <tr>
                <td>{{ _("Progress report on data collection") }}</td>
                <td></td>
                <td></td>
                <td class="text-center">
                    <a href="{{ request.route_url('generateProduct', productid="datacollectionprogress", projectid=activeProject.project_cod, processname="datacollectionprogress") }}" class="btn btn-default" ><i class="fa fa-plus"></i> {{ _("Create") }}</a>
                </td>
                <td></td>
            </tr>
        {% endif %}
    </tbody>
</table>