<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Full name') }}</label>
    <div class="col-sm-8"><input type="text" class="form-control inputsEnumerators" value="{{ dataworking['enum_name'] }}" id="enum_name" name="enum_name" placeholder=" " required="" oninvalid="this.setCustomValidity('{{ _("Write the full name.") }}')" onchange="this.setCustomValidity('')"></div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Username') }}</label>
    <div class="col-sm-8"><input type="text" class="form-control inputsEnumerators" value="{{ dataworking['enum_id'] }}" id="enum_id" name="enum_id" placeholder="" required="" oninvalid="this.setCustomValidity('{{ _("Write the username.") }}')" onchange="this.setCustomValidity('')"></div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Telephone') }}</label>
    <div class="col-sm-8"><input type="text" class="form-control inputsEnumerators" value="{{ dataworking['enum_telephone'] }}" id="enum_telephone" name="enum_telephone" placeholder="" oninvalid="this.setCustomValidity('{{ _("Write the telephone.") }}')" onchange="this.setCustomValidity('')"></div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Email') }}</label>
    <div class="col-sm-8"><input type="text" class="form-control inputsEnumerators" value="{{ dataworking['enum_email'] }}" id="enum_email" name="enum_email" required="" placeholder="" oninvalid="this.setCustomValidity('{{ _("Write the email.") }}')" onchange="this.setCustomValidity('')"></div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Password') }} </label>
    <div class="col-sm-8">
        <input type="text"  class="form-control inputsEnumerators" value="{{ dataworking['enum_password'] }}" id="enum_password" name="enum_password" placeholder=" " required="" oninvalid="this.setCustomValidity('{{ _("Write the password.") }}')" onchange="this.setCustomValidity('')">
        <p style="margin-top: 10px">{{ _("The username and password will be needed for the field agent to login into ODK Collect and access the project forms.") }}</p>
    </div>
</div>

<div class="form-group" id="div_submit_data" style="display: none">
    <label class="col-sm-4 control-label">{{ _('Can submit data') }}</label>
    <div class="col-sm-8"><input type="checkbox" id="ckb_modify_status" name="ckb_modify_status" data-on-color="success" data-off-color="danger" data-on-text="{{ _('Yes') }}" data-off-text="{{ _('No') }}" {% if dataworking['enum_active'] ==1 %}checked{% endif %}></div>
</div>

{% block enumerator_form_extra %}

{% endblock %}





