{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob - Add level to project") }}</title>
{% endblock title %}

{% block pageheading %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ _("Select treatments") }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main menu") }}</a>
                </li>
                <li>
                    <a href="{{ request.route_url('prjtechnologies',projectid=projectid) }}">{{ _("Select treatments") }}</a>
                </li>
                <li class="active">
                    <a href="{{ request.route_url('prjtechaliases', projectid=projectid, tech_id=tech_id) }}">{{ _("Select treatment levels") }}</a>
                </li>
                <li>
                    <strong>{{ _("New level") }}</strong>
                </li>
            </ol>
            <a href="https://climmob.net/blog/wiki/2019/09/30/select-treatment-levels-new-level/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('static/landing/info.png') }}" alt="info"/> </a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}



{% block pagecontent %}
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("New level") }}</h5>
                    <div class="ibox-tools">
                        <button type="button" onclick="location.href='{{ request.route_url('prjtechaliases', projectid=projectid, tech_id=tech_id) }}';" class="btn btn-default btn-xs pull-right">{{ _("Cancel and go back") }}</button>
                    </div>
                </div>
                <div class="ibox-content text-center animated fadeInRightBig" >

                    {% snippet 'snippets/error.jinja2', error_summary=error_summary %}



                        <div class="error-desc">
                            <form method="post" action="{{ request.path }}">
                                <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{{ _('Name:') }}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="{{ data.alias_name }}" id="txt_add_alias" name="txt_add_alias" placeholder=" ">
                                    </div>
                                </div>
                                <br><br><br>
                                <button type="submit" name="btn_add_alias" class="btn btn-primary">{{ _("Save") }}</button>
                            </form>
                        </div>

                </div>
            </div>
        </div>
    </div>
{% endblock pagecontent %}