{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob - Select technology options") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','icheck' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','prjtechnologies' %}
{% endblock topScripts %}

{% block pageheading %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ _("Select technologies") }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main menu") }}</a>
                </li>
                <li class="active">
                    <strong>{{ _("Select technologies") }}</strong>
                </li>
            </ol>
            <a href="https://climmob.net/blog/wiki/2019/09/30/select-treatments/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('static/landing/info.png') }}" alt="info"/> </a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}


{% block pagecontent %}
    <div class="row">

        <div class="col-lg-4 " >
            <div class="ibox float-e-margins" >
                <div class="ibox-title">
                    <h5>{{ _("Add technology") }}</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content animated fadeInRightBig" >

                    {% snippet 'snippets/technologies/technologies-stream.jinja2', request=request, UserTechs=TechnologiesInProject, checkbox=True, checked=True %}

                    {% snippet 'snippets/technologies/technologies-stream.jinja2', request=request, UserTechs=TechnologiesUser, checkbox=True, checked=False %}

                    <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                        <input type="text" id="txt_technologies_included" name="txt_technologies_included" style="width: 100%;display:none">
                        <input type="text" id="txt_technologies_excluded" name="txt_technologies_excluded" style="width: 100%; display:none">
                        <div class="row" style="padding-top: 10px; height: 50px">
                            <div class="col-md-12">
                                <button class="btn btn-primary pull-right clm-actions" name="btn_save_technologies" type="submit" id="btn_save_technologies"><i class="fa fa-check"></i>&nbsp;{{ _("Save changes") }}</button>

                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal" role="form" method="post" action="{{ request.path }}" style="display:none">
                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                        <input type="text" class="tech_id" name="tech_id" style="width: 100%;display:none">
                        <div class="row" style="padding-top: 10px; height: 50px">
                            <div class="col-md-12">
                                <button class="btn btn-primary pull-right clm-actions" style="display:none" name="btn_show_technology_alias" type="submit" id="btn_show_technology_alias"><i class="fa fa-check"></i>&nbsp;{{ _("Show technologies") }}</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if alias %}
            <div class="col-lg-4 " id="alias_in_project">
                <div class="ibox float-e-margins" >
                    <div class="ibox-title">
                        <h5>{{ _("Technology options") }}</h5>
                        <div class="ibox-tools">
                            <button   class="btn btn-xs btn-default pull-right btn_cancel_technology_options" ><i class="fa fa-close btn_cancel_technology_options" style="color: black"></i> </button>
                        </div>
                    </div>
                    <div class="ibox-content animated fadeInRightBig" >

                        {% snippet 'snippets/technologies/technologies-stream.jinja2', request=request, UserTechs=alias.AliasTechnologyInProject, checkbox=True, checked=True, isAlias=True %}

                        {% snippet 'snippets/technologies/technologies-stream.jinja2', request=request, UserTechs=alias.AliasExtraTechnologyInProject, extra=True, checkbox=True, checked=True, isAlias=True %}

                        {% snippet 'snippets/technologies/technologies-stream.jinja2', request=request, UserTechs=alias.AliasTechnology, checkbox=True, checked=False, isAlias=True %}

                        <div class="stream" style="padding: 4px 0" onclick="showCreateTechnology()">
                            <div class="stream-badge">
                                <i class="fa fa-plus" style="color:#000000"></i>
                            </div>
                            <div class="stream-panel" style="margin-top: 4px">
                                <div class="stream-info">
                                    <strong class="label label-primary" style="font-size: 12px; background-color: #3c763d">{{ _("Create new technology option") }}</strong>
                                </div>
                            </div>
                        </div>

                        <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                            <input type="text" class="tech_id" name="tech_id" style="width: 100%;display:none" value="{{ tech_id }}">
                            <input type="text" id="txt_technologies_alias_included" name="txt_technologies_included" style="width: 100%;display:none">
                            <input type="text" id="txt_technologies_alias_excluded" name="txt_technologies_excluded" style="width: 100%; display:none">
                            <div class="row" style="padding-top: 10px; height: 50px">
                                <div class="col-md-12">
                                    <button class="btn btn-primary pull-right clm-actions" name="btn_save_technologies_alias" type="submit" id="btn_save_technologies_alias"><i class="fa fa-check"></i> {{ _("Save changes") }}</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 " id="create_new_alias" {% if not error_summary%}style="display:none" {% endif %}>
                <div class="ibox float-e-margins" >
                    <div class="ibox-title">
                        <h5>{{ _("New technology option details") }}</h5>
                        <div class="ibox-tools">
                            <button   class="btn btn-xs btn-default pull-right btn_cancel_technology_options" ><i class="fa fa-close btn_cancel_technology_options" style="color: black"></i> </button>
                        </div>
                    </div>
                    <div class="ibox-content animated fadeInRightBig" >

                        {% snippet 'snippets/error.jinja2', error_summary=error_summary %}
                        <p style="font-size: 14px">{{ _("Create an new level just for this project") }}</p>
                        <br>
                        <div class="error-desc">
                            <form class="form-horizontal" method="post" action="{{ request.path }}">
                                <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{{ _('Name:') }}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="tech_id" name="tech_id" style="width: 100%;display:none" value="{{ tech_id }}">
                                        <input type="text" class="form-control" value="{{ dataworking.alias_name }}" id="txt_add_alias" name="txt_add_alias" placeholder=" " required="" oninvalid="this.setCustomValidity('{{ _("Write the level name.") }}')" onchange="this.setCustomValidity('')">
                                    </div>
                                </div>
                                <button type="submit" name="btn_add_alias" class="btn btn-primary pull-right">{{ _("Add new technology option") }}</button>
                                <br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}

    </div>

    <script>

        $( ".classForEyes" ).hover(
          function() {
            $( this ).append( $( '<i style="color:#000000;" class="fa fa-eye"></i>' ) );
          }, function() {
            $( this ).find( "i" ).last().remove();
          }
        );

        function showVarieties(idtech)
        {
            $(".tech_id").val(idtech)
            $("#btn_show_technology_alias").click()
        }

        function showCreateTechnology()
        {
            $("#create_new_alias").css("display","initial");
        }


        $(".btn_cancel_technology_options").click(function(){
            $("#alias_in_project").css("display",'none')
            $("#create_new_alias").css("display",'none')
            $(".tech_id").val("")
            $("#txt_add_alias").val("")
        });


    </script>
{% endblock pagecontent %}
