{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Assign field agents") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','sweet' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','sweet' %}
    {% jsresource request,'coreresources','toastr' %}
    {% include 'snippets/delete.jinja2' %}
{% endblock topScripts %}

{% block pageheading %}
    {% set _title= _("Assign field agents") %}
    {% set _linkWiki="https://climmob.net/blog/wiki/assign-field-agents/" %}
    {% include 'snippets/menuheading.jinja2'%}
{% endblock %}

{% block pagecontent %}

    <div class="row" style="height: 100%">
        {% set onlySee = False %}

        {%  if activeProject["access_type"] in [4] %}
            {% set onlySee = True %}
        {% endif %}

        {%  if not onlySee %}
            <div class="col-lg-6 " style="height: 100%">
                <div class="ibox float-e-margins" style="height: 100%; margin-bottom: 0px">
                    <div class="ibox-title">
                        <h5>{{ _("Assign field agents") }}</h5>
                        <div class="ibox-tools">
                            <a class="btn btn-success btn-rounded  btn-xs" style="color: white" href="{{ request.route_url('enumerators',_query={'next': request.url}) }}"><i class="fa fa-plus-square"></i> {{  _("Add new field agent") }}</a>
                        </div>
                    </div>
                    <div class="ibox-content animated fadeInRightBig" style="height: 89%">
                        {% if error_summary %}
                            {% for key, error in error_summary.items() %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if enumerators %}
                            <form class="form-horizontal formElement" role="form" method="post" action="{{ request.path }}">
                                <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                    <tr>
                                        <th class="text-center">{{ _('Select to add') }}</th>
                                        <th class="text-center">{{ _('Field agent') }}</th>
                                    </tr>

                                    {% for enumerator in enumerators %}
                                        <tr>
                                            <td class="text-center">
                                                <input class="i-checks" type="checkbox" name="add{{ enumerator.enum_id }}[___]{{ enumerator.user_name }}"/>
                                            </td>
                                            <td >
                                                <div style="display: inline-block" title="{{ _("by") }} {{ enumerator.user_fullname }}" >
                                                    <p class="pull-left" style="margin: 0px">{{ enumerator.enum_name }}</p>
                                                    <p class="pull-left" style="margin: 0px; color: #1ab394">&nbsp;{{ _("by") }} {{ enumerator.user_fullname[0:12] }}{% if enumerator.user_fullname|length > 12 %}...{% endif %}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit" name="btn_modify_group"> {{ _('Assing field agents to the project') }}</button>
                                </div>
                            </form>
                        {% else %}
                            <div style="width: 100%; text-align: center">
                                {% if enumeratorsInProject %}
                                    <h3><b><a href="{{ request.route_url('enumerators',_query={'next': request.url}) }}" style="color: black">{{ _("Click to") }} <u style="color: #337ab7">{{ _("+ Add new field agent")}}</u> {{ _("to register more of them.")  }}</a></b></h3>
                                {% else%}
                                    <h3><b>{{ _("No field agents found. Register your field agents first. Go to Library (left panel) > Field agents.")  }}</b></h3>
                                {% endif %}

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-lg-6 " style="height: 100%">
            <div class="ibox float-e-margins" style="height: 100%; margin-bottom: 0px">
                <div class="ibox-title">
                    <h5>{{ _("Field agents assigned to the project") }}</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content animated fadeInRightBig" style="height: 89%">
                    {% if enumeratorsInProject %}
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <th class="text-center" >{{ _('Name') }}</th>
                                    {%  if not onlySee %}
                                        <th class="text-center" ></th>
                                    {% endif %}
                                </tr>

                                {% for enumeratorParent in enumeratorsInProject %}
                                    {% for enumerator in enumeratorsInProject[enumeratorParent] %}
                                        <tr>
                                            <td style="vertical-align: middle;">
                                                <div style="display: inline-block" title="{{ _("by") }} {{ enumerator.user_fullname }}" >
                                                    <p class="pull-left" style="margin: 0px">{{ enumerator.enum_name }}</p>
                                                    <p class="pull-left" style="margin: 0px; color: #1ab394">&nbsp;{{ _("by") }} {{ enumerator.user_fullname[0:12] }}{% if enumerator.user_fullname|length > 12 %}...{% endif %} </p>
                                                </div>
                                                {% if enumerator.enum_active != 1 %}
                                                    <span class="label label-danger">{{ _("Can not submit data") }}</span>
                                                {% endif %}
                                            </td>
                                            {%  if not onlySee %}
                                                <td class="text-center" style="vertical-align: middle;">
                                                    <button onclick="showDelete('{{ request.route_url('removeprjenumerator', user=activeProject["owner"]["user_name"] , project= activeProject["project_cod"],enumeratorid=enumerator.enum_id) }}','{{ _("Do you really want to remove this field agent?") }}','{{ request.session.get_csrf_token() }}')" type="button" class="btn btn-danger" title="{{_("Remove field agent")}}"><i class="fa fa-trash"></i> {{ _("Remove") }}</button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endfor %}

                            </tbody>
                        </table>
                        <div style="width: 100%; text-align: center">
                            <h3><b><a href="{{ request.route_url('productList') }}" style="color: #000000">{{ _("You can download a") }} <u style="color: #337ab7">{{ _("PDF document") }}</u> {{_("to configure ODK Collect on Android devices.") }}</a></b></h3>
                        </div>
                    {% else %}
                        <div style="width: 100%; text-align: center">
                            <h3><b>{{ _("No field agents assigned to this project.") }}</b></h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function() {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        })
    </script>

    {% include 'snippets/loading.jinja2' %}

{% endblock pagecontent%}
