<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            padding: 20px;
            color: #333;
            line-height: 1.6;
            margin: 0;
            text-align: center;
        !important;
        }

        .email-container {
            background-color: #ffffff;
            border: 1px solid #ddd;
            padding: 30px;
            border-radius: 6px;
            margin: 0 auto;
            width: 600px;
            display: inline-block;
        !important;
            text-align: left;
        }
    </style>
</head>
<body><div class="email-container">
    {% block email_body %}
        {% block email_hello %}
            <p style="margin-bottom: 15px;"><strong>{{ _('Dear user') }},</strong></p>
        {% endblock email_hello %}

        {% block email_message %}
            <p style="margin-bottom: 15px;">
                {{ _('We would like to inform you that the project ') }}
                <strong>{{ project_info["project_cod"] }} - {{ project_info["project_name"] }}</strong>
                {{ _('has been officially finalized ') }}.
            </p>
            <p style="margin-bottom: 15px;">
                {{ _('As part of the project lifecycle in ClimMob, once it is finalized, all related activities are
                closed and the project becomes locked for further modifications') }}.
            </p>
            <p>
            {{ _("This means that no additional data entries, edits, or updates can be made") }}.
            </p>
            <p>{{ _('You may still access the project to review its information and results according to the access
            permissions previously granted by the project owner') }}.</p>
            <p>
            {{ _("If applicable, and provided the project meets the minimum requirements, you will also be able to
            generate and access an analysis report from the platform.") }}
            </p>
            <p><strong>Project details:</strong></p>
            <br>
            <ul>{{ _('Project name') }}: <strong>{{ project_info["project_name"] }}</strong></ul>
            <ul>{{ _('Project principal investigator') }}: <strong>{{ project_info["project_pi"] }}</strong></ul>
            <ul>{{ _('Country') }}: <strong>{{ project_info["project_cnty"] }}</strong></ul>
            <ul>{{ _('Status') }}: <strong>
                {% if project_info["project_status"] == 0 %}
                    {{ _("Undefined") }}
                {% elif project_info["project_status"] == 1 %}
                    {{ _("Definition") }}
                {% elif project_info["project_status"] == 2 %}
                    {{ _("In progress") }}
                {% elif project_info["project_status"] == 3 %}
                    {{ _("Finalized") }}
                {% endif %}</strong></ul>
            <br>
            <p>{{ _("If you have questions regarding the project or its outcomes, please contact the project owner or the principal investigator.") }}</p>
            <p style="margin-bottom: 15px;">{{ _('Thank you for your participation and collaboration.') }}.</p>
        {% endblock email_message %}

        {% block email_goodbye %}
            <p style="margin-bottom: 0;">{{ _('Best regards,') }}<br>{{ _('The ClimMob team') }}</p>
            <br>
            <img src="{{ logo }}" style="width:50%; max-width:150px; height:auto;" >
        {% endblock email_goodbye %}
    {% endblock email_body %}
</div>
</body>
</html>


