{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Field agents") }}</title>
{% endblock title %}


{% block css %}
    {% cssresource request,'coreresources','sweet' %}
    {% cssresource request,'coreresources','switch' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','switch' %}
    {% jsresource request,'coreresources','sweet' %}

    {#    {% jsresource request,'coreresources','delete' %}#}
    {% jsresource request,'coreresources','toastr' %}
    {% include 'snippets/delete.jinja2' %}
{% endblock topScripts %}


{% block pageheading %}
    {% set _title= _("Field agents") %}
    {% set _linkWiki= "https://climmob.net/blog/wiki/field-agents-library/"%}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}

{% block pagecontent %}

    <div class="row">

        <div class="col-lg-6 ">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("Field agent details") }}</h5>
                    <div class="ibox-tools">
                        <button id="btn_cancel_enumerator"  class="btn btn-xs btn-default pull-right " ><i class="fa fa-close" style="color: black"></i> </button>
                    </div>
                </div>
                <div class="ibox-content" >
                    {% if error_summary %}
                        {% for key, error in error_summary.items() %}
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="error-desc">
                        <form class="form-horizontal formElement" role="form" method="post" action="{{ request.path }}" >
                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                            {% include 'snippets/enumerators/enumerator-form.jinja2'%}

                            <button type="submit" class="btn btn-primary pull-right btnsEnumerator" id="btn_add_enumerator" name="btn_add_enumerator"> {{ _('Add') }}</button>
                            <button type="submit" class="btn btn-primary pull-right btnsEnumerator" id="btn_modify_enumerator" name="btn_modify_enumerator" style="display: none"> {{ _('Save') }}</button>
                        </form>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-lg-6 ">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("Registered field agents") }}</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content" >
                    {% if searchEnumerator %}
                        <table class="table table-striped table-bordered">
                            <tbody>
                            <tr>
                                <th class="text-center">{{ _('Full name') }}</th>
                                <th class="text-center">{{ _('Username') }}</th>
                                <th class="text-center">{{ _('Password') }}</th>
                                <th class="text-center">{{ _('Status') }}</th>
                                <th class="text-center" style="min-width: 81px;"></th>
                            </tr>

                            {% for enumerator in searchEnumerator %}
                                <tr>
                                    <td style="vertical-align: middle;"> {{ enumerator.enum_name }}</td>
                                    <td style="vertical-align: middle;"> {{ enumerator.enum_id }}</td>
                                    <td style="vertical-align: middle;"> {{ enumerator.enum_password }}</td>
                                    <td style="vertical-align: middle;">

                                        {% if enumerator.enum_active == 1 %}
                                            <a class="btn btn-success btn-rounded btn-block btn-xs pull-left" href="#"><i class="fa fa-thumbs-o-up"></i> {{ _('Can submit data') }}</a>
                                        {% else %}
                                            <a class="btn btn-danger btn-rounded btn-block btn-xs pull-left" href="#"><i class="fa fa-thumbs-o-down"></i> {{ _('Cannot submit data') }}</a>
                                        {% endif %}

                                    </td>
                                    <td class="text-center" style="vertical-align: middle;">
                                        <button class="btn btn-warning btn-circle" onclick='seeEnumerator({{ enumerator.enum_name| tojson }},{{ enumerator.enum_id| tojson }},{{ enumerator.enum_password| tojson }},{{ enumerator.enum_active }})'  title="{{ _("Edit field agent") }}"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-danger btn-circle" onclick="showDelete('{{ request.route_url('deleteenumerator',enumeratorid = enumerator.enum_id)}}','{{ _("Do you really want to remove this field agent?") }}','{{ request.session.get_csrf_token() }}')" type="button" title="{{ _("Remove field agent") }}"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    {% else %}
                        <div style="width: 100%; text-align: center">
                            <h3><b>{{ _("No field agents to display") }}</b></h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>

    <script>

    $(document).ready(function () {

    });

    $(".formElement").bind("keypress", function(e) {
        if (e.keyCode == 13) {
            toastr.error("{{ _("Please click the button.") }}");
            return false;
        }
    });

    $("#btn_cancel_enumerator").click(function () {
        cleanButtons()
        cleanInputs()
        $("#btn_add_enumerator").css('display','initial')
        $("#div_submit_data").css("display",'none')
    })

    function seeEnumerator(name, id, password, check) {
        cleanButtons()
        cleanInputs()

        if (check == 1)
            $("[name='ckb_modify_status']").bootstrapSwitch('state',true);
        else
            $("[name='ckb_modify_status']").bootstrapSwitch('state',false);

        $("#enum_name").val(name)
        $("#enum_id").val(id)
        $("#enum_password").val(password)
        $("#enum_id").attr('readonly', true);

        $("#btn_modify_enumerator").css('display','initial')
        $("#div_submit_data").css("display",'initial')
    }

    function cleanButtons()
    {
        $(".btnsEnumerator").css("display",'none')
    }

    function cleanInputs()
    {
        $(".inputsEnumerators").val("")
        $("#enum_id").attr('readonly', false);
    }
    </script>

    {% include 'snippets/loading.jinja2' %}

{% endblock pagecontent %}

