{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Update enumerator") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','switch' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','enumerators' %}
    {% jsresource request,'coreresources','switch' %}
{% endblock topScripts %}

{% block pageheading %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ _("Update field agent") }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ request.route_url('enumerators') }}">{{ _("Field agents") }}</a>
                </li>
                <li class="active">
                    <strong>{{ _("Update") }}</strong>
                </li>
            </ol>
            <a href="https://climmob.net/blog/wiki/2019/09/30/update-field-agent/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('static/landing/info.png') }}" alt="info"/> </a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}

{% block pagecontent %}
    <div class="row">
        <div class="col-sm-12 ">
            <div class="ibox float-e-margins " >
                <div class="ibox-title">
                    <h5>{{ _("Personal information") }}</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                        {% snippet 'snippets/error.jinja2', error_summary=error_summary %}
                        <div class="row">
                            <div class="col-sm-6 b-r" style="min-height: 230px">

                                <div class="error-desc">
                                    <div class="error-desc">

                                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                                        {% snippet 'snippets/enumerators/enumerator-form.jinja2', dataworking=dataworking, modify=true %}

                                        <div class="text-center">
                                            <button class="btn btn-warning" type="submit" name="btn_modify_enumerator" style="position: absolute;bottom: 0;left: 0;right: 0;margin: auto;"> {{ _('Update field agent') }}</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="min-height: 230px">

{#                                <div class="form-group ">#}
{#                                    <label class="col-sm-4 control-label">{{ _('Old password') }} </label>#}
{#                                    <div class="col-sm-8"><input type="password" class="form-control" value="" id="enum_password" name="enum_password" placeholder=" "></div>#}
{#                                </div>#}

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{{ _('New password') }} </label>
                                    <div class="col-sm-8"><input type="password" class="form-control" value="" id="enum_password_new" name="enum_password_new" placeholder=" "></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">{{ _('Retype the new password') }} </label>
                                    <div class="col-sm-8"><input type="password" class="form-control" value="" id="enum_password_new_re" name="enum_password_new_re" placeholder=" "></div>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-warning " type="submit" name="btn_change_password" style="position: absolute;bottom: 0;left: 0;right: 0;margin: auto;"> {{ _('Change password') }}</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock pagecontent%}

{% if enumeratorModified == True %}
    {% block toastr %}
        {# Overwrite the toaster so it does not trigger the popup #}
    {% endblock toastr %}
{% endif %}

{% block script %}
    {% if enumeratorModified == True %}
        {# If a new project is just added then redirect the mainwindo to such project #}
        <script>
            window.top.location.href = "{{ request.route_url('enumerators') }}";
        </script>
    {% endif %}
{% endblock script %}