<div class="panel panel-warning">
    <div class="panel-heading">
        <i class="fa fa-info-circle"></i>
        {% if lang_answer_name %} {{ _("Remember: ") }}
        {% else %} {{ _("Before you fill up this form: ") }}
        {% endif %}

    </div>
    <div class="panel-body">
        <strong>
        {% if lang_answer_name %}
            {{_("This form displays the answers in the language they were saved in:")}} {{ lang_answer_name }}
        {% else %}
            {{ _("Please check your selected language.")}} <br>
            {{_("Your answers will be saved and displayed in that language.
            For consistency, use the same language across all metadata fields and make sure it matches the project
            language.") }}
    {% endif %}
        </strong>
        </div>

</div>
<br>
{% if form_to_use == 1 %}
    {% include template_table %}
{% else %}
    {% include template_form %}
{% endif %}