
    {% if activeProject["access_type"] in [4] %}
        {% set onlySee = True %}
    {% endif %}

    {% macro recursiveFunction(JsonInfo ,repeat_index=0, requireLabel=True) %}

        {% set relevant = JsonInfo.get('bind', {}).get('relevant') %}
        {% set data_relevant = JsonInfo.get('data_relevant') %}

        {% if JsonInfo["type"] in ["group", "survey"] %}

            {% if JsonInfo["name"] not in ["meta"] %}

                {% if "label" in JsonInfo.keys() %}
                    <div style="position: sticky; left: 0;top: 0; z-index: 59; background-color: white; width: 103%">
                        <br>
                        <h3><b>{{ JsonInfo["label"][request.locale_name] }}</b></h3>
                        {% if "hint" in JsonInfo.keys() %}
                            <p>{{ JsonInfo["hint"][request.locale_name]}}</p>
                        {% endif %}
                        <br>
                    </div>
                {% endif %}

                <div class="{{ JsonInfo["type"] }} {{ JsonInfo["type"] }}_{{ JsonInfo["name"] }} table-responsive" name="{{ JsonInfo["name"] }}" {% if JsonInfo["type"] %}id="{{ JsonInfo["name"] }}"{% endif %}  style="border: 2px solid {% if JsonInfo["type"] == "repeat" %}#1ab394{% else %}#e7eaec{% endif %}; padding-left: 20px;padding-right: 20px; margin-bottom: 20px;  {% if  JsonInfo["type"] == "group"  %} max-height: 800px;  margin-top: 20px; {% endif %}"
                     {% if relevant %}  data-depends-on="{{ relevant }}" {% endif %}
                     {% if data_relevant %}  data-relevant="{{ data_relevant }}" {% endif %} >

                    {% if "children" in JsonInfo.keys() %}
                        {% for child in JsonInfo["children"] recursive %}
                            {{ recursiveFunction(child, repeat_index, JsonInfo["type"]) }}
                        {% endfor %}
                    {% endif %}

                </div>

            {% endif %}

        {% elif JsonInfo["type"] in ["repeat"] %}

            {% if JsonInfo["name"] not in ["meta"] %}

                {% if "label" in JsonInfo.keys() %}
                    <div stickyname="stickyA" style="position: sticky; left: 0;top: 0; z-index: 59; background-color: white; width: 103%" >
                        <br>
                        <h3><b>{{ JsonInfo["label"][request.locale_name] }}</b></h3>
                        {% if "hint" in JsonInfo.keys() %}
                            <p>{{ JsonInfo["hint"][request.locale_name]}}</p>
                        {% endif %}
                        <br>
                    </div>
                {% endif %}

                <table class="table table-striped table-bordered {{ JsonInfo["type"] }} {{ JsonInfo["type"] }}_{{ JsonInfo["name"] }}" name="{{ JsonInfo["name"] }}" style="table-layout: fixed; will-change: transform; overflow-x: clip;" >
                    <tr  stickyname="stickyB" style="position: sticky; left: 0;; z-index: 99999 !important; " >
                        {% if "children" in JsonInfo.keys() %}
                            {% for child in JsonInfo["children"] recursive %}
                                <th
                                        {% if relevant %}  data-depends-on="{{ relevant }}" {% endif %}
                                        {% if data_relevant %}  data-relevant="{{ data_relevant }}" {% endif %}
                                        style="width:{% if child["size_on_table"] %}{{  child["size_on_table"] }}{% else %}{{ 200 }}{% endif %}px; {% if child["show_interface"] =="no" %}display: none;{% endif %};">
                                    {{ child["label"][request.locale_name] }}
                                </th>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    <tr>
                        {% if "children" in JsonInfo.keys() %}
                            {% for child in JsonInfo["children"] recursive %}
                                <td {% if child["show_interface"] =="no" %}style="display: none"{% endif %}
                                {% if relevant %}  data-depends-on="{{ relevant }}" {% endif %}
                                        {% if data_relevant %}  data-relevant="{{ data_relevant }}" {% endif %}
                                        {% if child["bind"] and "jr:requiredMsg" in child["bind"] %}
                                            customMessage = "{{ child["bind"]["jr:requiredMsg"][request.locale_name].replace("'"," ") }}"
                                        {% endif %}
                                >
                                    {{ recursiveFunction(child, repeat_index, False) }}

                                </td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                </table>

                <button type="button" class="btn btn-primary duplicate-repeat"
                        {% if relevant %}  data-depends-on="{{ relevant }}" {% endif %}
                        {% if data_relevant %}  data-relevant="{{ data_relevant }}" {% endif %}
                        onclick="duplicateRepeatBlock($(this),'{{ JsonInfo["type"] }}_{{ JsonInfo["name"] }}')" {% if onlySee or ("allow_more" in JsonInfo.keys() and JsonInfo["allow_more"] == "no") %}style="display: none" {% endif %}><i class="fa fa-plus"></i> {{ _('Add other row') }}</button><br>
                <hr>

            {% endif %}

        {% else %}

            {% if JsonInfo["type"] in ["text","select one","integer", "select all that apply", "date"] %}

                {% if requireLabel %}
                    <div class="form-group"
                            {% if relevant %}  data-depends-on="{{ relevant }}" {% endif %}
                            {% if data_relevant %}  data-relevant="{{ data_relevant }}" {% endif %}>

                        <div class="col-sm-12" >
                            <h3>{{ JsonInfo["label"][request.locale_name] }} {% if "bind" in JsonInfo.keys() and "required" in JsonInfo["bind"].keys() and JsonInfo["bind"]["required"] == "yes" %}{% else %}({{ _("Optional") }}){% endif %}</h3>
                            {% if "hint" in JsonInfo.keys() %} <p>{{ JsonInfo["hint"][request.locale_name] }}</p>{% endif %}

                            {% include inputs %}

                        </div>
                    </div>
                {% else %}
                    {% include inputs %}
                {% endif %}

            {% endif %}

        {% endif %}
    {% endmacro %}



{{ recursiveFunction(Form) }}


<script>
    if (typeof window.counter === 'undefined') {
        window.counter = 1;
    }

    $(document).ready(function () {

        $('.input-group.date').datepicker({
            language: '{{ request.locale_name }}',
            startView: 0,
            //todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "dd-mm-yyyy"
        });

        $('.chosen-select').select2({width: "100%"});

        $(".js-example-data-ajax").select2({
            templateResult: formatUser,
            ajax: {
                url: "{{ request.route_url('api_select2_all_users') }}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;

                    data.results.forEach(function(element)
                    {
                        element.id = element.text+ ' - '+ element.user_email
                    })

                    if (data.results.length === 0 && params.term) {
                        data.results.push({
                            id: params.term,
                            text: "{{ _("External contributor") }}: " + params.term,
                        });
                    }

                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 10) < data.total
                        }
                    };
                },
                cache: true
            }
        });

        $(".js-example-data-ajax-affi").select2({
            tags: true,
            createTag: function (params){
                const term = $.trim(params.term);
                if (term === '') return null;

                return {
                    id: params.term,
                    text: "{{ _("New affiliation") }}: "+ params.term,
                }
            }
        });

        {% if postData %}
            showData({{ postData }})
        {% endif %}

    });

    function showData(postData){
        methodRecursiveToShowInformation(postData, $("#spaceForPutTheForm"))
    }

    function methodRecursiveToShowInformation(postData, parentElement) {
        if (typeof postData === "object" && postData !== null) {
            for (const key in postData) {
                if (!postData.hasOwnProperty(key)) continue;

                // Validar que la clave es una cadena
                if (typeof key !== "string") {
                    continue;
                }

                // Buscar el elemento en el DOM
                const child = parentElement.find(`[name="${key}"]`);

                if (child.length === 0) {
                    continue;
                }

                // Procesar el valor según el tipo de input
                const value = postData[key];
                if (child.is("input, textarea, select")) {

                    if (child.hasClass("chosen-select")) {
                        if (child.hasClass("dropdown_for_varieties")) {
                            child.empty();
                            var list_of_synonyms = {{ technologies_with_synonyms }};
                            if (list_of_synonyms[postData["climmob_technology_id"]+"_"+postData["climmob_technology_option_id"]] !== undefined)
                            {
                                list_of_synonyms[postData["climmob_technology_id"] + "_" + postData["climmob_technology_option_id"]].forEach(element => {
                                    child.append($('<option>').val(element.option).text(element.option));
                                });
                            }else{
                                child.append($('<option>').val(value).text(value));
                            }

                            child.val(value);
                            child.trigger('change');
                        }else{
                            child.val(value);
                            child.trigger("change");
                        }
                    }else if (child.hasClass("js-example-data-ajax")){
                        child.append($('<option>').val(value).text(value));
                        child.val(value);
                        child.trigger('change');
                    }else if (child.hasClass("js-example-data-ajax-affi")){
                        var existe = child.find('option[value="'+value+'"]').length > 0;
                        if(!existe)
                        {
                            child.append($('<option>').val(value).text(value));
                        }
                        child.val(value);
                        child.trigger('change');
                    }else if(child.hasClass("datepicker")){
                        child.datepicker({
                            language: '{{ request.locale_name }}',
                            format:'dd-mm-yyyy',
                        });
                        child.datepicker("update", value);
                    }else{
                        child.val(value);
                    }
                } else if (child.hasClass("repeat")) {
                    if (Array.isArray(value)) {
                        const repeatId = child.attr("name");

                        for (let i = 0; i < value.length; i++) {
                            if (i > 0) {
                                var button = child.siblings(".duplicate-repeat").last()

                                duplicateRepeatBlock(button, "repeat_"+repeatId); // Clonar si es necesario
                            }

                            const repeatBlocks = parentElement.find(`.repeat_${repeatId}`).last();
                            var rowWorking = repeatBlocks.find('tbody tr').last();
                            methodRecursiveToShowInformation(value[i], rowWorking);
                        }
                    }
                } else if (child.hasClass("group") || child.hasClass("survey")) {
                    methodRecursiveToShowInformation(value, child);
                }else{
                    alert("Nada")
                }
            }
        }
    }




    function formatUser (user) {
        if (!user.id) {
            return user.text;
        }
        var add = ""
        if (user.user_email) {
            add= ' - '+ user.user_email
        }
        let $state = $(
            '<span>' + user.text+ add + '</span>'
        );
        return $state;
    }

    function processGroup(groupElement, result) {
        const groupName = groupElement.attr("name");
        // Recorremos todos los hijos inmediatos del grupo
        groupElement.children().each(function () {
            const child = $(this);

            if (child.hasClass("group")) {

                if (!result[groupName]) {
                    result[groupName] = {};
                }

                processGroup(child, result[groupName]);

            } else if (child.hasClass("repeat")) {
                // Si es un repeat, procesamos los elementos dentro de este repeat
                const repeatName = child.attr("name");

                if (!result[groupName]) {
                    result[groupName] = {};  // Inicializamos el grupo si no existe
                }
                if (!result[groupName][repeatName]) {
                    result[groupName][repeatName] = [];  // Inicializamos el array para el repeat
                }

                child.find("tr").each(function () {
                    var repeatResult = {}

                    $(this).find("td").each(function () {

                        $(this).children("input").each(function () {
                            repeatResult[$(this).attr("name")] = $(this).val()
                        })

                        $(this).children("textarea").each(function () {
                            repeatResult[$(this).attr("name")] = $(this).val()
                        })

                        $(this).children("select").each(function () {
                            repeatResult[$(this).attr("name")] = $(this).val()
                        })

                    });

                    if(Object.keys(repeatResult).length > 0)
                    {
                        result[groupName][repeatName].push(repeatResult)
                    }

                });

            } else if (child.is("input")) {

                if (groupName !== undefined)
                {
                    result[groupName] = result[groupName] || {};
                    result[groupName][child.attr("name")] = child.val();
                }else{
                    if (child.attr("name"))
                    {
                        result[child.attr("name")] = child.val();
                    }
                }
            }else if (child.is("textarea")) {
                if (groupName !== undefined)
                {
                    result[groupName] = result[groupName] || {};
                    result[groupName][child.attr("name")] = child.val();
                }else{
                    result[child.attr("name")] = child.val();
                }
            }else if (child.is("select")) {
                if (groupName !== undefined)
                {
                    result[groupName] = result[groupName] || {};
                    result[groupName][child.attr("name")] = child.val();
                }else{
                    result[child.attr("name")] = child.val();
                }
            }else{

                if (groupName === undefined)
                {
                    processGroup(child, result);
                }else{
                    if (!result[groupName]) {
                        result[groupName] = {};  // Inicializamos el grupo si no existe
                    }
                    processGroup(child, result[groupName]);
                }

            }
        });
    }

    function duplicateRepeatBlock(button, repeatId) {
        // Encuentra el contenedor `.repeat` más cercano al botón
        const repeatContainer = button.siblings("."+repeatId).last();

        if (repeatContainer.length > 0) {
            // Clona el `repeat` completo
            var lastRow = repeatContainer.find('tbody tr').last();
            const newRepeat = lastRow.clone(false, false);

            newRepeat.find('.cloned').remove();

            newRepeat.addClass('cloned');

            newRepeat.find('.chosen-container').remove();
            newRepeat.find('.select2-container').remove();
            var allowRemove = newRepeat.find('.remove-repeat').attr("allowRemove");

            if(allowRemove ==="no")
            {
                newRepeat.find('.remove-repeat').css("display","none");
            }else{
                newRepeat.find('.remove-repeat').css("display","inline-block");
            }

            newRepeat.find('input, select, textarea').each(function () {

                const baseDropDown = $(this).data("dropdown-id");
                if (baseDropDown) {
                    const nameQuestion = baseDropDown.toString().split("*")[0];
                    const newNameDropdown = `${nameQuestion}*${counter}`; //
                    $(this).attr("data-dropdown-id", newNameDropdown);
                }

                if ($(this).is('textarea')) {
                    const currentNameText = $(this).attr('name-text-check');
                    if (currentNameText && currentNameText.includes('_other')) {
                        let nameQuestion = currentNameText.split('_other')[0];
                        if (nameQuestion.includes('*')){
                            nameQuestion = nameQuestion.split('*')[0];
                        }
                        const newNameText = `${nameQuestion}*${counter}_other`;
                        $(this).attr("name-text-check", newNameText);
                    }
                }
                $(this).val(''); // Limpia valores
            });

            lastRow.after(newRepeat);

            newRepeat.find('.chosen-select').each(function() {
                $(this).select2({width: "100%"});
                $(this).on('select2:select select2:unselect', function () {
                    toggleConfirmationGroup(this);
                    toggleOtherField(this);
                })
            });

            newRepeat.find('.input-group.date').each(function() {
                $(this).datepicker({
                    language: '{{ request.locale_name }}',
                    startView: 0,
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                    format: "dd-mm-yyyy"
                });
            })

            newRepeat.find('.js-example-data-ajax').each(function (){
                $(this).select2({
                    templateResult: formatUser,
                    ajax: {
                        url: "{{ request.route_url('api_select2_all_users') }}",
                        dataType: 'json',
                        delay: 250,
                        data: function (params) {
                            return {
                                q: params.term, // search term
                                page: params.page
                            };
                        },
                        processResults: function (data, params) {
                            params.page = params.page || 1;

                            data.results.forEach(function(element)
                            {
                                element.id = element.text+ ' - '+ element.user_email
                            })

                            if (data.results.length === 0 && params.term) {
                                data.results.push({
                                    id: params.term,
                                    text: "{{ _("External contributor") }}: " + params.term,
                                });
                            }

                            return {
                                results: data.results,
                                pagination: {
                                    more: (params.page * 10) < data.total
                                }
                            };
                        },
                        cache: true
                    }
                });
            })

            newRepeat.find('.js-example-data-ajax-affi').each(function (){
                $(this).select2({
                    tags: true,
                    createTag: function (params){
                        const term = $.trim(params.term);
                        if (term === '') return null;

                        return {
                            id: params.term,
                            text: "{{ _("New affiliation") }}: "+ params.term,
                        }
                    }
                });
            })
                window.counter++;
        } else {
            console.warn('No se encontró un contenedor `.repeat` asociado al botón.');
        }
    }

    function removeRepeatBlock(button, classes) {
        const repeatBlock = button.closest('.'+classes);

        if (repeatBlock) {
            repeatBlock.remove();
        }

    }

        function toggleOtherField(selectElement) {

        const dropdownId = selectElement.dataset.dropdownId;
        const selectedOptions = selectElement.selectedOptions;
        const nameQuestion = dropdownId.split('#')[1];
        const divNameOther = 'div_' + nameQuestion + '_other';
        const textAreaNameOther = 'text_' + nameQuestion + '_other';
        const divElement = document.querySelector(`[div-name="${divNameOther}"]`);
        const textareaElement = document.querySelector(`[name-text-check="${textAreaNameOther}"]`);

        let has_Other_selected = false;
        for (let option of selectedOptions) {
            if (option.dataset.isOther === "yes"  ) {
                has_Other_selected = true;
                break;
            }
        }
        if (has_Other_selected) {
            if (divElement) divElement.style.display = "block";
            if (textareaElement){
                textareaElement.required = true;
                textareaElement.style.display = "block";
            }
        } else {
            if (divElement) divElement.style.display = "none";
            if (textareaElement) {
                textareaElement.required = false;
                textareaElement.value = '';
                textareaElement.style.display = "none";
            }
        }
    }

    // toggles the other field
    $('select[data-dropdown-id]').on('select2:select select2:unselect', function () {
        toggleConfirmationGroup(this);
        toggleOtherField(this);
    });

    // Check the load of the page
    setTimeout(function () {
        $('select[data-dropdown-id]').each(function () {
            toggleConfirmationGroup(this);
            toggleOtherField(this);
        });
    }, 200);

    function integerDependsIfOtherWasSet(sourceField, targetFieldName){
        const this_row = sourceField.closest('tr');
        if (!this_row) return;
        const targetField = this_row.querySelector(`[name="${targetFieldName}"]`);
        if (!targetField) return;
        if (sourceField.value && sourceField.value.trim() !== '') {
            targetField.removeAttribute('required')
        } else {
            targetField.setAttribute('required', 'required');
        }
        document.addEventListener('change', function(e){

    const td = e.target.closest('td');
    if (td && td.classList.contains('is-invalid')) {
        td.classList.remove('is-invalid');
    }
});
    }


    function resolveContainer(el) {
        if (el.tagName === 'TR') return el;
        if (el.tagName === 'TD' || el.tagName === 'TH') return el;

        return el.closest('td, th, tr') || el;
    }

    function toggleConfirmationGroup(selectElement) {

        const dropdownId = selectElement.dataset.dropdownId;
        if (!dropdownId) {
            return;
        }
        const masterFieldName = dropdownId.split('#')[1].split('*'[0]);

        const selectedOptions = Array.from(selectElement.selectedOptions);
        const selectedRelevants = selectedOptions
            .map(opt => opt.dataset.relevant)
            .filter(Boolean);

        const dependentDivs = document.querySelectorAll(
          `[data-depends-on="${masterFieldName}"]:not([div-name])`
        );

        dependentDivs.forEach((div, i) => {
            const divRelevant = div.dataset.relevant;

            let shouldShow;
            if (selectedRelevants.length === 0) {
                shouldShow = !divRelevant;
            } else {
                shouldShow = !divRelevant || selectedRelevants.includes(divRelevant);
            }
            if (shouldShow) {
                div.style.display = '';
                div.querySelectorAll('input, select, textarea').forEach(field => {
                    field.required = true;
                    if(field.tagName === 'SELECT'){
                    div.querySelectorAll('select').forEach(select => {
                        toggleOtherField(select);
                    });
                    }
                });
            } else {
                div.style.display = 'none';

                div.querySelectorAll('input, select, textarea').forEach(field => {
                    field.required = false;
                    field.value = '';

                    if (field.tagName === 'SELECT') {
                        field.dispatchEvent(
                            new Event('change', { bubbles: true })
                        );
                    }
                });
            }
        });
    }

document.addEventListener('input', function(e){
        const td = e.target.closest('td');
        if (td && td.classList.contains('is-invalid')) {
            td.classList.remove('is-invalid');
            const msg = td.querySelector('.td-error-msg');
            if (msg) msg.remove();
        }
    });

document.addEventListener('change', function(e){

    const td = e.target.closest('td');
    if (td && td.classList.contains('is-invalid')) {
        td.classList.remove('is-invalid');
    }
});

$(document).on('select2:select', 'select', function (e) {
    const td = this.closest('td');
    if (td) td.classList.remove('is-invalid');
     td.classList.remove('is-invalid');
    const msg = td.querySelector('.td-error-msg');
    if (msg) msg.remove();
});

document.addEventListener('invalid', function(e){
    e.preventDefault();
    const target = e.target;
    const td = target.closest('td');
    if (td) {
        td.classList.add('is-invalid');
    }



    const oldMsg = td.querySelector('.td-error-msg');
    if (oldMsg) oldMsg.remove();
    const msg = document.createElement('div');
    msg.className = 'td-error-msg';

    if($(td).attr("custommessage")) {
        msg.textContent = $(td).attr("custommessage");
    }else {
        msg.textContent = target.validationMessage
    }
    td.appendChild(msg);

}, true);

document.addEventListener('submit', function(e){
    const form = e.target;
    if (!form.checkValidity()) {
        e.preventDefault();
    }
})


const a = document.querySelector('[stickyname="stickyA"]');
const b = document.querySelector('[stickyname="stickyB"]');

const ro = new ResizeObserver(() => {
    const alturaA = a.getBoundingClientRect().height;
    b.style.top = alturaA + 'px';
});

ro.observe(a);

</script>