{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Share project with other users") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','select2' %}
    {% cssresource request,'coreresources','sweet' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','select2' %}
    {% jsresource request,'coreresources','sweet' %}
    {% include 'snippets/delete.jinja2' %}
    {% jsresource request,'coreresources','toastr' %}
{% endblock topScripts %}

{% block pageheading %}
    {% set _title= _("Share project with other users") %}
    {% set _linkWiki="" %}
    {% include 'snippets/menuheading.jinja2'%}
{% endblock %}

{% block pagecontent %}
    <div class="row" style="height: 100%">
        <div class="col-lg-6 " style="height: 100%">
            <div class="ibox float-e-margins" style="height: 100%; margin-bottom: 0px">
                <div class="ibox-title">
                    <h5>{{ _("Share project") }}</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content animated fadeInRightBig" style="height: 89%">
                    {% if error_summary %}
                        {% for key, error in error_summary.items() %}
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form class="form-horizontal formElement" role="form" method="post" action="{{ request.path }}">
                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ _("User with whom you want to share the project") }}</label>
                                <div class="col-sm-6">
                                    <select name="user_name" style="width: 100%; !important;" class="js-example-data-ajax form-control" required oninvalid="this.setCustomValidity('{{ _("Select one user.") }}')" onchange="this.setCustomValidity('')"></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group "  style="margin: 0px">
                                <div class="col-sm-12" style="padding-left: 8px; padding-right: 0px">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i> {{ _("Explanation of roles") }}
                                        </div>
                                        <div class="panel-body">
                                            <table class="table table-striped table-bordered">
                                                <tr>
                                                    <th>{{ _("Role") }}</th>
                                                    <th style="text-align: center">{{ _("Explanation") }}</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ _("Owner") }}</td>
                                                    <td>{{ _("This role is assigned by default to the user responsible for creating the project.") }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ _("Admin") }}</td>
                                                    <td>{{ _("This user have full control of the project and can share it with other users.") }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ _("Editor") }}</td>
                                                    <td>{{ _("This user can make changes to any section of the project; however do not have permission to share the project.") }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ _("Member") }}</td>
                                                    <td>{{ _("This user can only see the information in each section of the Project, without making any change.") }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ _("Role for the user") }}</label>
                                <div class="col-sm-8">
                                    <div class="i-checks"><label> <input type="radio" value="2" name="access_type"> <i></i> {{ _("Admin") }} </label></div>
                                    <div class="i-checks"><label> <input type="radio" value="3" name="access_type"> <i></i> {{ _("Editor") }} </label></div>
                                    <div class="i-checks"><label> <input type="radio" value="4" name="access_type" checked> <i></i> {{ _("Member") }} </label></div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button id="btnShareProject" name="btnShareProject" onclick="" type="submit" class="btn btn-primary pull-right ">{{ _("Share project") }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 " style="height: 100%">
            <div class="ibox float-e-margins" style="height: 100%; margin-bottom: 0px">
                <div class="ibox-title">
                    <h5>{{ _("Users collaborating in the project") }}</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content animated fadeInRightBig" style="height: 89%">
                    {% if usersCollaborators %}
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <th class="text-center" >{{ _('Name') }}</th>
                                    <th class="text-center" >{{ _('Rol') }}</th>
                                    <th class="text-center" >{{ _('Action') }}</th>
                                </tr>
                                {% for collaborator in usersCollaborators %}
                                    <tr>
                                        <td style="vertical-align: middle">{{ collaborator.user_fullname }}</td>
                                        <td>
                                            {% if collaborator.access_type == 1 %}
                                                 <div class="bg-primary p-xs b-r-lg"> {{ _("Owner") }}</div>
                                            {% else %}
                                                {% if collaborator.access_type == 2 %}
                                                     <div class="bg-success p-xs b-r-lg"> {{ _("Admin") }}</div>
                                                {% else %}
                                                    {% if collaborator.access_type == 3 %}
                                                         <div class="bg-info p-xs b-r-lg"> {{ _("Editor") }}</div>
                                                    {% else %}
                                                        {% if collaborator.access_type == 4 %}
                                                             <div class="bg-muted p-xs b-r-lg"> {{ _("Member") }}</div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td style="text-align: center; vertical-align: middle; max-width: 74px">
                                            {% if collaborator.access_type != 1 %}
                                                <button class="btn btn-danger " onclick="showDelete('{{ request.route_url('removeprjshare', user=activeProject["owner"].user_name, project=activeProject.project_cod, collaborator=collaborator.user_name)}}','{{ _("Do you really want to delete this collaborator?") }}','{{ request.session.get_csrf_token() }}')" type="button" title="{{ _("Delete collaborator") }}"><i class="fa fa-trash"></i> {{ _("Delete") }}</button>
                                            {% else %}
                                                {{ _("The project owner can't be removed") }}
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div style="width: 100%; text-align: center">
                            <h3><b>{{ _("There are no users collaborating in this project.") }}</b></h3>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    
    <script>
    $(document).ready(function(){


            function formatUser (user) {
                if (!user.id) {
                    return user.text;
                }
                let $state = $(
                    '<span><img src="' + user.gravatar + '?name=' + user.text + '&size=45" class="img-flag" /> ' + user.text + '</span>'
                );
                return $state;
            }


            $(".js-example-data-ajax").select2({
                templateResult: formatUser,
                ajax: {
                    url: "{{ request.route_url('api_select2_users',user=activeProject["owner"].user_name, project=activeProject["project_cod"]) }}",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        return {
                            results: data.results,
                            pagination: {
                                more: (params.page * 10) < data.total
                            }
                        };
                    },
                    cache: true
                }
            });
    });
        
    </script>
    
    {% include 'snippets/loading.jinja2' %}

{% endblock pagecontent%}
