<div class="form-group">
    <label class="col-sm-4 control-label">{{ _("Question asked") }}:</label>
    <div class="col-sm-8">
        <textarea rows="2" maxlength="120" class="form-control inputForQuestion inputForQuestionPerf" required oninvalid="this.setCustomValidity('{{ _("Write the statement.") }}')" onchange="this.setCustomValidity('')" name="question_perfstmt" id="question_perfstmt" placeholder=" " {% if editable != True %}readonly{%endif%}></textarea>
        <span class="help-block m-b-none text-left">{{ _("Example") }}: <em>{{ _("In terms of taste, how does") }} <b>&#123;&#123;{{ _("option") }}&#125;&#125;</b> {{ _("compares with the variety you usually use?") }}</em></span>
    </div>
</div>