ago==0.0.93
alembic==1.4.2
amqp==2.6.1
appdirs==1.4.4
arrow==0.15.8
attrs==19.3.0
Babel==2.8.0
backports.csv==1.0.7
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.1
billiard==3.6.3.0
binaryornot==0.4.4
black==19.10b0
cairocffi==1.1.0
CairoSVG==2.4.2
celery==4.4.2
certifi==2020.6.20
cffi==1.14.1
Chameleon==3.8.1
chardet==3.0.4
cheroot==8.4.4
CherryPy==18.6.0
click==7.1.2
cookiecutter==1.7.2
cryptography==3.0
cssselect2==0.3.0
decorator==4.4.2
defusedxml==0.6.0
docxtpl==0.10.0
fanstatic==1.1
feedparser==5.2.1
folium==0.11.0
FormEncode==1.3.1
future==0.18.2
gevent==20.6.2
greenlet==0.4.16
gunicorn==20.0.4
html5lib==1.1
hupper==1.10.2
idna==2.10
imgkit==1.0.2
importlib-metadata==1.7.0
importlib-resources==3.0.0
inflect==4.1.0
ipaddress==1.0.23
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
Jinja2==2.11.2
jinja2-time==0.2.0
joblib==0.16.0
kombu==4.6.10
linecache2==1.0.0
lingua==4.14
lxml==4.5.2
Mako==1.1.3
MarkupSafe==1.1.1
more-itertools==8.4.0
mysql-connector-python==8.0.21
mysqlclient==2.0.1
nltk==3.5
nose==1.3.7
numpy==1.19.1
PasteDeploy==2.1.0
pathspec==0.8.0
Pattern==3.6
pdfminer.six==20200726
Pillow==7.2.0
plaster==1.0
plaster-pastedeploy==0.7
polib==1.1.0
portend==2.6
poyo==0.5.0
protobuf==3.12.4
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.9.8
Pygments==2.6.1
Pyphen==0.9.5
pypng==0.0.20
pyramid==1.10.4
pyramid-debugtoolbar==4.6.1
pyramid-fanstatic==0.6
pyramid-jinja2==2.8
pyramid-mako==1.1.0
pyramid-tm==2.4
pyTelegramBotAPI==3.7.2
python-dateutil==2.8.1
python-docx==0.8.10
python-editor==1.0.4
python-slugify==4.0.1
pytz==2020.1
PyUtilib==6.0.0
pyxform==1.3.3
qrcode==6.1
qrtools==0.0.2
redis==3.5.3
regex==2020.7.14
repoze.lru==0.7
requests==2.24.0
rutter==0.3
scipy==1.5.2
shutilwhich==1.1.0
six==1.15.0
sortedcontainers==2.2.2
soupsieve==2.0.1
SQLAlchemy==1.3.18
SQLAlchemy-Utils==0.36.8
tempora==4.0.0
text-unidecode==1.3
timeago==1.0.14
tinycss2==1.0.2
toml==0.10.1
tqdm==4.48.2
traceback2==1.4.0
transaction==3.0.0
translationstring==1.4
typed-ast==1.4.1
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.25.10
validators==0.17.1
venusian==3.0.0
vine==1.3.0
waitress==1.4.4
WeasyPrint==51
webencodings==0.5.1
WebHelpers2==2.0
WebOb==1.8.6
whichcraft==0.6.1
xlrd==1.2.0
XlsxWriter==1.3.3
zc.lockfile==2.0
zipp==3.1.0
zope.deprecation==4.4.0
zope.event==4.4
zope.interface==5.1.0
zope.sqlalchemy==1.3