<li>
    <a href="{{ request.route_url('dashboard', _query={'project':project.project_cod}) }}">
        <h4>{{ project.project_name|truncate(35) }}</h4>
        {{ project.project_abstract|truncate(110) }}

        <div class="small">{{ _("Setup") }} {{ project.perc }}% {{ _("completed") }}</div>
        <div class="progress progress-mini">
            <div style="width: {{ project.perc }}%;" class="progress-bar progress-bar-success"></div>
        </div>
        {% set pbtype = "progress-bar-info" %}
        {% if project.progress.regsubmissions == 0 %}
            <div class="small">{{ _("Registry: Not yet started") }}</div>
        {% endif %}
        {% if project.progress.regsubmissions == 1 %}
            <div class="small" title="{{ _("Out of a sample of") }} {{ project.project_numobs }} {{ _("observations") }}">{{ _("Registry: On going with") }} {{ project.progress.regtotal }} {{ request.h.pluralize(_("submission"),project.progress.regtotal) }}</div>
        {% endif %}
        {% if project.progress.regsubmissions == 2 %}
            <div class="small" title="{{ _("Out of a sample of") }} {{ project.project_numobs }} {{ _("observations") }}">{{ _("Registry: Closed with") }} {{ project.progress.regtotal }} {{ request.h.pluralize(_("submission"),project.progress.regtotal) }}</div>
            {% if project.progress.regperc >= 100 %}
                {% set pbtype = "progress-bar-success" %}
            {% else %}
                {% set pbtype = "progress-bar-warning" %}
            {% endif %}
        {% endif %}
        <div class="progress progress-mini">
            <div style="width: {{ project.progress.regperc }}%;" class="progress-bar {{ pbtype }}"></div>
        </div>
        {% if project.progress.asssubmissions == 0 %}
                <div class="small">{{ _("Assessments not yet started") }}</div>
        {% endif %}
        {% for assessment in project.progress.assessments %}
            {% set pbtype = "progress-bar-info" %}
            {% if assessment.ass_status == 1 %}
                <div class="small">{{ _("Assessment") }} "{{ assessment.ass_desc }}". {{ _("On going with") }} {{ assessment.asstotal }} {{ request.h.pluralize(_("submission"),assessment.asstotal) }}</div>
            {% endif %}
            {% if assessment.ass_status == 2 %}
                <div class="small">{{ _("Assessment") }} "{{ assessment.ass_desc }}". {{ _("Closed with") }} {{ assessment.asstotal }} {{ request.h.pluralize(_("submission"),assessment.asstotal) }}</div>
                {% if assessment.assperc >= 100 %}
                    {% set pbtype = "progress-bar-success" %}
                {% else %}
                    {% set pbtype = "progress-bar-warning" %}
                {% endif %}
            {% endif %}

            <div class="progress progress-mini">
                <div style="width: {{ assessment.assperc }}%;" class="progress-bar {{ pbtype }}"></div>
            </div>
        {% endfor %}

        <div class="small text-muted m-t-xs" title="{{ request.h.readble_date(project.project_creationdate) }}">{{ _("Project created") }}: {{ request.h.humanize_date(project.project_creationdate) }}</div>
    </a>
</li>