<div>
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{ _("Publish data") }}</h5>
        </div>
        <div class="ibox-content">
            <br>
            <h3> {{ _("Lorem ipsum") }}</h3>
            <br>
            <button class="btn btn-success btn-rounded btn-block" {% if activeProject.project_status != 3 %} title="Project must be finalized in order to publish it" disabled {% endif %}
               style="width: 100%; overflow: hidden;text-overflow: ellipsis;"
               onclick="location.href = '{{ request.route_url('project_publish',user=activeProject["owner"].user_name, project=activeProject.project_cod) }}'">
                <i class="fa fa-upload"></i>
                {{ _("Publish") }}
            </button>
        </div>
    </div>
</div>
