{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Cancel participant registration form") }}</title>
{% endblock title %}

{% block pageheading %}
    {% set _title= _("Cancel participant registration form") %}
    {% set _linkWiki="https://climmob.net/blog/wiki/cancel-form/" %}
    {% include 'snippets/menuheading.jinja2'%}
{% endblock %}

{% block pagecontent %}
    {% if redirect == False %}
        {% block dltqstmessage %}
            <div class="text-center">
                <h2 class="font-bold text-danger">{{ _("You are going to cancel the participant registration form") }}<br/><span style="color: red">{{ _("All submitted data will be deleted!") }}</span></h2>
                <p>
                <div class="error-desc">
                    <h3>{{ _("Are you sure you that want to cancel the registration of participants?") }}</h3>
            </div>
                <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                    <a class="btn btn-default" href="{{ request.route_url('dashboard') }}"> {{ _("Go back") }}</a><br><br>
                    <button class="btn btn-danger" type="submit" name="cancelRegistry"> {{ _('Cancel participant registration form') }}</button>
                </form>
            </div>
        {% endblock dltqstmessage %}
    {% endif %}
{% endblock pagecontent%}

{% if redirect == True %}
    {% block toastr %}
    {% endblock toastr %}
{% endif %}

{% block script %}
    {% if redirect == True %}
        {# If a new question is just added or edited then redirect the mainwindo to such project #}
        <script>
            window.top.location.href = "{{ request.route_url('dashboard') }}";
        </script>
    {% endif %}
{% endblock script %}