{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>ClimMob | Delete project</title>
{% endblock title %}


{% block bodyattributes %} style="background:#f8fafb" {% endblock bodyattributes %}

{% block body %}
    {% if redirect == False %}
        {% block dltqstmessage %}
            <div class="middle-box text-center">
                <h2 class="font-bold text-danger">You are going to delete the project "{{ data.project_name }}"<br/><span style="color: red">All its information will be LOST!</span></h2>
                <p>
                <div class="error-desc">
                    <h3>Are you sure you that want to delete the project?</h3>
            </div>
                <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                    <button class="btn btn-danger" type="submit" name="deleteproject"> {{ _('Delete project') }}</button>
                </form>
            </div>
        {% endblock dltqstmessage %}
    {% endif %}
{% endblock %}

{% if redirect == True %}
    {% block toastr %}
        {# Overwrite the toaster so it does not trigger the popup #}
    {% endblock toastr %}
{% endif %}

{% block script %}
    {% if redirect == True %}
        {# If a new question is just added or edited then redirect the mainwindo to such project #}
        <script>
            window.top.location.href = "{{ request.route_url('dashboard') }}";
        </script>
    {% endif %}
{% endblock script %}