{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Confirm Project Finalization") }}</title>
{% endblock title %}

{% block pageheading %}
    {% set _title= _("Confirm project finalization") %}
    {% set _linkWiki="https://climmob.net/blog/wiki/cancel-form/" %}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}

{% block css %}
    {% cssresource request,'coreresources','sweet' %}
    <style>
        th, td {
            width: 100px
        }
    </style>
{% endblock css %}


{% block topScripts %}
    {% jsresource request,'coreresources','sweet' %}
{% endblock topScripts %}

{% block pagecontent %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {% set can_edit = True %}
    {% if activeProject.project_status == 3 %}
        {% set can_edit = False %}
    {% endif %}

    {% if can_edit %}
        <div class="row">
            <div class="ibox">
                <div class="ibox-title">
                    <h5> {{ _('Confirmation details') }} </h5> <span
                        class="label label-danger">{{ _('Warning') }}</span>
                </div>
                <div class="ibox-content">
                    <p>
                        {{ _('By finalizing this project, you confirm that it has reached completion. This action will permanently lock all data entries, profile settings, and metadata, so no further edits will be allowed. Please review the project details carefully before proceeding.


') }}
                    </p>

                    <div class="row d-flex justify-content-center align-items-center">

                        <div class="col-lg-4">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>{{ _('Field Name') }}</th>
                                    <th>{{ _('Value') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ _('Project Name') }}</td>
                                    <td>{{ project_info["project_name"] }}</td>
                                </tr>
{#                                <tr>#}
{#                                    <td>{{ _('Project Code') }}</td>#}
{#                                    <td>{{ project_info["project_cod"] }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>{{ _('Project Principal investigation') }}</td>#}
{#                                    <td>{{ project_info["project_pi"] }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>{{ _('Project owner') }}</td>#}
{#                                    <td>{{ project_info["owner"]["user_name"] }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>{{ _('Country') }}</td>#}
{#                                    <td>{{ project_info["project_cnty"] }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>{{ _('Crop name') }}</td>#}
{#                                    <td>{{ project_info["project_curated_cropname"] }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>{{ _('Affiliation') }}</td>#}
{#                                    <td>{{ project_info["project_affiliation"] }}</td>#}
{#                                </tr>#}
                                <tr>
                                    <td>{{ _('Creation date') }}</td>
                                    <td>{{ project_info["project_creationdate"] }}</td>
                                </tr>
                                <tr>
                                    <td>{{ _('Project Status') }}</td>
                                    <td>
                                        {% if project_info["project_status"] == 0 %}
                                            {{ _("Undefined") }}
                                        {% elif project_info["project_status"] == 1 %}
                                            {{ _("Definition") }}
                                        {% elif project_info["project_status"] == 2 %}
                                            {{ _("In progress") }}
                                        {% elif project_info["project_status"] == 3 %}
                                            {{ _("Finalized") }}
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>
                        {{ _('If you are sure about it please, press the button.') }}
                    </p>
                    <a class="btn btn-danger btn-rounded btn-outline btn-block"
                       onclick="swal({title: 'Please confirm you want to finalize the project.',type: 'warning',showCancelButton: true, cancelButtonText: 'Cancel'
                       }, function(isConfirm) {if (isConfirm) {document.getElementById('finishForm').submit();}});return false;">
                        <i class="fa fa-handshake-o"></i>
                        {{ _('Confirm finalization of this project') }}
                    </a>

                    <form id="finishForm" method="POST" action="{{ request.url }}">

                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">

                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not can_edit %}
        <div class="row">
            <div class="ibox">
                <div class="ibox-title">
                    <h5> {{ _('Thanks for confirm the finish of your project') }} </h5> <span
                        class="label label-success">{{ _('Success') }}</span>
                </div>
                <div class="ibox-content">
                    <p>
                        {{ _('Thanks for confirm the finish of your project. We really appreciate your effort.') }}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock pagecontent %}

{% block script %}
{% endblock script %}