{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Close project") }}</title>
{% endblock title %}

{% block pageheading %}
    {% set _title= _("Close project") %}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}

{% block css %}
    {% cssresource request,'coreresources','sweet' %}
    <style>
    .wide-swal {
        width: 800px !important;
    }
    .sweet-alert button.confirm {
        background-color: #1ab394 !important;
    }
    .sweet-alert button.cancel {
        border : 1px solid #1ab394 !important;
        border-color: #1AB394 !important;
        background-color: transparent;
        color: #1ab394
    }
    </style>
{% endblock css %}


{% block topScripts %}
    {% jsresource request,'coreresources','sweet' %}
    {% jsresource request,'coreresources','toastr' %}
{% endblock topScripts %}

{% block pagecontent %}


    {% set can_edit = True %}
    {% if activeProject.project_status == 3 %}
        {% set can_edit = False %}
    {% endif %}
{% set progress_status %}
    {% if project_info.project_regstatus == 0 %}
        {{ _("Registration not yet started") }}
    {% elif project_info.project_regstatus == 1 %}
        {{ _("Registration ongoing") }}
    {% elif project_info.project_regstatus == 2 %}
        {% if project_info.project_assstatus == 0 %}
            {{ _("Registration closed") }}
        {% else %}
            {{ _("Trial data collection / Analysis ongoing") }}
        {% endif %}
    {% endif %}
{% endset %}
{% set flag_assessments_errors =
    progress.assessments | selectattr('errors', 'ne', 0) | list
%}

{% set flag_registration_errors = progress.get('regerrors', 0) != 0 %}

    {% if can_edit %}
        <div class="row " >
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5> {{ _('Confirmation details') }} </h5>
                    </div>
                    <div class="ibox-content">
                    <div class="row d-flex justify-content-center align-items-center" style="padding: 5px 10px 7px;">
                            <div >

                                <p><strong>{{ _('Project name') }}:</strong> {{ project_info["project_name"] }}</p>
                                <p><strong>{{ _('Project status') }}:</strong>
                                    {% if project_info["project_status"] == 0 %}
                                        {{ _("Undefined") }}
                                    {% elif project_info["project_status"] == 1 %}
                                        {{ _("Definition") }}
                                    {% elif project_info["project_status"] == 2 %}
                                        {{ _("In progress") }}
                                    {% elif project_info["project_status"] == 3 %}
                                        {{ _("Closed") }}
                                    {% endif %}
                                </p>
                                <br>

                                <table class="table table-bordered" style="table-layout: auto; width: auto;">

                                    <thead>
                                        <tr>
                                            <th colspan="2" style="text-align: left">{{ _('Project progress') }}</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td><p>{{ _("1. Project profile") }}</p></td>
                                        <td style="text-align: center">
                                            <span class="label label-success">{{ _("Completed") }}</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><p>{{ _("2. Assign field agents") }}</p></td>
                                        <td style="text-align: center">
                                            {% if progress.enumerators %}
                                                <span class="label label-success">{{ _("Completed") }}</span>
                                            {% else %}
                                                <span class="label label-default">{{ _("Incomplete") }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p>{{ _("3. Assign technologies") }}</p></td>
                                        <td style="text-align: center">
                                            {% if progress.technology and progress.techalias %}
                                                <span class="label label-success">{{ _("Completed") }}</span>
                                            {% else %}
                                                <span class="label label-default">{{ _("Incomplete") }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p>
                                            {% if project_info.project_registration_and_analysis == 0 %}
                                                {{ _("4. Prepare participant registration form") }}
                                            {% else %}
                                                {{ _("4. Participant registration and trial data collection") }}
                                            {% endif %}
                                        </p></td>
                                        <td style="text-align: center">
                                            {% if progress.registry %}
                                                <span class="label label-success">{{ _("Completed") }}</span>
                                            {% else %}
                                                <span class="label label-default">{{ _("Incomplete") }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if project_info.project_registration_and_analysis == 0 %}
                                        <tr>
                                            <td><p>{{ _("5. Prepare trial data collection") }}</p></td>
                                            <td style="text-align: center">
                                                {% if progress.assessment %}
                                                    <span class="label label-success">{{ _("Completed") }}</span>
                                                {% else %}
                                                    <span class="label label-default">{{ _("Incomplete") }}</span>

                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td><p>
                                            {% if project_info.project_registration_and_analysis == 1 %}
                                                {{ _("5. Trial documentation") }}
                                            {% else %}
                                                {{ _("6. Trial documentation") }}
                                            {% endif %}
                                                </p></td>
                                        <td style="text-align: center" >

                                            {% if progress.metadata == True %}
                                                <span class="label label-success" >{{ _("Completed") }} </span>
                                            {% else %}
                                                <div>
                                                <span class="label label-default" >{{ _("Incomplete") }}</span>
                                                </div>
                                                <br>
                                                <div>
                                                <a href="{{ request.route_url('Metadata' , user=project_info["owner"].user_name, project=project_info.project_cod) }}" >
                                                    <span class="label label-warning" title='{{ _("Trial documentation step is pending. Closing now will permanently disable the Analysis module for this project.") }}'><i class="fa fa-info-circle"></i> {{ _('Warning') }}</span></a>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <thead><tr><th colspan="2" style="text-align: left">{{ _("Field data status") }}</th></tr></thead>
                                    <tr>
                                        <td><p>{{ _("Data collection") }}</p></td>
                                        <td style="text-align: center">
                                        <div >
                                            {% if (total_ass_records > 5 or
                                            (project_info.project_registration_and_analysis == 1 and progress.regtotal >=5)) %}
                                                <span class="label label-success">{{ _("Completed") }}</span>
                                            {% else %}
                                                <span class="label label-default">{{ _("Incomplete") }}</span>
                                            {% endif %}
                                        </div>
                                            {% if flag_assessments_errors or flag_registration_errors %}
                                                <br>
                                                <div>
                                                    <a href="{{ request.route_url('dashboard') }}"><span class="label label-warning" title="{{ _("Submissions with conflicts are pending resolution. If you don’t resolve them now, they cannot be fixed once the project is closed.
                                                    ") }}"><i class="fa fa-info-circle"></i> {{ _('Warning') }}</span></a>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p>{{ _("Analysis") }}</p></td>
                                        <td style="text-align: center">
                                            {% if (total_ass_records > 5 or
                                            (project_info.project_registration_and_analysis == 1 and progress.regtotal >=5))
                                            and progress.metadata == True %}
                                                <span class="label label-success">{{ _("Available") }}</span>
                                            {% else %}
                                                <span class="label label-danger" title="{{ _("The analysis cannot be generated because the trial documentation is not yet complete or there are not enough valid submissions.
                                                ") }}"><i class="fa fa-info-circle"></i> {{ _('Unavailable') }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>

                                </table>

                                <a class="btn btn-primary btn-rounded btn-block btn-outline" href="{{ request.route_url('dashboard') }}">
                                    <i class="fa fa-arrow-circle-o-left" ></i> {{ _("Go back to project overview") }}</a>
                                <br>
                                <a class="btn btn-primary btn-rounded btn-block"
                                   data-title="{{ _('Do you want to close the project') }}?<br><br><i><strong>{{ project_info['project_name'] }}</strong></i>"
                                   data-text="{{ _("Close it will disable further edits to this project.") }}"
                                   onclick="swal({ html: true,
                                   title: this.getAttribute('data-title'),
                                   text: this.getAttribute('data-text'),
                                   type: 'warning',
                                   showCancelButton: true,
                                   cancelButtonText: 'Cancel',
                                   customClass: 'wide-swal'
                                   }, function(isConfirm) {if (isConfirm) {document.getElementById('finishForm').submit();}});return false;">
                                    <i class="fa fa-check-square-o"></i>
                                    {{ _('Confirm close project') }}
                                </a>
                                <form id="finishForm" method="POST" action="{{ request.url }}">
                                    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock pagecontent %}
{% block script %}
{% endblock script %}