{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Update project") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','switch' %}
    {% cssresource request,'coreresources','tags' %}
    {% cssresource request,'coreresources','chosen' %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','sweet' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','switch' %}
    {% jsresource request,'coreresources','addproject' %}
    {% jsresource request,'coreresources','bootstrapmaxlength' %}
    {% jsresource request,'coreresources','chosen' %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','sweet' %}
    {% jsresource request,'coreresources','delete' %}
{% endblock topScripts %}

{% block pageheading %}
    {% snippet 'snippets/menuheading.jinja2', request=request, _title= _("Update project"), _linkWiki="https://climmob.net/blog/wiki/update-project/" %}
{% endblock %}

{% block pagecontent %}
    {% if newproject == False %}
        {% if error_summary %}
            {% for key, error in error_summary.items() %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <form id="formModify" method="post" class="form-horizontal" action="{{ request.path }}">
            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
            {% block newprjform %}
                {% snippet 'snippets/project/project_form.jinja2', dataworking=data, edit=True, countries=countries %}
                <a class="btn btn-danger pull-left" onclick="showDelete('{{ request.route_url('deleteproject',projectid=data.project_cod) }}','{{ _("Do you really want to remove this project?") }}','{{ request.session.get_csrf_token() }}','{{ request.route_url('dashboard') }}')">{{ _("Delete project") }}</a>
                <button type="submit" name="btn_addNewProject" id="btn_addNewProject" class="btn btn-warning pull-right">{{ _("Update project") }}</button>

            {% endblock newprjform %}

            <br>
            <br>
            <br>
        </form>

        <script>
            $(document).ready(function () {

                $('.i-checks').iCheck({
                    radioClass: 'iradio_square-green',
                });
            })

        $("#formModify").submit(function (e) {
            $(".radiosRA").prop('disabled', false);
        });

        </script>
    {% endif %}
{% endblock pagecontent %}

