{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | New project") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','switch' %}
    {% cssresource request,'coreresources','tags' %}
    {% cssresource request,'coreresources','chosen' %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','tour' %}
    {% cssresource request,'coreresources','switchery' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','switch' %}
    {% jsresource request,'coreresources','addproject' %}
    {% jsresource request,'coreresources','bootstrapmaxlength' %}
    {% jsresource request,'coreresources','chosen' %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','tour' %}
    {% jsresource request,'coreresources','switchery' %}
{% endblock topScripts %}

{% block pageheading %}
    {% set _title= _("Create project") %}
    {% set _linkWiki= "https://climmob.net/blog/wiki/create-project-2/"%}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}

{% block pagecontent %}
    {% if newproject == False %}
        {% if error_summary %}
            {% for key, error in error_summary.items() %}
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" class="form-horizontal" action="{{ request.path }}">
            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
            {% block newprjform %}
                {% set edit=False %}
                {% set permissionForChanges=True %}
                {% set allowTemplate=True %}
                {% set editTemplate=True %}
                {% include 'snippets/project/project_form.jinja2' %}

                <button type="submit" name="btn_addNewProject" id="btn_addNewProject" class="btn btn-primary pull-right">{{ _("Create project") }}</button>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            {% endblock newprjform %}

            <br>
            <br>
            <br>
        </form>

        <script>
            {% if activeUser.login == "bioversity" %}
                var elem_project_template = document.querySelector('#project_template');
                var ckb_project_template = new Switchery(elem_project_template, { color: '#1AB394' });
            {% endif %}

            $(document).ready(function () {

                $('.i-checks').iCheck({
                    radioClass: 'iradio_square-green',
                });

                {% if activeUser.login == "bioversity" %}

                    var valueOfProjectTemplate = "{{ dataworking["project_template"] }}"

                    if (valueOfProjectTemplate == "0") {
                        //$("[name='project_template']").bootstrapSwitch('state', false);
                        setSwitchery(ckb_project_template, false);
                    }else {
                        //$("[name='project_template']").bootstrapSwitch('state', true);
                        setSwitchery(ckb_project_template, true);
                    }

                {% else %}

                    $('input[name="project_registration_and_analysis"]').on('ifChecked', function(event){
                        var URL = "{{ request.route_url('getTemplatesByTypeOfProject', typeid="__typeid__") }}"
                        URL = URL.replace("__typeid__", this.value)

                        $.get(URL, function (dataJson, status) {
                            $("#usingTemplate").empty();
                            $('#usingTemplate').trigger("chosen:updated");
                            $("#usingTemplate").append("<option value=''>{{ _("Select a template") }}</option>");
                            for (var i = 0; i < dataJson.length; i++){
                                var info = dataJson[i]
                                $("#usingTemplate").append("<option value='"+ info.project_id+"'>"+ info.project_name+"</option>");
                            }
                            $('#usingTemplate').trigger("chosen:updated");
                        });
                    });

                {% endif %}


            })

            function setSwitchery(switchElement, checkedBool)
            {
                if((checkedBool && !switchElement.isChecked()) || (!checkedBool && switchElement.isChecked())) {
                    switchElement.setPosition(true);
                }
            }

        </script>
        <script>
            {% block js_script_extra %}

            {% endblock js_script_extra %}
        </script>
    {% endif %}
{% endblock pagecontent %}
