{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Publication request") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','sweet' %}
    {% cssresource request,'coreresources','toastr' %}
    {% cssresource request,'coreresources','jsTree' %}
    {% cssresource request,'coreresources','select2' %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','tour' %}
{% endblock css %}

{% block pageheading %}
    {% set _title= _("Publication request") %}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}



{% block pagecontent %}
    <style>
        .flex {
            display: flex;
        }

        .flex-col {
            flex-direction: column;
        }

        .align-i-center {
            align-items: center;
        }

        .just-c-center {
            justify-content: center;
        }
    </style>

    {% if redirect == False %}
        {% block upload_message %}
            <div class="row flex flex-col align-i-center">
                <div class="ibox col-md-5">
                    <div class="ibox-title">
                        <h5>{{ _("Publication request") }}</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="flex flex-col align-i-center">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <i class="fa fa-warning"></i> {{ _("Privacy & responsibility") }}
                                </div>
                                <div class="panel-body">
                                    <span style="display: inline-block">
                                        {{ _("By submitting this request, you confirm that:") }}
                                    </span>

                                    <ul>
                                        <li>{{ _("you own the data or have permission to publish it") }}</li>
                                        <li>{{ _("your custom questions do not expose Personally Identifiable Information(PII)") }}</li>
                                        <li>{{ _("only participant-level shareable data will be exported") }}</li>
                                        <li>{{ _("media files and system logs are excluded automatically") }}</li>
                                    </ul>

                                    <span style="display: inline-block">
                                        {{ _("Your request will be reviewed by the 1000FARMS administrators before publication.") }}
                                    </span>
                                    <span style="display: inline-block">
                                        {{ _("Learn more in the") }}
                                        <a style="text-decoration: underline; color: inherit; font-weight: bold">
                                            {{ _("Publishing data chapter in the tricot e-book") }}
                                        </a>.
                                    </span>
                                </div>
                            </div>
                            <form id="request-project-publication-form" role="form" method="post"
                                  class="flex flex-col align-i-center"
                                  style="gap: 1em;"
                                  action="{{ request.path }}">
                                <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                                <label>
                                    Usage rights:
                                </label>

                                {% for license in licenses %}
                                    <label>
                                        <input type="radio" id="license-{{ license.publication_license_id }}"
                                               name="license" value="{{ license.publication_license_id }}"
                                                {% if license.publication_license_id == project_license_id %}
                                               checked
                                                {% endif %}
                                                {% if project_license_id %}
                                               disabled
                                                {% endif %}
                                        >
                                        {{ license.publication_license_name }}
                                        {% if license.publication_license_id == 1 %} {# CC0 #}
                                            (Recommended)
                                        {% endif %}
                                    </label><br>
                                {% endfor %}
                                <section class="flex flex-col">
                                    <h3>Select destinations:</h3>
                                    {% for destination, label, disabled, checked, status in destinations %}
                                        <label>
                                            <input type="checkbox" id="{{ destination }}-chk" name="destination"
                                                   value="{{ destination }}"
                                                    {% if disabled %}
                                                   disabled
                                                    {% endif %}
                                                    {% if checked %}
                                                   checked
                                                    {% endif %}
                                            />
                                            {{ label }}
                                            {% if status %}
                                                - {{ status }}
                                            {% endif %}
                                        </label>
                                    {% endfor %}

                                </section>

                                <a class="btn btn-primary btn-rounded btn-block"
                                   data-title="{{ _('Do you want to publish the project') }}?"
                                   data-text="{{ _("By clicking OK, you are accepting the publication terms and conditions.") }}"
                                   onclick="swal({ html: true,
                                           title: this.getAttribute('data-title'),
                                           text: this.getAttribute('data-text'),
                                           type: 'warning',
                                           showCancelButton: true,
                                           cancelButtonText: '{{ _('Cancel') }}',
                                           confirmButtonText: '{{ _('OK') }}',
                                           customClass: 'wide-swal'
                                           }, function(isConfirm) {if (isConfirm) {document.getElementById('request-project-publication-form').submit();}});return false;">
                                    {{ _('Request publication') }}
                                </a>
                                <a class="btn btn-primary btn-rounded btn-block btn-outline"
                                   href="{{ request.route_url('dashboard') }}">
                                    {{ _("Go back to project overview") }}
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        {% endblock upload_message %}
    {% endif %}
{% endblock %}

{% block script %}
    <script>
        {% if redirect == True %}
            window.top.location.href = "{{ request.route_url('dashboard') }}";
        {% else %}
            function toggle_confirmation(element) {
                const form = element.closest('form');
                if (!form) return;

                const confirm = form.querySelector('#databricks-confirm');
                const button = form.querySelector('#databricks-upload-btn');
                button.disabled = !confirm.checked;
            }

            function toggle_destiny(element, destiny) {
                const form = element.closest('form');
                if (!form) return;

                const confirm = form.querySelector('#databricks-confirm');
                const button = form.querySelector('#databricks-upload-btn');
                button.disabled = !confirm.checked;
            }
        {% endif %}
    </script>
{% endblock script %}