{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Start data collection") }}</title>
{% endblock title %}

{% block pageheading %}
    {% set _title= _("Start data collection") %}
    {% set _linkWiki= "https://climmob.net/blog/wiki/prepare-forms-for-data-collection/"%}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}

{% block pagecontent %}
{#    <div class="row ">#}
{#        <div class="col-lg-4 ">#}
{#            <div class="ibox float-e-margins " >#}
{#                <div class="ibox-content">#}
{##}
{#                    {% if onlyErrors %}#}
{#                        <form id="start_assessment"  role="form" method="post" action="{{ request.path }}">#}
{#                            <div class="form-group">#}
{#                                <label>{{ _("Assessment") }}</label>#}
{#                                <select id="assessment_id" name="assessment_id" class="form-control">#}
{#                                    {% for assessment in assessments %}#}
{#                                        <option value="{{ assessment.ass_cod }}">{{ assessment.ass_desc }}</option>>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">#}
{#                            <button id="start_assessment_button" class="btn btn-primary pull-right" type="submit" name="startAssessment"> {{ _('Start data collection') }}</button>#}
{#                        </form>#}
{#                        <br>#}
{#                        <br>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    {% if error_summary %}
        <div class="row">
            <div class="col-lg-12 ">
                <div class="ibox float-e-margins " >
                    <div class="ibox-content">
                        <div style="width: 100%; text-align: center; display: flex">
                            <div style="width: 25%"></div>
                            <div style="width: 50%">
                                {% include 'snippets/error.jinja2' %}
                                 <a type="submit" class="btn btn-primary" href="{{ request.route_url('dashboard', _query={"project": projectid}) }}">{{ _("Go to the menu") }}</a>
                            </div>
                            <div style="width: 25%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% if redirect == True %}
    {% block toastr %}
        {# Overwrite the toaster so it does not trigger the popup #}
    {% endblock toastr %}
{% endif %}

{% block script %}
    {% if redirect == True %}
        {# If a new question is just added or edited then redirect the mainwindo to such project #}
        <script>
            window.top.location.href = "{{ request.route_url('dashboard') }}";


            $(document).ready(function() {
            $('#start_assessment').submit(function() {
                $(this).find("button[type='submit']").prop('disabled',true);
            });
        });

        </script>
    {% endif %}
{% endblock script %}
