<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClimMob | Map for projects visualization</title>
    {% block css %}
        {% cssresource request,'map','normalize' %}
        {% cssresource request,'map','style' %}
        {% cssresource request,'map','leaflet' %}
    {% endblock css %}

    {% block topScripts %}
        {% jsresource request,'coreresources','jquery' %}
        {% jsresource request,'map','leaflet' %}
    {% endblock topScripts %}

    <link rel="shortcut icon" href="{{ request.url_for_static('landing/icon.png') }}">

    <style>

        th {
            color: white;
            font-size: 20px;
            text-align: left;
        }

        td {
            padding-top: 5px;
            color: black;
            font-size: 20px;
            padding-bottom: 20px
        }

        td p {
            margin: 7px 0px 0px 0px;
        }

    </style>
</head>
<body>
<!-- partial:index.partial.html -->
<div id="st-container" class="st-container">

    <nav class="st-menu st-effect-1" id="menu-1">
        <div style="width: 100%; text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: white">
            <img src="{{ request.url_for_static('landing/climmob2.png') }}" width="160px">
        </div>
        <div style="width: 100%; padding-top: 10px; padding-left: 10px; padding-right: 10px">
            <table width="100%">
                <tr>
                    <th>
                        {{ _("Project name") }}
                    </th>
                </tr>
                <tr>
                    <td>
                        <p id="projectName"></p>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ _("Number of participants") }}
                    </th>
                </tr>
                <tr>
                    <td>
                        <p id="numberOfParticipants"></p>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ _("Trial coordinator") }}
                    </th>
                </tr>
                <tr>
                    <td>
                        <p id="piName"></p>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ _("Organization") }}
                    </th>
                </tr>
                <tr>
                    <td>
                        <p id="piOrganization"></p>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ _("Email address") }}
                    </th>
                </tr>
                <tr>
                    <td>
                        <p id="piEmail"></p>
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ _("Creation date") }}
                    </th>
                </tr>
                <tr>
                    <td>
                        <p id="creationDate"></p>
                    </td>
                </tr>
            </table>
            <br>
            <p style="font-weight: bold; color: white; text-align: center; font-size: 12px; margin-bottom: 0px">Copyright 2020, Alliance of Bioversity International and CIAT</p>
        </div>
    </nav>


    <div class="st-pusher">
        <div class="st-content">
            <div class="st-content-inner" style="height: 100%">
                <div class="folium-map" id="divMapa" style="width: 100%; height: 100%"></div>
            </div>
        </div>
    </div>

</div>
<!-- partial -->

<script type="text/javascript">

    $(".st-pusher").click(function (e)
    {
      if (!e.target.classList.contains('leaflet-marker-icon')) {
        $('#st-container').removeClass("st-effect-1")
        $('#st-container').removeClass("st-menu-open")
      }
    })

    var divMapa = L.map('divMapa', {
        center: [0, 0],
        crs: L.CRS.EPSG3857,
        zoom: 10,
        zoomControl: false,
        preferCanvas: true,
    });

    var cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>';

    var positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        "attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.",
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
    }).addTo(divMapa);

    var myIcon = L.icon({
        iconUrl: '{{ request.url_for_static('landing/iconMap.png') }}',
        iconSize: [30, 30],
    });

    {% for project in projects %}
        L.marker([{{ project.Latitude }}, {{ project.Longitude }}], {icon: myIcon}).addTo(divMapa).on('click', function (e) {
            $('#st-container').addClass("st-effect-1");
            $('#st-container').addClass('st-menu-open');
            showProject({{ project|tojson }});
        });
    {% endfor %}

    L.control.zoom({
        position: 'bottomright'
    }).addTo(divMapa);

    divMapa.setView([40, 0], 2);

    function showProject(listWithInfo) {
        $("#projectName").text(listWithInfo["project_name"]);
        $("#numberOfParticipants").text(listWithInfo["numberOfParticipantsCollected"] + "/" + listWithInfo["project_numobs"]);
        $("#piName").text(listWithInfo["project_pi"]);
        $("#piOrganization").text(listWithInfo["project_piorganization"]);
        $("#piEmail").text(listWithInfo["project_piemail"]);
        $("#creationDate").text(listWithInfo["project_date"])
    }
</script>
</body>
</html>
