{% block css %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','datatables' %}
    {% cssresource request,'coreresources','sweet' %}
    {% cssresource request,'coreresources','footable' %}
    {% cssresource request,'coreresources','select2' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','footable' %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','technologies' %}
    {% jsresource request,'coreresources','datatables' %}
    {% jsresource request,'coreresources','sweet' %}
    {% include 'snippets/delete.jinja2' %}
    {% jsresource request,'coreresources','select2' %}
{% endblock topScripts %}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>{{ _("Import technology") }}</h5>
                <div class="ibox-tools">
                    <button id="btn_cancel_import_tech" class="btn btn-xs btn-default pull-right "><i
                            class="fa fa-close"></i> {{ _("Clear and close form") }} </button>
                </div>
            </div>
            <div class="ibox-content">
                {% set error_summary=error_summary_import %}
                {% include 'snippets/error.jinja2' %}
                <div class="text-center">
                    <p>{{ _("Import genotypes from external databases and frameworks such as GRIN (Germplasm Resources
                    Information Network) and GBF (Global Biodiversity Framework). Genotypes that are not publicly
                    indexed cannot be imported here. These genotypes can only be added within a project during the
                    design phase, through the technology assignment step.") }}</p>
                </div>
                <br>
                <div class="form-group"
                     style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1em;">
                    <label class="col-sm-3 control-label" for="to_import_tech_id">{{ _('Search') }}</label>
                    <div class="col-sm-9">
                        <select id="to_import_tech_id" name="tech_name" class="form-control inputForQuestionSelect"
                                style="width: 100%; !important;" required form="import_technology_form">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <form method="POST" style="min-height: fit-content" id="import_technology_form"
                      action="{{ request.url }}">
                    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                    <input type="hidden" name="tech_id">
                    <button class="btn btn-primary pull-right" type="submit"
                            id="btn_import_technology"
                            name="btn_import_technology">{{ _('Import and close') }}</button>
                </form>
                <br>
                <br>
                <br>
                <div class="text-center">
                    <p>{{ _("Can´t find the technology you are looking for?") }}
                        {% block request_technology_btn %}
                        {% endblock request_technology_btn %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#to_import_tech_id').select2({
            placeholder: 'Select one option',
            allowClear: true,
            minimumInputLength: 3,
            ajax: {
                url: "{{ request.registry.settings.get('crop_index.base_url') }}/germplasm/common-crops/",
                delay: 250,
                headers: {
                    "Authorization": "Api-key {{ request.registry.settings.get('crop_index.api_key') }}"
                },
                data: function (params) {
                    return {
                        q: params.term,
                    };
                },
                dataType: 'json',
                processResults: response => ({
                    results: response.data
                        .filter(row => row.name)
                        .map(row => ({
                            id: capitalize(row.name),
                            text: capitalize(row.name)
                        }))
                })
            },
            language: {
                inputTooShort: function (args) {
                    return "{{ _("Type at least 3 characters") }}";
                }
            }
        });

        $("#btn_cancel_import_tech").click(function () {
            hideImportTechnology()
        });

    });
</script>
