<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example" >
        <thead>
        <tr>
            <th>{{ _("Treatment") }}</th>
            <th>{{ _("Actions") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for technology in UserTechs %}
            <tr class="gradeX">
                <td class="text-left">
                    <h5>{{ technology.tech_name }} with {{ technology.quantity }} {{ _("levels") }}</h5>
                </td>
                <td class="center text-right">

                    {% snippet 'snippets/technologies/technologies-item-menu.jinja2', technology=technology, request=request, User=User ,showtools=showtools, access= technology.found %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>