
{% for technology in UserTechs %}
    <tr id="tech{{ technology.tech_id}}" {% if not checkbox %}onclick='showVarietiesInTechnology({{ technology| tojson }})'{% else%}{%if not isAlias%}{% if checked%}onclick='showVarieties({{technology.tech_id}})'{% else %}onclick='showLibraryVarieties({{technology.tech_id}})'{%endif%}{%endif%}{% endif %} {% if showCreator %}title="{{ _("by") }} {{ technology.user_fullname }}" {% endif %}>
        <td style="vertical-align: middle" >
            {% if isAlias %}
                {% if checkbox %}
                    <i class="pull-left" style="border: initial; padding: initial">
                        <input type="checkbox" {% if onlySee %} disabled {% endif %} {% if checked %}checked {%endif%} class="{% if isAlias%}i-checksAlias{% if extra%}Extra{%endif%}{% else %}i-checks{% endif %}" id="element_{%if isAlias%}{{technology.alias_id}}{%else%}{{ technology.tech_id }}{%endif%}_{% if checked %}exists{% else %}new{% endif %}">
                    </i>
                {% endif %}
                {% if showBold %}<b>{% endif %}
                <p class="pull-left" style="margin: 0px">&nbsp;{{ technology.alias_name }}</p>
                {% if showBold %}</b>{% endif %}
                {% if extra %}
                    &nbsp;({{ _("only for this project") }})
                {%endif%}
            {% else%}
                {% if showBold %}<b>{% endif %}
                {% if yourLib %}<em>{% endif %}
                <p class="pull-left" style="margin: 0px">{{ technology.tech_name }}</p>
                {% if yourLib%}</em>{% endif %}
                {% if showBold %}</b>{% endif %}
            {% endif %}

            {% if showCreator %}
                <p class="pull-left" style="margin: 0px; color: #1ab394">&nbsp;{{ _("by") }} {{ technology.user_fullname[0:12] }}{% if technology.user_fullname|length > 12 %}...{% endif %}</p>
            {% endif %}
        </td>
        {% if not isAlias %}
            {% if checkbox %}
                <td style="vertical-align: middle; text-align: center">
                    {{ technology.quantityAlias }}
                </td>
            {% endif %}
            <td style="vertical-align: middle; text-align: center" >
                {% if technology.quantity > 0 %}
                    {{ technology.quantity }}
                {% endif %}
            </td>
            <td style="vertical-align: middle">
            {% if color == "#000000" %}
                <a class="btn btn-default btn-circle"><i class="fa fa-list-ul"></i></a>
            {% else %}
                <a class="btn btn-default btn-circle" style="background-color: {{ color }}"><i class="fa fa-list-ul" style="color: white"></i></a>
            {% endif %}
            </td>
        {% endif %}
    </tr>
{% endfor %}