
{% for technology in UserTechs %}
    <tr id="tech{{ technology.tech_id}}" {% if not checkbox %}onclick='showVarietiesInTechnology({{ technology| tojson }})'{% else%}{%if not isAlias%}{% if checked%}onclick='showVarieties({{technology.tech_id}})'{% else %}onclick='showLibraryVarieties({{technology.tech_id}})'{%endif%}{%endif%}{% endif %}>
        <td style="vertical-align: middle">
            {% if isAlias %}
                {% if checkbox %}
                    <i style="border: initial; padding: initial">
                        <input type="checkbox"  {% if checked %}checked {%endif%} class="{% if isAlias%}i-checksAlias{% if extra%}Extra{%endif%}{% else %}i-checks{% endif %}" id="element_{%if isAlias%}{{technology.alias_id}}{%else%}{{ technology.tech_id }}{%endif%}_{% if checked %}exists{% else %}new{% endif %}">
                    </i>
                {% endif %}
                {% if showBold %}<b>{% endif %}
                    {{ technology.alias_name }}
                {% if showBold %}</b>{% endif %}
                {% if extra %}
                    ({{ _("only for this project") }})
                {%endif%}
            {% else%}
                {% if showBold %}<b>{% endif %}{% if yourLib %}<em>{% endif %}{{ technology.tech_name }}{% if yourLib%}</em>{% endif %}{% if showBold %}</b>{% endif %}
            {% endif %}
        </td>
        {% if not isAlias %}
            {% if checkbox %}
                <td style="vertical-align: middle; text-align: center">
                    {{ technology.quantityAlias }}
                </td>
            {% endif %}
            <td style="vertical-align: middle; text-align: center" >
                {% if technology.quantity > 0 %}
                    {{ technology.quantity }}
                {% endif %}
            </td>
            <td style="vertical-align: middle">
            {% if color == "#000000" %}
                <a class="btn btn-default btn-circle"><i class="fa fa-list-ul"></i></a>
            {% else %}
                <a class="btn btn-default btn-circle" style="background-color: {{ color }}"><i class="fa fa-list-ul" style="color: white"></i></a>
            {% endif %}
            </td>
        {% endif %}
    </tr>
{% endfor %}