




{#{% for technology in UserTechs %}#}
{#    <div class="stream" style="padding: 4px 0" id="tech{{ technology.tech_id}}" {% if not checkbox %}onclick='showVarietiesInTechnology({{ technology| tojson }})'{% else%}{%if not isAlias%}{% if checked%}onclick='showVarieties({{technology.tech_id}})'{%endif%}{%endif%}{% endif %}>#}
{#        <div class="stream-badge">#}
{#            {% if checkbox %}#}
{#                <i style="border: initial; padding: initial">#}
{#                    <input type="checkbox"  {% if checked %}checked {%endif%} class="{% if isAlias%}i-checksAlias{% if extra%}Extra{%endif%}{% else %}i-checks{% endif %}" id="element_{%if isAlias%}{{technology.alias_id}}{%else%}{{ technology.tech_id }}{%endif%}_{% if checked %}exists{% else %}new{% endif %}">#}
{#                </i>#}
{#            {% else %}#}
                {# <i class="fa fa-pagelines" style="color:{{ color }}"></i> #}
{#                <i style="border-color:{{ color }}; padding: initial; ">#}
{#                    {% if color =="#000000" %}#}
{#                        <input type="radio" name="technologies" class="i-checkTech i-checks-Black" value="radio{{ technology.tech_id }}" id="radio{{ technology.tech_id }}" class="">#}
{#                    {% else %}#}
{#                        <input type="radio" name="technologies" class="i-checkTech i-checks-Green" value="radio{{ technology.tech_id }}" id="radio{{ technology.tech_id }}" class="">#}
{#                    {% endif %}#}
{#                </i>#}
{#            {% endif %}#}
{#        </div>#}
{#        <div class="stream-panel" style="margin-top: 4px">#}
{#            <div class="stream-info">#}
{#               <p class="classForEyes" style="font-size: 14px; margin: initial">{% if isAlias %}<b>{{ technology.alias_name }}</b>{% if extra %} ({{ _("only for this project") }}){%endif%}{% else%}<b>{{ technology.tech_name }}</b> {{ _("with") }} {{ technology.quantity }} {{ _("options") }} </p>{% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endfor %}#}


{% for technology in UserTechs %}
    <tr id="tech{{ technology.tech_id}}" {% if not checkbox %}onclick='showVarietiesInTechnology({{ technology| tojson }})'{% else%}{%if not isAlias%}{% if checked%}onclick='showVarieties({{technology.tech_id}})'{% else %}onclick='showLibraryVarieties({{technology.tech_id}})'{%endif%}{%endif%}{% endif %}>
        <td style="padding: 0px; border-top: 0px">
            <div class="stream" style="padding: 4px 0"  >
                <div class="stream-badge">
                {% if checkbox %}
                    <i style="border: initial; padding: initial">
                        <input type="checkbox"  {% if checked %}checked {%endif%} class="{% if isAlias%}i-checksAlias{% if extra%}Extra{%endif%}{% else %}i-checks{% endif %}" id="element_{%if isAlias%}{{technology.alias_id}}{%else%}{{ technology.tech_id }}{%endif%}_{% if checked %}exists{% else %}new{% endif %}">
                    </i>
                {% else %}
                    <i style="border-color:{{ color }}; padding: initial; ">
                        {% if color =="#000000" %}
                            <input type="radio" name="technologies" class="i-checkTech i-checks-Black" value="radio{{ technology.tech_id }}" id="radio{{ technology.tech_id }}" class="">
                        {% else %}
                            <input type="radio" name="technologies" class="i-checkTech i-checks-Green" value="radio{{ technology.tech_id }}" id="radio{{ technology.tech_id }}" class="">
                        {% endif %}
                    </i>
                {% endif %}
                </div>

                <div class="stream-panel" style="margin-top: 4px">
                    <div class="stream-info">
{#                       <p {% if not isAlias %} class="classForEyes" {% endif %} style="font-size: 14px; margin: initial">{% if isAlias %}<b>{{ technology.alias_name }}</b>{% if extra %} ({{ _("only for this project") }}){%endif%}{% else%}<b>{{ technology.tech_name }}</b></p>{% endif %}#}
                       <p style="font-size: 14px; margin: initial">{% if isAlias %}<b>{{ technology.alias_name }}</b>{% if extra %} ({{ _("only for this project") }}){%endif%}{% else%}<b>{{ technology.tech_name }}</b></p>{% endif %}
                    </div>
                </div>

            </div>
        </td>
        {% if not isAlias %}
            {% if checkbox %}
                <td style="padding: 0px; border-top: 0px; vertical-align: middle; text-align: center">
                    {{ technology.quantityAlias }}
                </td>
            {% endif %}
            <td style="padding: 0px; border-top: 0px; vertical-align: middle; text-align: center" >
                {{ technology.quantity }}
            </td>
        {% endif %}
    </tr>
{% endfor %}

