<div class="row">
    {% block qstitemheading %}

    {% endblock qstitemheading %}
</div>

{% if UserTechs %}
    <div style="max-height: 500px; overflow: auto">
    <table id="{% if User == "" %}tabletechnologies{% else %}tabletechnologies2{% endif %}" width="100%">
        {% for technology in UserTechs %}
            <tr>
                <td>
                    <div class="ibox float-e-margins collapsed">
                        <div class="ibox-title">
                            <h5>{{ technology.tech_name }} {{ _("with") }} {{ technology.quantity }} {{ _("aliases") }}</h5>
                            {% snippet 'snippets/technologies/technologies-item-menu.jinja2', technology=technology, request=request, User=User ,showtools=showtools, access= technology.found %}

                        </div>
                        <div class="ibox-content">
                            {% for techAlias in technology.tech_alias %}
                                <span class="label label-primary">{{ techAlias.alias_name }}</span>
                            {% endfor%}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% else %}
    {% block qstitemnodata %}
        <b>{{ _('No data to display') }}</b>
    {% endblock qstitemnodata %}
{% endif %}