<div class="form-group" style="display: none">
    <label class="col-sm-4 control-label">{{ _('Trial data collection moment code:') }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ data.ass_cod }}" id="ass_cod" name="ass_cod" placeholder=" " >
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Trial data collection moment:') }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ data.ass_desc }}" id="ass_desc" name="ass_desc" placeholder=" " required oninvalid="this.setCustomValidity('{{ _("Write the trial data collection moment.") }}')" onchange="this.setCustomValidity('')">
        <span class="help-block m-b-none text-left">{{ _("The trial data collection moment refers to the stage in the planting cycle (e.g. germination, early growth.).") }}</span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Days after sowing:') }}</label>
    <div class="col-sm-8">
        <input type="number" class="form-control" min="0"  value="{{ data.ass_days }}" id="ass_days" name="ass_days" placeholder=" " required oninvalid="this.setCustomValidity('{{ _("Set the interval in days.") }}')" onchange="this.setCustomValidity('')">
        <span class="help-block m-b-none text-left">{{ _("This trial data collection is done after how many days from the sowing date.") }}</span>
    </div>
</div>

{% block form_extra_fields %}

{% endblock form_extra_fields %}

{#<div class="form-group" id="check_for_final">#}
{#    {% if final_visible %}#}
{#    <label class="col-sm-4 control-label">{{ _("Will data collection include questions about overall performance and comparison with check?") }}</label>#}
{#    <div class="col-sm-8">#}
{#        <input type="checkbox" id="ckb_final"#}
{#               name="ass_final" data-on-color="success"#}
{#               data-off-color="danger" data-on-text="{{ _('Yes') }}"#}
{#               data-off-text="{{ _('No') }}" {% if data.ass_final == 'on' %} checked="" {% endif %}>#}
{#        <span class="help-block m-b-none text-left">{{ _('The final data collection moment has to include questions about overall performance and comparison with check.') }}</span>#}
{#    </div>#}
{#    {% endif %}#}
{#</div>#}

{% block rhomis_assessment_field %}

{% endblock rhomis_assessment_field %}