<script>

function showCancelProcessError() {
    swal({
        position: "top-end",
        type: "error",
        title: "We had an Error",
        text: "All ready exist this name",
        showConfirmButton: false,
        timer: 1500
    });
}
</script>