<script>

function showCancelProcessError(mensaje) {
    swal({
        position: "top-end",
        type: "error",
        title: "We had an Error",
        text: mensaje,
        showConfirmButton: false,
        timer: 2000
    });
}
</script>