<script>

function showConfirmation (mensaje) {
    swal({
        position: "top-end",
        type: "success",
        title: "Success",
        text: mensaje,
        showConfirmButton: false,
        timer: 2000
    });
}
</script>