<div class="panel-body">
    <div id="{{ jstreeId }}">
        <ul>
            {% for category in Categories %}

                <li class="jstree-open"  data-jstree='{"icon": "fa fa-folder  {% if colorsUserCategories %}{% if activeUser.login == category.user_name %} jstree-usercategory {% endif %}{% endif %}"}'> <strong style="font-size: 16px; color: #000000;" {% if doActions %} {% if activeUser.login == category.user_name %}onclick="openCategories('{{ category.qstgroups_id }}','{{ category.user_name }}')" {% endif %}  {% endif %}>{{ category.qstgroups_name }}</strong>
                    <ul>
                        {% for question in UserQuestion %}
                            {% if question.qstgroups_id == category.qstgroups_id %}
                                {% include 'snippets/question/question-title-shuffle.jinja2' %}
                            {% endif %}
                        {% endfor %}
                        {% if doActions %} <li data-jstree='{"icon": "fa fa-plus"}' onclick="createQuestion('{{ category.qstgroups_id }}[*$%&]{{ category.user_name }}')" > <strong class="label label-primary" style="font-size: 12px; background-color: #3c763d">{{ _("Create new question") }}</strong></li> {% endif %}
                    </ul>
                </li>
            {% endfor %}
            {% if doActions %} <li data-jstree='{"icon": "fa fa-plus"}' onclick="createCategory()"> <strong class="label label-primary" style="font-size: 12px; background-color: #337ab7">{{ _("Create new category") }}</strong></li> {% endif %}

        </ul>
    </div>
</div>
