<div class="panel-body">
    <div id="{{ jstreeName }}">
        <ul>
            {% for item in data %}
                {% if item.isParentQuestion == 1%}
                    {% if item.closeGrp %}
                        </ul>
                    {% endif %}
                    {% if item.closeQst %}
                        </li>
                    {% endif %}

                    {% if item.createGRP %}
                        <li class="jstree-open"  data-jstree='{"type":"group","icon": "fa fa-folder"}' data-type="group" id="GRP{{ item.section_id }}" > <strong onclick="seeSection('{{ item.section_id }}','{{ item.section_name }}','{{ item.section_content }}')" style="font-size: 16px; color: #000000;" >Section: {{ item.section_name }} ({{ item.section_content }})</strong>
                            {% if item.hasQuestions %}
                                <ul >
                                    {% set question=item %}
                                    {% set classByUser=eventClick %}
                                    {% include 'snippets/question/question-title-shuffle.jinja2' %}
                            {% endif %}
                    {% else %}
                        {% set question=item %}
                        {% set classByUser=eventClick %}
                        {% include 'snippets/question/question-title-shuffle.jinja2' %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if finalCloseQst %}
                </ul>
            {% endif %}

            {% if data|length > 0 %}
                </li>
            {% endif %}

            {% if createSection %}
                <li data-jstree='{"type":"group","icon": "fa fa-plus"}' id="createGroup" onclick="createSection()"> <strong class="label label-primary" style="font-size: 12px; background-color: #337ab7">{{ _("Create new section") }}</strong></li>
            {% endif %}
        </ul>
    </div>
</div>