




<div class="panel-body">
    <div id="jstree1">
        <ul>
            {% for item in data %}
                {% if item.closeGrp %}
                    </ul>
                {% endif %}
                {% if item.closeQst %}
                    </li>
                {% endif %}

                {% if item.createGRP %}
                    <li class="jstree-open"  data-jstree='{"type":"group","icon": "fa fa-folder"}' data-type="group" id="GRP{{ item.section_id }}" onclick="seeSection('{{ item.section_id }}','{{ item.section_name }}','{{ item.section_content }}','{{ item.grpCannotDelete }}')"> <strong style="font-size: 16px; color: #000000;" >Section: {{ item.section_name }} ({{ item.section_content }})</strong>
                        {% if item.hasQuestions %}
                            <ul >
                                {% snippet 'snippets/question/question-title-shuffle.jinja2', request=request, question=item, activeUser=activeUser, eventClick=eventClick, classByUser=eventClick, classByRegRequired=classByRegRequired, classByAssesRequired=classByAssesRequired %}
                        {% endif %}
                {% else %}

                    {% snippet 'snippets/question/question-title-shuffle.jinja2', request=request, question=item, activeUser=activeUser, eventClick=eventClick, classByUser=eventClick, classByRegRequired=classByRegRequired, classByAssesRequired=classByAssesRequired %}
                {% endif %}
            {% endfor %}

            {% if finalCloseQst %}
                </ul>
            {% endif %}

            {% if data|length > 0 %}
                </li>
            {% endif %}
            <li data-jstree='{"type":"group","icon": "fa fa-plus"}' id="createGroup" onclick="createSection()"> <strong class="label label-primary" style="font-size: 12px; background-color: #337ab7">{{ _("Create new section") }}</strong></li>

        </ul>
    </div>
</div>