
<div class="row" style="background-color: white" id="div_for_help">
    <div class="col-lg-12"  style=" {% if iconOfLibrary %} background-image: url('{{ request.url_for_static('landing/library.png') }}'); background-size: contain; {% endif %}" >
        <div class="ibox-content" style="padding: 5px 20px 0px 20px; {% if iconOfLibrary %}background-color: rgba(255,255,255,0.9); {% endif %}">
            <table width="100%">
                <tr>
                    <td style="{% if iconOfLibrary %}width:45%; color: black;{% else %}width:95%{% endif %}">
                        <h2 >{{ _title }}</h2>
                    </td>
                    {% if iconOfLibrary %}
                        <td rowspan="2"  style="width: 10%; text-align: center; vertical-align: middle">
                            <i class="fa {{ iconOfLibrary }}" style="font-size: 40px; color: black"></i>
                        </td>
                    {% endif %}
                    <td rowspan="2" class="text-right">
                        {% if _linkWiki %}
                            <a href="{{ _linkWiki }}" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('landing/info.png') }}" alt="info"/> </a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle">
                        {% set showTabsOfMenu = True %}
                        {% if showTabsOfMenu %}
                            <ol class="breadcrumb" style="{% if iconOfLibrary %} background-color: rgba(255,255,255,0.1); color: black{% endif %}" >
                                <li>
                                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main menu") }}</a>
                                </li>
                                {% for opt in extra %}
                                    <li>
                                        <a href="{{ opt[1] }}">{{ opt[0] }}</a>
                                    </li>
                                {% endfor %}
                                <li class="active">
                                    {% if otherTitle %}
                                        {% set _title = otherTitle %}
                                    {% endif %}
                                    <strong>{{ _title }}</strong>
                                </li>
                            </ol>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>