{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Update Technology") }}</title>
{% endblock title %}

{% block pageheading %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ _("Update treatment") }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main menu") }}</a>
                </li>
                <li >
                    <a href="{{ request.route_url('usertechnologies') }}">{{ _("Treatments library") }}</a>
                </li>
                <li class="active">
                    <strong>{{ _("Update treatment") }}</strong>
                </li>
            </ol>
            <a href="https://climmob.net/blog/wiki/2019/09/30/update-treatment/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('static/landing/info.png') }}" alt="info"/> </a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}

{% block pagecontent %}
    {% if redirect == False %}
        <div class="row" style="height: 100%">
            <div class="col-lg-6 " style="height: 100%">
                <div class="ibox float-e-margins" style="height: 100%; margin-bottom: 0px">
                    <div class="ibox-title">
                        <h5>{{ _("Update treatment") }}</h5>
                        <div class="ibox-tools">

                        </div>
                    </div>
                    <div class="ibox-content" style="height: 89%">
                        {% snippet 'snippets/error.jinja2', error_summary=error_summary %}

                        <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                            {% snippet 'snippets/technologies/technologies-form.jinja2', formdata=formdata, request=request %}
                            <button class="btn btn-warning pull-right" type="submit" name="btn_modify_technology" > {{ _('Update treatment') }}</button>
                        </form>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock pagecontent%}


{% if redirect == True %}
    {% block toastr %}
        {# Overwrite the toaster so it does not trigger the popup #}
    {% endblock toastr %}
{% endif %}

{% block script %}
    {% if redirect == True %}
        {# If a new question is just added or edited then redirect the mainwindo to such project #}
        <script>
            window.top.location.href = "{{ request.route_url('usertechnologies') }}";
        </script>
    {% endif %}
{% endblock script %}