{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Technology options library") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','datatables' %}
    {% cssresource request,'coreresources','sweet' %}
    {% cssresource request,'coreresources','footable' %}
    {% cssresource request,'coreresources','tour' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','footable' %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','technologies' %}
    {% jsresource request,'coreresources','datatables' %}
    {% jsresource request,'coreresources','sweet' %}
    {% jsresource request,'coreresources','delete' %}
    {% jsresource request,'coreresources','tour' %}
{% endblock topScripts %}

{% block pageheading %}
    <div class="row wrapper border-bottom white-bg page-heading" id="div_for_help">
        <div class="col-lg-10">
            <h2>{{ _("Technologies library") }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main menu") }}</a>
                </li>
                <li class="active">
                    <strong>{{ _("Technologies library") }}</strong>
                </li>
            </ol>
            <a href="https://climmob.net/blog/wiki/2019/09/30/treatments-library/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('static/landing/info.png') }}" alt="info"/> </a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}

{% block pagecontent %}
    <div class="row">

        <div class="col-md-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("Technologies available") }}</h5>
                    <div class="ibox-tools">
                        <a onclick="showHelp()" class="btn btn-xs btn-primary pull-right" style="margin-right: 20px">{{ _("Show help") }}</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="{{ _("Search technology") }}">
                    <div class="activity-stream">
                        <table class="footable table table-stripped" data-page-size="50000" data-filter=#filter>
                            <thead>
                                <tr>
                                    <th style="text-align: center">{{ _("Technology")}}</th>
                                    <th style="text-align: center" data-type="numeric">{{  _("Number of options") }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% snippet 'snippets/technologies/technologies-stream.jinja2', request=request, color="#000000",UserTechs=ClimMobTechs %}
                                {% if activeUser.login != "bioversity" %}
                                    {% snippet 'snippets/technologies/technologies-stream.jinja2', request=request, color="#1ab394",UserTechs=UserTechs %}
                                {% endif %}
                            </tbody>
                        </table>

                        <div class="stream" style="padding: 4px 0" onclick="showCreateTechnology()">
                            <div class="stream-badge">
                                <i class="fa fa-plus" style="color:#000000"></i>
                            </div>
                            <div class="stream-panel" style="margin-top: 4px">
                                <div class="stream-info">
                                    <strong class="label label-primary" style="font-size: 12px; background-color: #3c763d">{{ _("Create new technology") }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4" id="div_create_technology" style="display: none" >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("Technology details") }}</h5>
                    <div class="ibox-tools">
                        <button id="btn_cancel_technology"  class="btn btn-xs btn-default pull-right " ><i class="fa fa-close" style="color: black"></i> </button>
                    </div>
                </div>
                <div class="ibox-content">
                    {% snippet 'snippets/error.jinja2', error_summary=error_summary %}

                    <form class="form-horizontal" id="form_technology" role="form" method="post" action="{{ request.path }}">
                        {% snippet 'snippets/technologies/technologies-form.jinja2', request=request, dataworking=dataworking %}

                        <button style="display: none" class="btn btn-danger pull-left BtnTechnology" id="btn_delete_technology" onclick="deleteTechnology()" type="button" title="{{ _("Delete technology") }}">{{ _("Delete technology") }}</button>
                        <button style="display: none" class="btn btn-primary pull-right BtnTechnology" type="submit" id="btn_add_technology" name="btn_add_technology" > {{ _('Add and close') }}</button>
                        <button style="display: none" class="btn btn-primary pull-right BtnTechnology" type="submit" id="btn_modify_technology" name="btn_modify_technology" > {{ _('Save and close') }}</button>
                    </form>
                    <br>
                    <br>
                    <hr>
                    <div class="activity-stream" id="div_show_alias">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" id="div_create_technology_option" style="display: none" >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("Technology options details") }}</h5>
                    <div class="ibox-tools">
                        <button id="btn_cancel_technology_options"  class="btn btn-xs btn-default pull-right " ><i class="fa fa-close" style="color: black"></i> </button>
                    </div>
                </div>
                <div class="ibox-content">
                    {% snippet 'snippets/error.jinja2', error_summary=error_summary_options %}

                    <form class="form-horizontal" id="form_technology_options" role="form" method="post" action="{{ request.path }}">
                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                        <input type="text" class="form-control tech_id" value="{{ dataworking.tech_id }}" name="tech_id" style="display: none">
                        <input type="text" class="form-control " value="{{ dataworking.alias_id }}" id="alias_id" name="alias_id" style="display: none">

                        <div class="sectionOption" id="div_create_option" style="display: none">
                            <div class="row text-center">
                                <p>{{ _("Write each technology option on separate lines.") }}</p>
                                <textarea rows="10" style="width: 90%"  id="alias_name_insert" name="alias_name_insert" required="" oninvalid="this.setCustomValidity('{{ _("Write the technology option name.") }}')" onchange="this.setCustomValidity('')">{{ dataworking.alias_name_insert }}</textarea>
                            </div>
                        </div>

                        <div class="sectionOption" id="div_update_option" style="display: none">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ _('Name:') }}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" value="{{ dataworking.alias_name }}" id="alias_name" name="alias_name" placeholder=" " required="" oninvalid="this.setCustomValidity('{{ _("Write the technology option name.") }}')" onchange="this.setCustomValidity('')">
                                </div>
                            </div>
                        </div>

                        <br>
                        <button style="display: none" class="btn btn-danger pull-left BtnTechnologyOptions" id="btn_delete_technology_option" onclick="deleteTechnologyOption()" type="button" title="{{ _("Delete technology option") }}">{{ _("Delete technology option") }}</button>
                        <input style="display: none" class="btn btn-primary pull-right BtnTechnologyOptions" type="submit" id="btn_add_alias" name="btn_add_alias" value="{{ _('Add and close') }}"></input>
                        <input style="display: none" class="btn btn-primary pull-right BtnTechnologyOptions" type="submit" id="btn_modify_alias" name="btn_modify_alias" value="{{ _('Save and close') }}"></input>
                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>

    </div>

    <style>
        .technologyActive{
            background-color: #ccc;
            border-radius: 0.5em;
        }
    </style>

    <script>

        $(document).on('ifChecked', '.i-checkTech', function(event) {
                id = $(this).attr("id")
                $("#tech"+id.replace("radio","")).click()
        });

        $(document).ready(function () {

            $('.footable').footable();

            $('.i-checks-Black').iCheck({
                radioClass: 'iradio_square-black',
            });

            $('.i-checks-Green').iCheck({
                radioClass: 'iradio_square-green',
            });

            /*$('.i-checkTech').on('ifChanged', function()
            {
                id = $(this).attr("id")
                $("#tech"+id.replace("radio","")).click()
            });*/

            $('.i-checkOption').on('ifChanged', function()
            {
                id = $(this).attr("id")
                $("#option"+id.replace("radio","")).click()
            });

            {% if techSee %}
                showVarietiesInTechnology({{ techSee|tojson }}, closeError='no')
                {% if error_summary_options %}
                    {% if "btn_add_alias" in dataworking %}
                        $("#alias_name").prop('required',false);
                        $("#div_create_option").css('display','initial')
                        $("#btn_add_alias").css('display','initial')
                    {% else %}
                        $("#radioOption{{dataworking.alias_id}}").iCheck('check');
                        $("#alias_name_insert").prop('required',false);
                        $("#div_update_option").css('display','initial')
                        $("#btn_delete_technology_option").css('display','initial')
                        $("#btn_modify_alias").css('display','initial')
                    {% endif %}

                    $("#div_create_technology_option").css('display','initial')
                {% endif%}
            {% else %}
                {% if error_summary %}
                    $("#btn_add_technology").css('display','initial')
                    $("#div_create_technology").css('display','initial')
                {% endif%}
            {% endif %}
        });



        function showCreateTechnology() {
            cleanBtsTechnologyOptions()
            cleanSectionsOptions()
            cleanBtsTechnology()
            $("#div_show_alias").html("")
            $("#btn_add_technology").css('display','initial')
            $("#tech_name").prop('readonly',false)
            $("#tech_name").val("")
            $(".tech_id").val("")
            $("#div_create_technology").css('display','initial')
        }

        $("#btn_cancel_technology").click(function () {
            $('.i-checkTech').iCheck('uncheck');
            $("#btn_cancel_technology_options").click()
            $("#div_create_technology").css('display','none')
        });

        $("#btn_cancel_technology_options").click(function(){
            $('.i-checkOption').iCheck('uncheck');
            $("#div_create_technology_option").css('display','none')
            $("#alias_name_insert").val("")
        });

        function showVarietiesInTechnology(tech, closeError='yes') {
            console.log("entra")
            if (!$("#radio"+tech.tech_id).prop('checked')) {
                $("#radio"+tech.tech_id).iCheck('check');
            }

            if(closeError == 'yes')
            {
                if ($('.closeError').length) {
                    $(".closeError").click()
                }

                $("#div_create_technology_option").css("display","none")
            }

            cleanBtsTechnology()
            $(".tech_id").val(tech.tech_id)
            $("#tech_name").val(tech.tech_name)

            allHTML = "<h4>{{ _("List of technology options:") }}</h4>"
            for(var i=0; i<tech.tech_alias.length; i++)
            {
                var arrayForAlias = JSON.stringify(tech.tech_alias[i]).replace(/(')/g, "\\u0027");
                if(tech.tech_alias[i].quantity == 0 & tech.user_name == "{{ activeUser.login }}"){
                    allHTML +="<div class='stream' style='padding:4px 0' onclick='showAlias("+arrayForAlias+")' id='option"+tech.tech_alias[i].alias_id+"'>"
                    allHTML +="<div class='stream-badge'>"
                    /*allHTML +="<i class='fa fa-thumb-tack' style='color:#1ab394'></i>"*/
                    /*allHTML +="<i class='fa fa-thumb-tack' style='color:#1ab394'></i>"*/
                    allHTML +="<i style='border-color:#1ab394; padding: initial;'><input type='radio' class='i-checkOption i-checks-Green1' name='technologyoptions' id='radioOption"+tech.tech_alias[i].alias_id+"'></i>"
                }else{
                    allHTML +="<div class='stream' style='padding:4px 0' >"
                    allHTML +="<div class='stream-badge'>"
                    /*allHTML +="<i class='fa fa-thumb-tack' style='color:#000000'></i>"*/
                    allHTML +="<i style='border-color:#000000; padding: initial;'><input type='radio' class='i-checkOption i-checks-Black1' disabled='' name='technologyoptions' id='radioOption"+tech.tech_alias[i].alias_id+"'></i>"
                }
                allHTML +="</div>"
                allHTML +="<div class='stream-panel' style='margin-top:4px'>"
                allHTML +="<div class='stream-info'>"
                allHTML +="<p style='font-size:14px; margin:initial'>"+tech.tech_alias[i].alias_name+"</p>"
                allHTML +="</div>"
                allHTML +="</div>"
                allHTML +="</div>"
            }
            if(tech.user_name == "{{ activeUser.login }}"){
                allHTML +="<div class='stream' style='padding:4px 0' onclick='showCreateAlias()'>"
                allHTML +="<div class='stream-badge'>"
                allHTML +="<i class='fa fa-plus' style='color:#000000'></i>"
                allHTML +="</div>"
                allHTML +="<div class='stream-panel' style='margin-top:4px'>"
                allHTML +="<div class='stream-info'>"
                allHTML +="<strong class='label label-primary' style='font-size: 12px; background-color: #3c763d'>{{ _("Create new technology option") }}</strong>"
                allHTML +="</div>"
                allHTML +="</div>"
                allHTML +="</div>"
            }

            $("#div_show_alias").html(allHTML)

            $('.i-checks-Black1').iCheck({
                radioClass: 'iradio_square-black',
            });

            $('.i-checks-Green1').iCheck({
                radioClass: 'iradio_square-green',
            });

            /*$('.i-checkOption').on('ifChanged', function()
            {
                id = $(this).attr("id")
                $("#option"+id.replace("radioOption","")).click()
            });*/

            $(document).on('ifChecked', '.i-checkOption', function(event) {
                id = $(this).attr("id")
                $("#option"+id.replace("radioOption","")).click()
            });

            if(tech.found == 0 & tech.user_name == "{{ activeUser.login }}"){
                //$("#btn_modify_technology").css('display','initial')
                $("#btn_delete_technology").css('display','initial')
                $("#tech_name").prop('readonly',false)
            }else{
                $("#tech_name").prop('readonly',true)
            }

            $("#div_create_technology").css('display','initial')
            $("#div_show_alias").css('display','initial')
        }

        function showCreateAlias(){
            $("#alias_name").prop('required',false);
            $("#alias_name_insert").prop('required',true);
            if ($('.closeError').length) {
                $(".closeError").click()
            }

            cleanBtsTechnologyOptions()
            cleanSectionsOptions()
            $("#btn_add_alias").css('display','block')
            $("#div_create_option").css('display','block')
            $("#div_create_technology_option").css("display","initial")
        }

        function showAlias(alias)
        {
            $("#option"+alias.alias_id).iCheck('check');

            if ($('.closeError').length) {
                $(".closeError").click()
            }
            $("#alias_name").prop('required',true);
            $("#alias_name_insert").prop('required',false);
            cleanSectionsOptions()
            cleanBtsTechnologyOptions()
            $("#alias_name").val(alias.alias_name)
            $("#alias_id").val(alias.alias_id)
            $("#btn_delete_technology_option").css('display','initial')
            $("#btn_modify_alias").css('display','initial')
            $("#div_update_option").css('display','initial')
            $("#div_create_technology_option").css('display','initial')
        }

        function deleteTechnology() {
            var urlAction= "{{ request.host_url }}/technology/"+$("#tech_id").val()+"/delete"
            showDelete(urlAction,'{{ _("Do you really want to remove this technology?") }}','{{ request.session.get_csrf_token() }}')
        }

        function deleteTechnologyOption()
        {
            var urlAction= "{{ request.host_url }}/technology/"+$("#tech_id").val()+"/alias/"+$("#alias_id").val()+"/delete"
            showDelete(urlAction,'{{ _("Do you really want to remove this technology option?") }}','{{ request.session.get_csrf_token() }}','noRedirectAndAction')

        }

        function myCustomAction(){
            $("#form_technology_options").submit()
        }

        function cleanBtsTechnology() {
            $(".BtnTechnology").css('display','none')
        }

        function cleanBtsTechnologyOptions() {
            $(".BtnTechnologyOptions").css('display','none')

            if ($('.closeError').length) {
                $(".closeError").click()
            }
        }

        function cleanSectionsOptions(){
            $(".sectionOption").css('display','none');
            $("#alias_name_insert").val("")
            $("#alias_name").val("")
            $("#alias_id").val("")
        }

        $("#form_technology_options").bind("keypress", function(e) {

            if (e.target.localName == "input")
            {
                if (e.keyCode == 13) {
                    return false;
                }
            }
        });

        $("#form_technology").bind("keypress", function(e) {

            if($("#tech_id").val() != "")
            {
                $("#btn_modify_technology").css('display','initial')
            }
            if (e.keyCode == 13) {
                return false;
            }
        });

        function showHelp()
        {
            var tour = new Tour({
                steps: [
                        {
                            element: "#div_for_help",
                            title: "{{ _("Creating technologies in the library") }}",
                            content: "1. {{ _("Click on the button: 'Create new technology'.") }}<br>2. {{ _("Click on the technology row.") }}<img src='{{ request.url_for_static('static/gif/create_technologies.gif') }}' />",
                            placement: "bottom"
                        }
                       ],
                template: "<div class='popover tour' style='border-color: #23c6c8; max-width: none; width:868px'><div class='arrow' ></div><h3 class='popover-title btn-info'></h3><div class='popover-content'></div><div class='popover-navigation'> <button class='btn btn-sm btn-secondary' data-role='end'>{{ _("Close") }}</button> </div>",
                backdrop: true,
                backdropContainer: 'body'
            });

            // Initialize the tour
            tour.init();
            tour.restart();
        }

    </script>


{% endblock pagecontent %}