{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>ClimMob - Delete assessment</title>
{% endblock title %}

{% block pageheading %}

{% endblock %}

{% block bodyattributes %} style="background:#f8fafb" {% endblock bodyattributes %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 ">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Delete assessment - {{ data.ass_desc }}</h5>
                    <div class="ibox-tools">
                        <button type="button" onclick="location.href='{{ request.route_url('assessment', projectid=projectid) }}';" class="btn btn-default btn-xs pull-right">Cancel and go back</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="middle-box text-center animated fadeInRightBig">
                        <h3 class="font-bold">Delete assessment</h3>
                        <div class="error-desc">
                            Do you really want to delete the assessment "{{ data.ass_desc }}"?
                            <br/><form method="post" action="{{ request.path }}">
                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}