{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob - Update assessment") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','switch' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','switch' %}
    {% jsresource request,'coreresources','assessment_form' %}
{% endblock topScripts %}

{% block pageheading %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ _("Update data collection moment") }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main menu") }}</a>
                </li>
                <li>
                    <a href="{{ request.route_url('assessment',projectid=projectid) }}">{{ _("Prepare data collection") }}</a>
                </li>
                <li class="active">
                    <strong>{{  _("Update data collection moment") }}</strong>
                </li>
            </ol>
            <a href="https://climmob.net/blog/wiki/2019/09/30/update-data-collection-moment/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('static/landing/info.png') }}" alt="info"/> </a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}

{% block pagecontent %}
    <div class="row">
        <div class="col-lg-8 ">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("Update data collection moment") }}</h5>
                    <div class="ibox-tools">
                        <button type="button" onclick="location.href='{{ request.route_url('assessment', projectid=projectid) }}';" class="btn btn-default btn-xs pull-right">{{ _("Cancel and go back") }}</button>
                    </div>
                </div>
                <div class="ibox-content">

                    {% snippet 'snippets/error.jinja2', error_summary=error_summary %}


                    <div class="error-desc">
                        <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                            {% snippet 'snippets/project/assessment/assessmentform.jinja2', data=data, final_visible=new_available %}
                            <button class="btn btn-warning pull-right" type="submit" name="btn_add_ass"> {{ _('Update') }}</button>
                        </form>
                        <br>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock pagecontent %}

