{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob - New question") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','datatables' %}
    {% cssresource request,'coreresources','shuffle' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','newregistryquestion' %}
    {% jsresource request,'coreresources','shuffle' %}
{% endblock topScripts %}

{% block pageheading %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ _("New question") }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main menu") }}</a>
                </li>
                <li>
                    <a href="{{ request.route_url('assessment',projectid=projectid) }}">{{ _("Prepare data collection") }}</a>
                </li>
                <li >
                    <a href="{{ request.route_url('assessmentdetail', projectid=projectid,assessmentid=assessmentid) }}">{{  _("Data collection moment") }}: {{ assinfo.ass_desc }}</a>
                </li>
                <li class="active">
                    <strong>{{ _("Section") }}: {{ groupInfo.section_name }}</strong>
                </li>
            </ol>
            <a href="https://climmob.net/blog/wiki/2019/09/30/data-collection-moment-new-question/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('static/landing/info.png') }}" alt="info"/> </a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}

{% block pagecontent %}
{#    <div class="row">#}
{#        <div class="col-lg-12 ">#}
{#            <div class="ibox float-e-margins">#}
{#                <div class="ibox-title">#}
{#                    <h5>{{ _("New question") }}</h5>#}
{#                    <div class="ibox-tools">#}
{#                        <button type="button" onclick="location.href='{{ request.route_url('assessmentdetail', projectid=projectid,assessmentid=assessmentid) }}';" class="btn btn-default btn-xs pull-right">{{ _("Cancel and go back") }}</button>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="ibox-content">#}
{##}
{#                    {% snippet 'snippets/error.jinja2', error_summary=error_summary %}#}
{#                    <form method="post" action="{{ request.path }}">#}
{#                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">#}
{##}
{#                        <div>#}
{##}
{#                            {% snippet 'snippets/question/question-item.jinja2', request=request, UserQuestion =UserQuestion, QuestionsOptions =QuestionsOptions, User = "", showtools = False, showCheck = True %}#}
{##}
{#                            {% if UserQuestion|length > 0  %}#}
{#                                <button class="btn btn-primary pull-right" type="submit" name="btn_add_question_to_group"> {{ _('Save and close') }}</button>#}
{#                                <br>#}
{#                                <br>#}
{#                            {% endif %}#}
{##}
{##}
{#                        </div>#}
{##}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="row">
        <div class="col-lg-12 ">
            <div class="ibox ">
                <div class="ibox-title text-center">
                    <h5 >{{ _("New question") }}</h5>
                    <div class="ibox-tools">
                        <button type="button" onclick="location.href='{{ request.route_url('registry', projectid=projectid) }}';" class="btn btn-default btn-xs pull-right">{{ _("Cancel and go back") }}</button>
                    </div>
                    <br>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary active">
                            <input type="radio" name="shuffle-filter" value="all" checked="checked"/>{{ _('All') }}
                        </label>
                        {% for category in Categories %}

                            <label class="btn btn-outline-primary">
                                <input type="radio" name="shuffle-filter" value="{{ category.qstgroups_id }}"/>{{ category.qstgroups_name }}
                            </label>

                        {% endfor %}
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-4" style="margin-top: 5px;"></div>
                    <div class="row form-horizontal form-group col-sm-4" style="margin-top: 5px;">

                        <label class="col-sm-2 control-label">{{ _("Search") }}</label>
                        <div class="col-sm-10">
                            <input class="form-control js-shuffle-search" type="search" id="filters-search-input" />
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top: 5px;"></div>
                    <br>
                    <br>
                    <br>

                </div>
                <div class="ibox-content text-center">

                    <form method="post" action="{{ request.path }}">
                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">


                        <h3>{{ _("Questions by category...") }}</h3>
                        <div class=" my-shuffle col-sm-12 " style="float: initial">
                            {% for question in UserQuestion %}
                                {% if question.user_name == 'bioversity' and activeUser.login != 'bioversity' %}
                                    {% set showLogo = True %}
                                {% endif %}
                                {% snippet 'snippets/question/question-shuffle.jinja2', request=request,question=question, showLogo=showLogo, showtools=False, showCheck=True %}
                            {% endfor %}
                        </div>
                        <div class="col-1 my-sizer-element" style="max-width: 1px; max-height: 1px"></div>
                        <br>

                        <button class="btn btn-primary pull-right" type="submit" name="btn_add_question_to_group"> {{ _('Save and close') }}</button>

                    </form>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock pagecontent %}

