<!DOCTYPE html>
<html>

<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ request.url_for_static('landing/icon.png') }}">
    {% endblock meta %}

    {% block title %}
        <title>{{ _("ClimMob") }}</title>
    {% endblock title %}

    {% block css %}
        {% cssresource request,'coreresources','c3' %}
        {% cssresource request,'coreresources','style' %}
        {% cssresource request,'coreresources','sweet' %}
        {% cssresource request,'coreresources','tour' %}

    {% endblock css %}

    {% block topScripts %}

        {% jsresource request,'coreresources','dashboard' %}
        {% jsresource request,'coreresources','sweet' %}
        {#    {% jsresource request,'coreresources','delete' %}#}
        {% jsresource request,'coreresources','toastr' %}
        {% include 'snippets/delete.jinja2' %}
        {% jsresource request,'coreresources','d3' %}
        {% jsresource request,'coreresources','c3' %}
        {% jsresource request,'coreresources','tour' %}

    {% endblock topScripts %}

</head>

{% set withsidebar = [] %}

<body class="{% block bodyclass %}{% endblock bodyclass %}" {% block bodyattributes %}{% endblock bodyattributes %}>
{% block body %}
    <div id="wrapper">
        {% block mainavbar %}
            <nav class="navbar-default navbar-static-side" role="navigation" style="z-index: initial">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        {% block mainavheader %}
                            <li class="nav-header">
                                <div class="dropdown profile-element">
                                    <span>
                                        {% block mnavuserimage %}
                                            <img alt="image" class="img-circle" src="{{ activeUser.gravatarURL }}" />
                                        {% endblock mnavuserimage %}
                                    </span>
                                    {% block mnavuserdm %}
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <span class="clear">
                                            {% block mnavuserdetails %}
                                                <span class="block m-t-xs"> <strong class="font-bold">{{ activeUser.fullName }}</strong></span>
                                                <span class="text-muted text-xs block">{{ _("Actions") }} <b class="caret"></b></span>
                                            {% endblock mnavuserdetails %}
                                        </span>
                                        </a>
                                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                            {% block mnavusermitems %}
                                                <li><a href="{{ request.route_url('profile') }}">{{ _("Profile") }}</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ request.route_url('logout') }}">{{ _("Logout") }}</a></li>
                                            {% endblock mnavusermitems %}
                                        </ul>
                                    {% endblock mnavuserdm %}
                                </div>
                                <div class="logo-element">
                                    {% block mainavlogo %}
                                        CM
                                    {% endblock mainavlogo %}
                                </div>
                            </li>
                        {% endblock mainavheader %}
                        {% block mainavitems %}
                            <li>
                                <a href="{{ request.route_url('dashboard') }}"><i class="fa fa-th-large"></i> <span class="nav-label">{{ _("Main menu") }}</span></a>
                            </li>
                            {% if hasActiveProject %}
                                {% if activeProject is string %}
                                    {% set idForProject = activeProject %}
                                {% else %}
                                    {% set idForProject = activeProject.project_cod%}
                                {% endif %}
                                <li>
                                    <a href="{{ request.route_url('modifyproject',projectid=idForProject) }}"><i class="fa fa-list-alt"></i> {{ _("Project profile") }}</a>
                                </li>
                            {% endif %}
                            <li class="active" style="border-left: initial;background: initial" id="nav_libraries">
                                <a href="#"><i class="fa fa-book"></i> <span class="nav-label">{{ _("Library") }}</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse" style="border-left: initial;background: initial">
                                    <li id="nav_enumerators"><a href="{{ request.route_url('enumerators') }}"><i class="fa fa-group"></i> <span class="nav-label">{{ _("Field agents") }}</span></a></li>
                                    <li id="nav_technology"><a href="{{ request.route_url('usertechnologies') }}"><i class="fa fa-flask"></i> <span class="nav-label">{{ _("Technology options") }}</span></a></li>
                                    <li id="nav_questions"><a href="{{ request.route_url('qlibrary',user_name =activeUser.login) }}"><i class="fa fa-comment"></i> <span class="nav-label">{{ _("Questions") }}</span></a></li>
                                </ul>
                            </li>
                            <li id="nav_downloads">
                                <a href="{{ request.route_url('productList') }}"><i class="fa fa-cloud-download"></i> <span class="nav-label">{{ _("Downloads") }}</span></a>
                            </li>
                            {% if activeUser.login == "bioversity" %}
                                <li>
                                    <a href="{{ request.route_url('projectHelp') }}"><i class="fa fa-cog"></i> <span class="nav-label">{{ _("Project help") }}</span></a>
                                </li>
                            {% endif %}
                        {% endblock mainavitems %}
                    </ul>
                </div>
            </nav>
        {% endblock mainavbar %}
        <div id="page-wrapper" class="gray-bg">
            {% block header %}
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header" style="min-width: 50%">
                            {% block headwelcome %}
                                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
                                <h2 style="margin: 14px 5px 5px 20px"> <span style="color: #1ab492">{{ _("ClimMob") }}</span></h2>
                            {% endblock headwelcome %}
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            {% block headitems %}
                                <li class="li_languages">
                                    <img class="language" name="en" src="{{ request.url_for_static('landing/en.png') }}" style="height: 15px; width: 22px">
                                </li>
                                <li class="li_languages">
                                    <img class="language" name="es" src="{{ request.url_for_static('landing/es.png') }}" style="height: 15px; width: 22px">
                                </li>
                                <li>
                                    <a href="{{ request.route_url('logout') }}">
                                        <i class="fa fa-sign-out"></i> {{ _("Log out") }}
                                    </a>
                                </li>
                                <li>
                                    {% block headsidebar %}
                                        <a class="right-sidebar-toggle">
                                            <i class="fa fa-tasks"> </i> {{ _("Projects") }}
                                            {% do withsidebar.append(1) %}
                                        </a>
                                    {% endblock headsidebar %}
                                </li>
                            {% endblock headitems %}
                        </ul>
                    </nav>
                </div>
            {% endblock header %}
            {% block pageheading %}
                {% if hasActiveProject %}
                    <div class="row" style="background-color: white">
                        <div class="col-lg-12">
                            <div class="ibox-content" style="padding: 5px 20px 10px 20px;">
                                <table width="100%">
                                    <tr>
                                        <td width="95%">
                                            <h2 ><strong>{{ activeProject.project_name }}</strong></h2>
                                        </td>
                                        <td rowspan="2" class="text-center">
                                            <a href="https://climmob.net/blog/wiki/main-menu/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('landing/info.png') }}" alt="info"/> </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: middle">
                                            {{ activeProject.project_abstract}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock pageheading %}
            <div class="wrapper wrapper-content">
                {% block pagecontent %}
                    {% if hasActiveProject %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">

                                        <div class="ibox-tools">
                                            <div class="row" style="padding: 5px">
                                                <table style="width: 100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align: middle; width: 50%;text-align: left;">
                                                                <h5>{{ _("Project definition") }}</h5>
                                                            </td>
                                                            <td style="vertical-align: middle; text-align: center">
                                                                <div class="small" style="text-align: left">{{ pcompleted }}% {{ _("Completed") }}</div>
                                                                <div class="progress progress-mini" style="width: 85%">
                                                                    <div style="width: {{ pcompleted }}%;" class="progress-bar progress-bar-success"></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <a class="btn btn-primary btn-rounded btn-block" style="text-align: left;width: 100%; overflow: hidden;text-overflow: ellipsis;" {% if progress.enumerators_by_user == 0 %} onclick="seeHelp()" {% else %} href="{{ request.route_url('prjenumerators',projectid=activeProject.project_cod) }}" {% endif %}><i class="fa fa-user-circle-o"></i> {{ _("Assign field agents") }}</a>
                                            </div>
                                            <div class="col-md-3">
                                                <p style="margin-top: 8px; text-align: center"><span class="label {% if progress.enumerators %}label-success{% else %}label-danger{% endif %}">{% if progress.enumerators %}{{ _("Completed") }}{% else %}{{ _("Pending") }}{% endif %}</span></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                {% if progress.regsubmissions == 0 %}
                                                    <a class="btn btn-primary btn-rounded btn-block" style="text-align: left;width: 100%; overflow: hidden;text-overflow: ellipsis;" href="{{ request.route_url('prjtechnologies',projectid=activeProject.project_cod) }}"><i class="fa fa-envira"></i> {{ _("Select technology options") }}</a>
                                                {% else %}
                                                    <a class="btn btn-default btn-rounded btn-block" style="text-align: left;width: 100%; overflow: hidden;text-overflow: ellipsis;"><i class="fa fa-lock"></i> {{ _("Select technology options") }}</a>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-3">
                                                <p style="margin-top: 8px; text-align: center">
                                                    {% if progress.technology and progress.techalias %}
                                                        <span class="label label-success">{{ _("Completed") }}</span>
                                                    {% endif %}
                                                    {% if progress.technology and not progress.techalias %}
                                                        <span class="label label-warning" title="There are assigned treatments but without levels">{{ _("Partial") }}</span>
                                                    {% endif %}
                                                    {% if not progress.technology and not progress.techalias %}
                                                        <span class="label label-danger">{{ _("Pending") }}</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9">
                                                {% if progress.regsubmissions == 0 %}
                                                    <a class="btn btn-primary btn-rounded btn-block" style="text-align: left;width: 100%; overflow: hidden;text-overflow: ellipsis;" href="{{ request.route_url('registry',projectid=activeProject.project_cod) }}"><i class="fa fa-address-card-o"></i> {{ _("Prepare registration form") }}</a>
                                                {% else %}
                                                    <a class="btn btn-default btn-rounded btn-block" style="text-align: left;width: 100%; overflow: hidden;text-overflow: ellipsis;"><i class="fa fa-lock"></i> {{ _("Prepare registration") }}</a>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-3">
                                                <p style="margin-top: 8px; text-align: center;">
                                                    {% if progress.registry %}
                                                        <span class="label label-success">{{ _("Completed") }}</span>
                                                    {% else %}
                                                        <span class="label label-danger">{{ _("Pending") }}</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                        {% if activeProject.project_registration_and_analysis != 1 %}
                                            <div class="row">
                                                <div class="col-md-9">

                                                    <a class="btn btn-primary btn-rounded btn-block" style="text-align: left;width: 100%; overflow: hidden;text-overflow: ellipsis;" href="{{ request.route_url('assessment',projectid=activeProject.project_cod) }}" ><i class="fa fa-balance-scale"></i> {{ _("Prepare data collection") }}</a>

                                                </div>
                                                <div class="col-md-3">
                                                    <p style="margin-top: 8px; text-align: center">
                                                        {% if progress.assessment %}
                                                            <span class="label label-success">{{ _("Completed") }}</span>
                                                        {% else %}
                                                            <span class="label label-danger">{{ _("Pending") }}</span>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <br>
                                                <div class="text-center">
                                                    <h3>{{ _("Share this link to show trial progress") }}:</h3>
                                                    <br>
                                                    <input readonly class=" form-control " style="margin-bottom: 5px; padding: 6px 12px; border-color: #1ab394; border-radius: 3px" type="text" id="aForCopy" value="{{ request.route_url("projectInformation", id = encrypted) }}" >
                                                    <button class="btn btn-default" onclick="copy()">{{ _("Copy to clipboard") }}</button>
                                                </div>
{#                                                <hr>#}
                                            </div>
                                        </div>
{#                                        <div class="row">#}
{#                                            <div class="col-md-6">#}
{#                                                <a class="btn btn-warning btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" href="{{ request.route_url('modifyproject',projectid=activeProject.project_cod) }}"><i class="fa fa-wrench"></i> {{ _("Update project settings") }}</a>#}
{#                                            </div>#}
{#                                            <div class="col-md-6">#}
{#                                                <a class="btn btn-danger btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" onclick="showDelete('{{ request.route_url('deleteproject',projectid=activeProject.project_cod) }}','{{ _("Do you really want to remove this project?") }}','{{ request.session.get_csrf_token() }}','{{ request.route_url('dashboard') }}')"><i class="fa fa-trash"></i> {{ _("Delete project") }}</a>#}
{#                                            </div>#}
{#                                        </div>#}
                                    </div>
                                </div>

                                {% if activeProject.project_registration_and_analysis != 1 %}
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">

                                        <div class="ibox-tools">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h5>{{ _("Data Collection moments") }}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            {% if pcompleted == 100 and progress.regsubmissions == 2  %}
                                                <div class="text-left" style="padding: 15px;">
                                                    <p>{{ _("Please check the following types of questions are in the started assessments or include them in the next assessments:") }}</p>
                                                    <span style="font-size: 16px;font-weight: 600;" title="{{ _("You have included ")}}{{ progress.analysisControl.Characteristics }}{{ _(" Ranking of options") }}"><i  class="fa {% if progress.analysisControl.Characteristics > 0 %}fa-check{% else %}fa-times{% endif %}" style="font-size: 16px;font-weight: 600;color: {% if progress.analysisControl.Characteristics > 0 %}#1ab394{% else %}#ed5565{% endif %}" ></i> {{ _("Ranking of options") }}</span><br>
                                                    <span style="font-size: 16px;font-weight: 600;" title="{{ _("You have included ")}}{{ progress.analysisControl.Performance }}{{ _(" Comparison with check") }}"><i  class="fa {% if progress.analysisControl.Performance > 0 %}fa-check{% else %}fa-times{% endif %}" style="font-size: 16px;font-weight: 600;color: {% if progress.analysisControl.Performance > 0 %}#1ab394{% else %}#ed5565{% endif %}" ></i> {{ _("Comparison with check") }}</span><br>
                                                    <span style="font-size: 16px;font-weight: 600;" title="{{ _("You have included ")}}{{ progress.analysisControl.Explanatory }}{{ _(" Explanatory variables") }}"><i  class="fa {% if progress.analysisControl.Explanatory > 0 %}fa-check{% else %}fa-times{% endif %}" style="font-size: 16px;font-weight: 600;color: {% if progress.analysisControl.Explanatory > 0 %}#1ab394{% else %}#ed5565{% endif %}" ></i> {{ _("Explanatory variables") }}</span><br>
                                                    <span style="font-size: 16px;font-weight: 600;" {% if progress.analysisControl.overralCharacteristic !="" %}title="{{ _("You have included this question in the assessment") }}: '{{ progress.analysisControl.overralCharacteristic }}'" {% endif %}><i  class="fa {% if progress.analysisControl.overralCharacteristic !="" %}fa-check{% else %}fa-times{% endif %}" style="font-size: 16px;font-weight: 600;color: {% if progress.analysisControl.overralCharacteristic != "" %}#1ab394{% else %}#ed5565{% endif %}" ></i> {{ _("Overall ranking of options") }}</span><br>
                                                    <span style="font-size: 16px;font-weight: 600;" {% if progress.analysisControl.overralPerformance !="" %}title="{{ _("You have included this question in the assessment") }}: '{{ progress.analysisControl.overralPerformance }}'" {% endif %}><i  class="fa {% if progress.analysisControl.overralPerformance !="" %}fa-check{% else %}fa-times{% endif %}" style="font-size: 16px;font-weight: 600;color: {% if progress.analysisControl.overralPerformance != "" %}#1ab394{% else %}#ed5565{% endif %}" ></i> {{ _("Overall comparison with check") }}</span>
                                                </div>
                                                <div class="col-md-12">
                                                    <br>
                                                    {% if progress.usableAssessments|length > 0 %}
                                                        {% include 'snippets/error.jinja2' %}
                                                        <form class="formElement" id="start_assessment"  role="form" method="post" action="{{ request.route_url("startassessments",projectid=activeProject.project_cod) }}">
                                                            <div class="form-group">
                                                                <label>{{ _("Select the assessment for start the data collection") }}</label>
                                                                <select id="assessment_id" name="assessment_id" class="form-control">
                                                                        {% for assessment in usable_assessments %}
                                                                            <option value="{{ assessment.ass_cod }}">{{ assessment.ass_desc }}</option>>
                                                                        {% endfor %}
                                                                    </select>
                                                            </div>
                                                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                                                            <button id="start_assessment_button" class="btn btn-primary btn-rounded btn-block" type="submit" name="start_assessment_button"> <i class="fa fa-play"></i> {{ _("Start an assessment") }}</button>
                                                        </form>
                                                        {# <button onclick="location.href = '{{ request.route_url('startassessments',projectid=activeProject.project_cod) }}'" class="btn btn-primary btn-rounded btn-block" ><i class="fa fa-play"></i> {{ _("Start an assessment") }}</button> #}
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                <div class="col-md-12">
                                                    <div class="text-center"><p>{{ _("You can start the data collection once the registration of participants is closed and the project definition is completed") }}</p></div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                            <div class="col-md-6">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">

                                        <div class="ibox-tools">
                                            <div class="row" style="padding: 5px">

                                                <table style="width: 100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align: middle; width: 50%;text-align: left;">
                                                                <h5 style=" margin: initial">{{ _("Participant registration") }}</h5>
                                                            </td>
                                                            <td style="vertical-align: middle; text-align: center">
                                                                {% set pbtype = "progress-bar-info" %}
                                                                {% if progress.regsubmissions == 0 %}
                                                                    <div class="small" style="text-align: left">{{ _("Not yet started") }}</div>
                                                                {% endif %}
                                                                {% if progress.regsubmissions == 1 %}
                                                                    <div class="small" style="text-align: left">{{ _("On going") }}</div>
                                                                {% endif %}
                                                                {% if progress.regsubmissions == 2 %}
                                                                    <div class="small" style="text-align: left">{{ _("Closed") }}</div>
                                                                    {% if progress.regperc >= 100 %}
                                                                        {% set pbtype = "progress-bar-success" %}
                                                                    {% else %}
                                                                        {% set pbtype = "progress-bar-warning" %}
                                                                    {% endif %}
                                                                {% endif %}
                                                                <div class="progress progress-mini">
                                                                    <div style="width: {{ progress.regperc }}%;" class="progress-bar {{ pbtype }}"></div>
                                                                </div>
                                                            </td>
                                                            <td style="vertical-align: middle;text-align: center; width: 10%">
                                                                <a class="collapse-link">
                                                                    <i class="fa fa-chevron-{% if progress.regsubmissions == 2 %}down{% else %}up{% endif %}"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox-content" {% if progress.regsubmissions == 2 %}style="display: none"{% endif %}>

                                        {% if progress.regsubmissions == 0 %}
                                            <div class="row">
                                                {% if progress.enumerators == true and progress.technology == true and progress.techalias == true and progress.registry == true %}
                                                    <div class="col-md-12">
                                                        <button class="btn btn-primary btn-rounded btn-block" onclick="location.href='{{ request.route_url('combinations',projectid=activeProject.project_cod,  _query={"stage": 2}) }}'"><i class="fa fa-play"></i> {{ _("Generate packages with technology options") }}<br/> {{ _("and open the registration of participants") }}</button>
                                                    </div>
                                                {% else %}
                                                    <div class="col-md-12">
                                                        <div class="text-center">{{ _("You can start the registration of participants once the project has field agents, technology options and a registration form") }}</div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}


                                        {% if progress.regsubmissions == 1 or progress.regsubmissions == 2  %}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3>{{ _("Statistics") }}</h3>
                                                    <div id="pieRegistry" ></div>
                                                    <table class="table table-striped">
                                                        <tbody>
                                                        <tr>
                                                            <td>{{ _("Total number of participants") }}: </td>
                                                            <td>{{ activeProject.project_numobs }}</td>
                                                        </tr>
                                                        <tr >
                                                            <td style="vertical-align: inherit">{{ _("Number of submissions") }}: </td>
                                                            <td style="vertical-align: inherit">{{ progress.regtotal }} {% if progress.regtotal > 0 %}({{  ((progress.regtotal * 100)/activeProject.project_numobs)|round(1, 'floor') }}%){% endif %}</td>

                                                        </tr>
                                                        <tr>
                                                            <td {% if progress.regerrors > 0 and progress.regsubmissions == 1%}style="color: #ed5565;" {% endif %}>{{ _("Submissions with conflicts") }}:</td>
                                                            <td {% if progress.regerrors > 0 and progress.regsubmissions == 1%}style="color: #ed5565;" {% endif %}>{{ progress.regerrors }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td >{{ _("Last submission") }}</td>
                                                            <td >{{ progress.lastreg }}</td>
                                                        </tr>
                                                        {% if progress.regsubmissions == 1 %}

                                                            {% block enketo_information_registry %}

                                                            {% endblock enketo_information_registry %}

                                                        {% endif %}

                                                        <tr>
                                                            <td colspan="2">
                                                                {% if progress.regtotal > 0 %}
                                                                    <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" href="{{ request.route_url('EditDataRegistry',projectid=activeProject.project_cod,formid='registry') }}"><i class="fa fa-table"></i> {{ _("View data") }}</a>

                                                                    <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" href="{{ request.route_url('downloadDataRegistry',projectid=activeProject.project_cod,formid='registry') }}"><i class="fa fa-cloud-download"></i> {{ _("Download data") }}</a>

                                                                {% endif %}
                                                                {% if progress.regerrors > 0 and progress.regsubmissions == 1%}
                                                                    <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;white-space: normal !important;word-wrap: break-word !important;" href="{{request.route_url('CleanErrorLogs',projectid=activeProject.project_cod,formid='registry') }}"><i class="fa fa-bug"></i> {{ _("Show submissions with conflicts") }}</a>
                                                                    <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;white-space: normal !important;word-wrap: break-word !important;" href="{{request.route_url('downloadErrorLogDocumentRegistry',projectid=activeProject.project_cod,formid='registry') }}"><i class="fa fa-cloud-download"></i> {{ _("Download submissions with conflicts") }}</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if progress.regsubmissions == 1  or progress.regsubmissions == 2 %}
                                            <div class="row">
                                                {% if progress.regsubmissions == 1 %}
                                                    {% if progress.regtotal > 0 %}
                                                        <div class="col-md-6">
                                                            <button onclick="location.href ='{{ request.route_url('closeregistry',projectid=activeProject.project_cod) }}'" class="btn btn-danger btn-rounded btn-block" href="#"><i class="fa fa-stop"></i> {{ _("Finish registration") }}</button>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <button onclick="location.href ='{{ request.route_url('cancelregistry',projectid=activeProject.project_cod) }}'" class="btn btn-danger btn-rounded btn-block" href="#"><i class="fa fa-undo"></i> {{ _("Cancel registration") }}</button>
                                                        </div>
                                                    {% else %}
                                                        <div class="col-md-12">
                                                            <button onclick="location.href = '{{ request.route_url('cancelregistry',projectid=activeProject.project_cod) }}'" class="btn btn-danger btn-rounded btn-block" href="#"><i class="fa fa-undo"></i> {{ _("Cancel registration") }}</button>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if progress.regsubmissions == 2 %}

                                                    <div class="col-md-12">
                                                        {% if progress.assessments|length == 0 %}
                                                            <button onclick="location.href = '{{ request.route_url('cancelregistry',projectid=activeProject.project_cod) }}'" class="btn btn-danger btn-rounded btn-block" href="#"><i class="fa fa-undo"></i> {{ _("Cancel registration") }}</button>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>


                                {% for assessment in progress.assessments %}
                                    {% if assessment.ass_status == 1 or assessment.ass_status == 2 %}
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">

                                                <div class="ibox-tools">
                                                    <div class="row" style="padding: 5px">
                                                        <table style="width: 100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="vertical-align: middle; width: 50%;text-align: left;">
                                                                        <h5 style=" margin: initial">{{ _("Data collection") }}: {{ assessment.ass_desc }}</h5>
                                                                    </td>
                                                                    <td style="vertical-align: middle; text-align: center">
                                                                        {% set pbtype = "progress-bar-info" %}
                                                                        {% if progress.asssubmissions == 0 %}
                                                                            <div class="small" style="text-align: left">{{ _("Not yet started") }}</div>
                                                                        {% endif %}
                                                                        {% if assessment.ass_status == 1 %}
                                                                            <div class="small" style="text-align: left">{{ _("On going") }}</div>
                                                                        {% endif %}
                                                                        {% if assessment.ass_status == 2 %}
                                                                            <div class="small" style="text-align: left">{{ _("Closed") }}</div>
                                                                            {% if assessment.assperc >= 100 %}
                                                                                {% set pbtype = "progress-bar-success" %}
                                                                            {% else %}
                                                                                {% set pbtype = "progress-bar-warning" %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                        <div class="progress progress-mini">
                                                                            <div style="width: {{ assessment.assperc }}%;" class="progress-bar {{ pbtype }}"></div>
                                                                        </div>
                                                                    </td>
                                                                    <td style="vertical-align: middle;text-align: center; width: 10%">
                                                                        <a class="collapse-link">
                                                                            <i class="fa fa-chevron-{% if assessment.ass_status == 2 %}down{% else %}up{% endif %}"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ibox-content" {% if assessment.ass_status == 2 %}style="display: none" {% endif %}>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>{{ _("Statistics") }}</h3>
                                                        <div id="pie{{ assessment.ass_cod }}"></div>
                                                        <table class="table table-striped">
                                                            <tbody>
                                                                <tr>
                                                                    <td>{{ _("Total number of participants") }}: </td>
                                                                    <td>{{ assessment.submissions }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="vertical-align: inherit">{{ _("Number of submissions") }}: </td>
                                                                    <td style="vertical-align: inherit">{{ assessment.asstotal }} {% if assessment.asstotal > 0 %}({{ assessment.assperc|round(1, 'floor') }}%){% endif %}</td>

                                                                </tr>
                                                                <tr>
                                                                    <td {% if assessment.errors > 0 and assessment.ass_status == 1%}style="color: #ed5565;" {% endif %}>{{ _("Submissions with conflicts") }}:</td>
                                                                    <td {% if assessment.errors > 0 and assessment.ass_status == 1%}style="color: #ed5565;" {% endif %}>{{ assessment.errors }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{ _("Last submission") }}</td>
                                                                    <td>{{ assessment.lastass }}</td>
                                                                </tr>

                                                                {% if assessment.ass_status == 1 %}

                                                                    {% block enketo_information_assessment scoped%}

                                                                    {% endblock enketo_information_assessment %}

                                                                {% endif %}

                                                                <tr>
                                                                    <td colspan="2">
                                                                        {% if assessment.asstotal > 0 %}
                                                                            <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" href="{{ request.route_url('EditDataAssessment',projectid=activeProject.project_cod,formid='assessment',codeid=assessment.ass_cod) }}" href="#"><i class="fa fa-table"></i> {{ _("View data") }}</a>
                                                                            <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" href="{{ request.route_url('downloadDataAssessment',projectid=activeProject.project_cod,formid='assessment',codeid=assessment.ass_cod) }}"><i class="fa fa-cloud-download"></i> {{ _("Download data") }}</a>

                                                                            {% if assessment.ass_status == 1%}
{#                                                                                <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" href="{{request.route_url('uploadDataAssessment',projectid=activeProject.project_cod,formid='assessment',codeid=assessment.ass_cod) }}"><i class="fa fa-cloud-upload"></i> {{ _("Upload data") }}</a>#}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                        {% if assessment.errors > 0 and assessment.ass_status == 1%}
                                                                            <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;white-space: normal !important;word-wrap: break-word !important;" href="{{request.route_url('CleanErrorLogsAssessment',projectid=activeProject.project_cod,formid='assessment',codeid=assessment.ass_cod) }}"><i class="fa fa-bug"></i> {{ _("Show submissions with conflicts") }}</a>
                                                                            <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;white-space: normal !important;word-wrap: break-word !important;" href="{{request.route_url('downloadErrorLogDocumentAssessment',projectid=activeProject.project_cod,formid='assessment',codeid=assessment.ass_cod) }}"><i class="fa fa-cloud-download"></i> {{ _("Download submissions with conflicts") }}</a>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    {% if assessment.asstotal > 0 %}
                                                        <div class="col-md-6">
                                                            {% if assessment.ass_status == 1 %}
                                                                <a class="btn btn-danger btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" onclick="location.href = '{{ request.route_url('closeassessment',projectid=activeProject.project_cod,assessmentid=assessment.ass_cod) }}'"><i class="fa fa-stop"></i> {{ _("Finish") }} {{ assessment.ass_desc }}</a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {% if assessment.ass_status == 1 %}
                                                                <a class="btn btn-danger btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" onclick="location.href = '{{ request.route_url('cancelassessment',projectid=activeProject.project_cod,assessmentid=assessment.ass_cod) }}'"><i class="fa fa-stop"></i> {{ _("Cancel") }} {{ assessment.ass_desc }}</a>
                                                            {% endif %}
                                                        </div>
                                                    {% else %}
                                                        <div class="col-md-12">
                                                            {% if assessment.ass_status == 1 %}
                                                                <a class="btn btn-danger btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" onclick="location.href = '{{ request.route_url('cancelassessment',projectid=activeProject.project_cod,assessmentid=assessment.ass_cod) }}'"><i class="fa fa-stop"></i> {{ _("Cancel") }} {{ assessment.ass_desc }}</a>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}



                                {% if total_ass_records > 0 or (activeProject.project_registration_and_analysis == 1 and progress.regtotal >=5)%}
                                    <div class="ibox float-e-margins" >
                                        <div class="ibox-title">
                                            <h5>{{ _("Analysis") }}</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <a class="btn btn-success btn-rounded btn-block" style="width: 100%; overflow: hidden;text-overflow: ellipsis;" onclick="location.href = '{{request.route_url('createAnalysis')}}' "><i class="fa fa-bar-chart-o"></i> {{ _("Start analysis") }}</a>
                                            <br>
                                        </div>

                                    </div>
                                {% endif %}

                            </div>
                        </div>


                        {% block piesFieldAgents %}
                            {% if progress.regtotal > 0 %}

                                <script type="text/javascript">
                                    c3.generate({
                                            bindto: '#pieRegistry',
                                            size: {
                                                height: 200,
                                            },
                                            data:{
                                                x: 'x',
                                                columns: [
                                                    ["x",
                                                        {% for fieldAgent in fieldagents["registry"] %}
                                                            "{{ fieldAgent["User"] }}",
                                                        {% endfor %}
                                                    ],
                                                    ["{{ _("Number of submissions") }}",
                                                        {% for fieldAgent in fieldagents["registry"] %}
                                                            "{{ fieldAgent["Count"] }}",
                                                        {% endfor %}
                                                    ]
                                                ],
                                                type : 'bar',
                                                color: function(inColor, data) {
                                                    var colors = ['#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6'];

                                                    if(data.index !== undefined) {
                                                        return colors[data.index];
                                                    }

                                                    return inColor;
                                                }
                                            },
                                            axis: {
                                                rotated: true,
                                                x: {
                                                    type: 'category'
                                                },
                                                y: {
                                                    tick: {
                                                        values: [
                                                            {% for fieldAgent in fieldagents["registry"] %}
                                                            "{{ fieldAgent["Count"] }}",
                                                        {% endfor %}
                                                        ]
                                                    }
                                                }
                                            },
                                            legend: {
                                                show: false
                                            }
                                        });

                                </script>
                            {% endif %}

                            {% for fieldAgentAssess in fieldagents["Assessments"] %}
                                {% if fieldAgentAssess["Values"] %}
                                <script type="text/javascript">
                                    c3.generate({
                                            bindto: '#pie{{ fieldAgentAssess["Name"] }}',
                                            size: {
                                                height: 200,
                                            },
                                            data:{
                                                x: 'x',
                                                columns: [
                                                    ["x",
                                                        {% for fieldAgent in fieldAgentAssess["Values"] %}
                                                            "{{ fieldAgent["User"] }}",
                                                        {% endfor %}
                                                    ],
                                                    ["{{ _("Number of submissions") }}",
                                                        {% for fieldAgent in fieldAgentAssess["Values"] %}
                                                            "{{ fieldAgent["Count"] }}",
                                                        {% endfor %}
                                                    ]
                                                ],
                                                type : 'bar',
                                                color: function(inColor, data) {
                                                    var colors = ['#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6','#1ab394', '#BABABA', '#f8ac59','#1c84c6'];

                                                    if(data.index !== undefined) {
                                                        return colors[data.index];
                                                    }

                                                    return inColor;
                                                }
                                            },
                                            axis: {
                                                rotated: true,
                                                x: {
                                                    type: 'category'
                                                },
                                                y: {
                                                    tick: {
                                                        values: [
                                                            {% for fieldAgent in fieldAgentAssess["Values"] %}
                                                                "{{ fieldAgent["Count"] }}",
                                                            {% endfor %}
                                                        ]
                                                    }
                                                }
                                            },
                                            legend: {
                                                show: false
                                            }
                                        });
                                </script>
                                {% endif %}
                            {% endfor %}
                        {% endblock %}

                    {% else %}
                        <div class="middle-box text-center loginscreen animated fadeInDown">
                            <p>{{ _("Let's start!") }}</p>
                            <a class="btn btn-primary" href="{{ request.route_url('newproject') }}">{{ _("Create a new project") }}</a>
                            <br>
                            <br>
                            <a href="https://climmob.net/blog/wiki/main-menu/" target="_blank"><img style="width: 50px; height: 50px " src="{{ request.url_for_static('landing/info.png') }}" alt="info"/> </a>
                        </div>
                    {% endif %}
                {% endblock pagecontent %}
            </div>
            <div class="footer">
                {% block footer %}
                    <div class="pull-right">
                        {{ request.h.get_version() }}
                    </div>
                    <div>
                        <strong>{{ _("Copyright") }}</strong> {{ _("2021, Alliance of Bioversity International and CIAT") }}
                    </div>
                {% endblock footer %}
            </div>
        </div>

        {% block chat %}
            <div class="small-chat-box fadeInRight animated" style="bottom:10px;left: 60px; right: initial;z-index: 10000">

                <div class="heading" draggable="true">
                    {{ _("Send us feedback") }}
                    <i class="fa fa-remove pull-right open-small-chat" style="height: 20px; width: 20px; padding: 2px 2px"></i>
                </div>

                <div class="content" id="chatDetailsMessage">

                </div>

                <div class="form-chat">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="msgFeedback" required oninvalid="this.setCustomValidity('{{ _("Write the feedback message.") }}')" onchange="this.setCustomValidity('')">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="sendFeedback">{{ _("Send") }}</button>
                        </span>
                    </div>
                </div>

            </div>
            <div id="small-chat" style="bottom:10px;left: 10px; right: initial;z-index: 10000">
                {% if counterChat > 0 %}
                    <span class="badge badge-danger " >{{ counterChat }}</span>
                {% endif %}
                <a class="open-small-chat" style="padding: initial; height: 43px;width: 43px;font-weight: bold">
                    <i class="fa fa-comments"></i><br>{{ _("Chat") }}
                </a>
            </div>

            <script>
                $("#sendFeedback").click(function () {
                    $("#sendFeedback").prop('disabled', true);
                    if ($("#msgFeedback")[0].checkValidity()) {
                        $.ajax({
                            url: '{{ request.route_url('sendFeedbackToBot') }}',
                            //datatype: "json",
                            type: "POST",
                            data: {
                                "csrf_token": '{{ request.session.get_csrf_token() }}',
                                "Apikey": "{{ activeUser.apikey }}",
                                "Body": JSON.stringify(
                                    {
                                        "message": $("#msgFeedback").val()
                                    }
                                )
                            },
                            success: function (respuesta) {

                                showMessage(respuesta)
                                $("#msgFeedback").val("");
                                $("#sendFeedback").prop('disabled', false);
                            },
                            error: function (respuesta) {
                                toastr.error(respuesta.responseText);
                                $("#sendFeedback").prop('disabled', false);
                            }
                        });
                    }else {
                        $("#msgFeedback")[0].reportValidity()
                    }
                });


                $("#small-chat").click(function () {
                    $.ajax({
                            url: '{{ request.route_url('readFeedback') }}',
                            type: "GET",
                            data: {
                                "Apikey": "{{ activeUser.apikey }}"
                            },
                            success: function (respuesta){
                                showMessage(respuesta)
                            },
                            error: function (respuesta) {
                                toastr.error(respuesta.responseText);
                            }
                        });
                })

                function showMessage(respuesta)
                {
                    information = JSON.parse(respuesta);
                    all ="";
                    if (information.read.length != 0 || information.unread.length != 0)
                    {
                        for (msg in information.read) {
                            if (information.read[msg].chat_tofrom == 2) {
                                all += "<div class='left'><div class='author-name'>{{ _('ClimMob Team') }} </div><div class='chat-message active'><p style='margin: 0 0 0px'>" + information.read[msg].chat_message + "</p><small class='chat-date'>" + information.read[msg].chat_date.split(" ")[1] + "</small></div></div>"
                            } else {
                                all += "<div class='right'><div class='author-name'>" + information.read[msg].user_name + "</div><div class='chat-message'><p style='margin: 0 0 0px'>" + information.read[msg].chat_message + "</p><small class='chat-date'>" + information.read[msg].chat_date.split(" ")[1] + "</small></div></div>"
                            }

                        }

                        if (information.unread.length != 0) {
                            all += "<div class='right' style='width:100%; text-align:center; background-color: #1c84c6;height: 12px;color: #fff;'><b>{{ _("Unread messages") }}</b></div>"
                            for (msg in information.unread) {
                                if (information.unread[msg].chat_tofrom == 2) {
                                    all += "<div class='left'><div class='author-name'>{{ _('ClimMob Team') }} </div><div class='chat-message active'><p style='margin: 0 0 0px'>" + information.unread[msg].chat_message + "</p><small class='chat-date'>" + information.read[msg].chat_date.split(" ")[1] + "</small></div></div>"
                                } else {
                                    all += "<div class='right'><div class='author-name'>" + information.unread[msg].user_name + "</div><div class='chat-message'><p style='margin: 0 0 0px'>" + information.unread[msg].chat_message + "</p><small class='chat-date'>" + information.unread[msg].chat_date.split(" ")[1] + "</small></div></div>"
                                }
                            }
                        }
                    }else {
                        all += "<div class='left'><div class='author-name'>{{ _('ClimMob Team') }} </div><div class='chat-message active'><p style='margin: 0 0 0px'>{{ _("Hi there! Any question or feedback?") }}</p></div></div>"
                    }

                    $("#chatDetailsMessage").html(all)
                    //$("#chatDetailsMessage").animate({ scrollTop: $("#chatDetailsMessage")[0].scrollHeight}, 1000);
                }
            </script>
        {% endblock %}

        {% if withsidebar %}
            <div id="right-sidebar" class="animated">
                <div class="sidebar-container">
{#                    <ul class="nav nav-tabs navs-3">#}
{#                        {% block sidebartabs %}#}
{#                            <li class="active"><a data-toggle="tab" href="#tab-1">#}
{#                                {{ _("Projects") }}#}
{#                            </a></li>#}
{#                            <li class=""><a data-toggle="tab" href="#tab-2">#}
{#                                <i class="fa fa-gear"></i>#}
{#                            </a></li>#}
{#                        {% endblock sidebartabs %}#}
{#                    </ul>#}
                    <div class="tab-content">
                        {% block sidebarcontent %}
                            <div id="tab-1" class="tab-pane active">
                                <div class="sidebar-title text-center">
{#                                    <h3> <i class="fa fa-cube"></i> {{ _("Latest projects") }}</h3>#}
                                    {% if hasActiveProject %}
                                        <h3><i class="fa fa-tim"></i> {{ _("You have") }} {{ userProjects|length }} {{ request.h.pluralize(_("project"),userProjects|length) }}.</h3>
                                    {% else %}
                                        <h3><i class="fa fa-tim"></i> {{ _("You don't have projects.") }}</h3>
                                    {% endif %}
                                    <br/>
                                    <a class="btn btn-primary" href="{{ request.route_url('newproject') }}">{{ _("Add new project") }}</a><br><br>

                                    <a class="btn btn-primary" href="{{ request.route_url('cloneProject') }}">{{ _("Clone existing project") }}</a>
                                </div>
                                <ul class="sidebar-list">
                                    {% if hasActiveProject %}
                                        {% for project in userProjects %}
                                            {% include 'snippets/dashboard/project_details.jinja2' %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endblock sidebarcontent %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock body %}

{% block bodybottom %}
    <div class="modal inmodal" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeModal()"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _("Close") }}</span></button>
                    <h4 class="modal-title" id="modaltitle">{{ _("Terms of service") }}</h4>
                </div>
                <div class="modal-body">

                    <div id="modaliframecont" class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="modaliframe"></iframe>
                    </div>


                </div>
                <div class="modal-footer">
                    <button id="modalmainbutton"type="button" class="btn btn-primary pull-left" onclick="$('#modaliframe').contents().find('.clm-act-button').trigger( 'click' );">{{ _("Something here") }}</button>
                    <button type="button" class="btn btn-white" onclick="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock bodybottom %}

{% block toastr %}
    {% set toastrmessage = request.session.pop_flash() %}
    {% if toastrmessage|length > 0 %}
        <script>
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 4000
            };
            //toastr.success("{{ toastrmessage[0] }}");
        </script>
    {% endif %}
{% endblock toastr %}

{% block script %}

    <script>
        $(document).ready(function() {
            var selectedLanguage = readCookie('_LOCALE_');
            if (selectedLanguage != null)
                $('#language').val(selectedLanguage);

            $(".language").click(function () {
                setCookie('_LOCALE_', this.getAttribute("name"), 365);
                location.reload();
            })


            {% if showHelp %}
                var tour = new Tour({
                steps: [
                    {
                        element: "#nav_libraries",
                        title: "{{ _("Libraries") }}",
                        content: "{{ _("Libraries allow you to save information that can be assigned to different projects.") }}.",
                        placement: "right"
                    },
                    {
                        element: "#nav_enumerators",
                        title: "{{ _("Field agents") }}",
                        content: "{{ _("Create a list of field agents that you can later use in projects") }}.",
                        placement: "right"
                    },
                    {
                        element: "#nav_technology",
                        title: "{{_("Technology options")}}",
                        content: "{{ _("Add or check if the ClimMob library has the necessary technologies for your project") }}.",
                        placement: "right"
                    },
                    {
                        element: "#nav_questions",
                        title: "{{ _("Questions") }}",
                        content: "{{ _("Create the questions that you want to use to evaluate in your projects") }}.",
                        placement: "right"
                    },
                    {
                        element:"#nav_downloads",
                        title: "{{ _("Downloads") }}",
                        content: "{{ _("ClimMob generates different output documents per project, in this menu option you could download the information") }}.",
                        placement: "right"
                    }
                   ],
                template: "<div class='popover tour' style='border-color: #23c6c8'><div class='arrow' style='border-right-color: #23c6c8'></div><h3 class='popover-title btn-info'></h3><div class='popover-content'></div><div class='popover-navigation'><div class='btn-group'> <button class='btn btn-sm btn-secondary'  data-role='prev'>{{ _("« Prev") }}</button> <button class='btn btn-sm btn-secondary' data-role='next'>{{ _("Next »") }}</button> </div>  <button class='btn btn-sm btn-secondary' data-role='end'>{{ _("Close") }}</button> </div>",
                backdrop: true,
                backdropContainer: 'body'
                });

                // Initialize the tour
                tour.init();
                tour.restart();

            {% endif %}

            {% if showRememberAfterCreateProject %}
                var tour = new Tour({
                steps: [
                        {
                            element: "#nav_libraries",
                            title: "{{ _("Update libraries") }}",
                            content: "{{ _("Remember that the libraries contain useful information for your projects, update them in the event that necessary information is missing for your new project") }}.",
                            placement: "right"
                        }
                       ],
                template: "<div class='popover tour' style='border-color: #23c6c8'><div class='arrow' style='border-right-color: #23c6c8'></div><h3 class='popover-title btn-info'></h3><div class='popover-content'></div><div class='popover-navigation'> <button class='btn btn-sm btn-secondary' data-role='end'>{{ _("Close") }}</button> </div>",
                backdrop: true,
                backdropContainer: 'body'
                });

                // Initialize the tour
                tour.init();
                tour.restart();

            {% endif %}



        });

        function seeHelp()
        {
            var tourFieldAgent = new Tour({
                steps: [
                            {
                                element: "#nav_enumerators",
                                title: "{{ _("Before assign field agents") }}",
                                content: "{{ _("First you have to add your field agents to the library then assign them to the project") }}.",
                                placement: "right"
                            }
                        ],
                template: "<div class='popover tour-tour tour-tour-0 fade show' style='border-color: #23c6c8'><div class='arrow' style='border-right-color: #23c6c8'></div><h3 class='popover-title btn-info'></h3><div class='popover-content'></div><div class='popover-navigation'><div class='btn-group' style='float: right'><a class='btn btn-sm btn-primary' href='{{ request.route_url('enumerators') }}'>{{ _("Go to add field agents") }}</a><button class='btn btn-sm btn-secondary' data-role='end'>{{ _("Close") }}</button> </div></div>",
                backdrop: true,
                backdropContainer: '#wrapper'
            });
            tourFieldAgent.init();
            tourFieldAgent.restart();
        }

        function setCookie(cookieName, cookieValue, nDays) {
            var today = new Date();
            var expire = new Date();

            if (nDays==null || nDays==0)
                nDays=1;

            expire.setTime(today.getTime() + 3600000*24*nDays);
            document.cookie = cookieName+"="+escape(cookieValue) + ";expires="+expire.toGMTString() + ";path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        
    
        function copy() {
            var copyText = document.getElementById("aForCopy");

             /* Select the text field */
            copyText.select();

            /* Copy the text inside the text field */
            document.execCommand("copy");

        }

    </script>

{% endblock script %}

{% include 'snippets/loading.jinja2' %}

</body>

</html>
