<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example" >
        <thead>
        <tr>
            <th>{{ _("Level") }}</th>
            <th>{{ _("Actions") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for alias in Alias %}
            <tr class="gradeX">
                <td class="text-left">
                    <h5>{{ alias.alias_name}}</h5>
                </td>
                <td class="center text-center">
                    {% if formdata.user_name == activeUser.login %}
                        {% if alias.quantity <= 0 %}
                            <button class="btn btn-warning btn-circle" onclick="location.href='{{ request.route_url('modifyuseralias',technologyid=formdata['tech_id'], aliasid= alias.alias_id) }}'" type="button" title="{{ _("Edit level") }}"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger btn-circle" onclick="showDelete('{{ request.route_url('deleteuseralias',technologyid=formdata['tech_id'], aliasid= alias.alias_id) }}','{{ _("Do you really want to remove this alias ?") }}','{{ request.session.get_csrf_token() }}')" type="button" title="{{ _("Remove level") }}"><i class="fa fa-times"></i></button>

                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

