<input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">

{% if action == 'update' %}
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ _('Name:') }}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" value="{{ formdata.alias_name }}" id="alias_name" name="alias_name" placeholder=" ">
        </div>
    </div>
{% else %}
    {% if action == 'create'%}
        <div class="row text-center">
            <h3>{{ _("You can create different levels at the same time by writing one by one on different lines.") }}</h3>
            <textarea rows="10" cols="50"  id="alias_name" name="alias_name">{{ formdata.alias_name }}</textarea>
        </div>
    {% endif %}
{% endif %}