{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Projects Summary Curation") }}</title>
{% endblock title %}

{% block css %}

    {% cssresource request,'coreresources','chosen' %}
    {% cssresource request,'coreresources','sweetAlert' %}
    {% cssresource request,'coreresources','dataTables2_3_2' %}
    {% cssresource request,'coreresources','dataTables2_3_2_columnControl' %}
    {% cssresource request,'coreresources','dataTables2_3_2_buttons' %}

    <style>
        th {
            text-align: left !important;
            /*min-width: 180px;*/
            max-width: 200px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        td {
            max-width: 400px;
            /*min-width: 180px;*/
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .table.dataTable {
            margin: 0px;
        }

        div.dt-buttons > .dt-button {
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            cursor: pointer;
            color: inherit;
            background: white;
            border: 1px solid #e7eaec;
            border-radius: 3px;

        }

        .dtcc-button select,
        .dtcc-button input {
            pointer-events: none;
            appearance: none;
            -webkit-appearance: none;
            border: none;
            background: none;
            padding: 0;
            font: inherit;
            color: inherit;
        }

        #curation-table tbody tr:hover {
           background-color: #FAFAFA;
           cursor: pointer;
       }

    </style>

{% endblock css %}

{% block topScripts %}

    {% jsresource request,'coreresources','toastr' %}
    {% jsresource request,'coreresources','datapicker' %}
    {% jsresource request,'coreresources','chosen' %}
    {% jsresource request,'coreresources','sweetAlert' %}
    {% jsresource request,'coreresources','datatable2_3_2js' %}
    {% jsresource request,'coreresources','datatable2_3_2js_columControl' %}
    {% jsresource request,'coreresources','datatable2_3_2js_buttons3_0_0' %}
    {% jsresource request,'coreresources','datatable2_3_2js_colVis' %}

{% endblock topScripts %}

{% block pageheading %}
    {% set _title= _("Admin projects curation") %}
    {% set removeBasicBreadcrumb = True %}
    {% set extra =[[_("Projects"), ]] %}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock pageheading %}

{% block pagecontent %}


    {% if lastReport and lastReport[0]["state"] =="Pending..." %}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ _("Generating report") }}</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <p>{{ _("The report generation process is running, wait a moment until the process is finished, or try refreshing the screen with the following button to verify if the process has finished.") }}</p>
                        <button class="btn btn-info  dim btn-large-dim btn-outline" id="btn_refresh_report"><i
                                class="fa fa-refresh"></i></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if lastReport and lastReport[0]["state"] =="Success" %}
        {% if listOfProjects %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>{{ _("Projects Curation") }}</h5>
                            <p>&nbsp;- {{ _("Last updated: {}.").format(lastReport[0].datetime_added) }}</p>
                        </div>
                        <div class="ibox-content">
                            <div style="overflow-x: auto;">
                                <div id="footable-wrapper">
                                    <table class="display nowrap table table-stripped display " data-filter=#filter
                                           id="curation-table">
                                        <thead>
                                        <tr>

                                            {% for col in tableStructure %}
                                                <th>{{ _(col["name"]) }}</th>
                                            {% endfor %}
                                            {% if edit_mode == True %}
                                                <th>{{ _('Notification') }}</th>
                                                <th></th>
                                            {% endif %}
                                        </tr>

                                        </thead>
                                        <tbody>
                                        {% for project in listOfProjects %}
                                            <tr>
                                                {% for col in tableStructure %}
                                                    <td data-column="{{ col["key"] }}">
                                                        {% if col['type'] == "static" or edit_mode == false %}
                                                            {% if not col['options'] %}
                                                                {{ project[col["key"]] if project[col["key"]] }}
                                                            {% else %}
                                                                {% for key, id in col["options"].items() %}
                                                                    {% if id == project[col["key"]] %}
                                                                        {{ key }}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}

                                                        {% elif col['type'] == "input" %}
                                                            <input class="form-control"
                                                                   value="{{ project[col["key"]] }}"
                                                                   style="width: 250px" maxlength="50">
                                                            <span class="d-none filter-value"
                                                                  hidden>{{ project[col["key"]] }}</span>
                                                        {% elif col['type'] == "dropdown" %}
                                                            <select class="form-control">
                                                                <option value=""
                                                                        selected>{{ _("Choice an option") }}</option>
                                                                {% for key, id in col["options"].items() %}
                                                                    <option value="{{ id }}"
                                                                            {% if id == project[col["key"]] %}
                                                                            selected="selected" {% endif %}>
                                                                        {{ key }}
                                                                    </option>
                                                                {% endfor %}
                                                            </select>
                                                            <span class="d-none filter-value" hidden>
                                                                    {% for key, id in col["options"].items() %}
                                                                        {% if id == project[col["key"]] %}
                                                                            {{ key }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                {% endfor %}
                                                {% if edit_mode == True %}
                                                    <td data-column="admin_msj">
                                                        <textarea placeholder="{{ _('Modify this field to send a message for the
                                                        project user') }}" maxlength="500"></textarea>
                                                    </td>
                                                    <td data-column="save">
                                                        <button class="btn btn-primary pull-right"
                                                                onclick="checkInputs('{{ project["project_id"] }}',this)">
                                                            {{ _("Save") }}
                                                        </button>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="ibox">
                <div class="ibox-content">
                    <div style="text-align: center">
                        <h3><i class="fa fa-tim"></i> {{ _("We do not have projects to show.") }}</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if sectionActive == "projectsSummaryCuration" %}

        {% if lastReport[0]["state"] =="Success" or lastReport[0]["state"] =="Fail." %}
            <div class="row">

                <div class="col-lg-12 ">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{ _("Download table") }}</h5>
                        </div>
                        <div class="ibox-content">
                            {% if lastReport[0]["state"] =="Fail." %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×
                                    </button>
                                    {{ _("There was an error generating the report, try again.") }}
                                </div>
                            {% endif %}

                            {% if lastReport[0]["state"] =="Success" %}

                                <p>{{ _("Last updated: {}.").format(lastReport[0].datetime_added) }}</p><br>

                                <table>
                                    <tr>
                                        <td>
                                            <button class="btn btn-outline btn-primary" id="btn_download_report">
                                                {{ _(" Download table ") }}
                                            </button> <i class="fa fa-info-circle"
                                               title="{{ _("Exports the table as a .xlsx file.") }}"> </i>
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <script>

        $(document).ready(function () {

            {% if listOfProjects %}

                const hiddenIndexes = [
                    {% for col in tableStructure %}
                        {% if not col.show %}
                            {{ loop.index - 1 }},
                        {% endif %}
                    {% endfor %}
                ];

                const ToggleableColumns = [
                    {% for col in tableStructure %}
                        {% if col.type == 'static' and not ( col.key == "projectTitle") %}
                            {{ loop.index - 1 }}{{ "," if not loop.last }}
                        {% endif %}
                    {% endfor %}
                ];

                {% if lastReport and lastReport[0]["state"] =="Success"%}

                    const table = new DataTable('#curation-table', {
                        scrollX: true,
                        ordering: false,
                        deferRender: true,
                        columnControl: {
                            target: 0,
                            content: [
                                {
                                    extend: 'dropdown',
                                    icon: 'filter',
                                    content: ['searchList']
                                }
                            ],
                        },
                        columnDefs: [
                            {target: -1, columnControl: []},
                            {target: -2, columnControl: []},
                            {
                                targets: hiddenIndexes,
                                visible: false,
                            },
                        ],
                        layout: {
                            topStart: {
                                buttons: [
                                    {
                                        extend: 'colvis',
                                        text: '{{ _("Show / Hide columns") }}',
                                        className: 'btn btn-default',
                                        columns: ToggleableColumns
                                    },
                                    {
                                        extend: 'pageLength',
                                        text: '{{ _("Rows per Page") }}',
                                        className: 'dt_button_custom',
                                    }
                                ]
                            },
                            topEnd: {
                                search: {
                                    return: true,
                                    text: '{{ _("General search:") }} ',
                                    className: 'form-control',
                                },
                            },
                            bottomStart: {
                                info: {
                                    return: true,
                                    text: "{{ _('Showing _START_ to _END_ from _TOTAL_ total entries') }}",
                                },
                            },
                        },
                    });

                {% endif %}
            {% endif %}
        })


        async function checkInputs(project_id, button) {
            const row = button.closest('tr');
            const project_title = row.querySelector('[data-column="projectTitle"]').textContent.trim();
            const fieldAffiliation = row.querySelector('[data-column="affiliation"] input');
            const fieldCrop = row.querySelector('[data-column="cropname"] input');
            const fieldAnalytics = row.querySelector('[data-column="climmob_analytics"] select');
            const adminMessage = row.querySelector('[data-column="admin_msj"] textarea');

            let error = [];

            if (!fieldAnalytics || fieldAnalytics.value.trim() === '') {
                error.push('{{ _("Dashboard") }}');
            }

            if (fieldAnalytics.value.trim() !== '0') {
                if (!fieldAffiliation || fieldAffiliation.value.trim() === '') {
                    error.push('Affiliation');
                }
                if (!fieldCrop || fieldCrop.value.trim() === '') {
                    error.push('{{ _("Cropname") }}');
                }
            }

            if (error.length > 0) {
                swal(
                    "{{ _('Check the project ') }}" + project_title,
                    "{{ _('Please, complete these empty fields: ') }}" + error.join(', ') + "{{ _(' to continue') }}",
                    "error"
                );

            } else {
                const data = {
                    project_id: project_id,
                    affiliation: fieldAffiliation.value.trim(),
                    crop: fieldCrop.value.trim(),
                    analytics: fieldAnalytics.value.trim(),
                    admin_message: adminMessage.value,
                    csrf_token: "{{ request.session.get_csrf_token() }}"
                }

                fetch('{{ request.route_url('projectsSummaryCurationUpdateRow') }}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: new URLSearchParams(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status !== 200) {
                            throw new Error(data.message || "Unknown error");
                        }
                        swal("{{ _('Data Update, project ') }}" + project_title, data.message, "success");
                    })
                    .catch(error => {
                        swal("{{ _('Error') }}", error.message, "error");
                    });
            }
        }


        $("#btn_download_report").click(function () {
            {% if lastReport %}
                const url = "{{ request.route_url('downloadProjectsSummary') }}?celery_taskid={{ lastReport[0].celery_taskid }}&product_id={{ lastReport[0].product_id }}"
                location.href = url;
            {% endif %}
        })

        $("#btn_refresh_report").click(function () {
            {% if lastReport %}
                location.href = "{{ request.route_url('projectsSummaryCuration') }}"
            {% endif %}
        })
    </script>

{% endblock pagecontent %}

