{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Trial documentation") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','sweet' %}
    {% cssresource request,'coreresources','switch' %}
    {% cssresource request,'coreresources','select2' %}
    {% cssresource request,'coreresources','chosen' %}
    {% cssresource request,'coreresources','datapicker' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','sweet' %}
    {% jsresource request,'coreresources','toastr' %}
    {% include 'snippets/delete.jinja2' %}
    {% jsresource request,'coreresources','switch' %}
    {% jsresource request,'coreresources','assessment_form' %}
    {% jsresource request,'coreresources','select2' %}
    {% jsresource request,'coreresources','chosen' %}
    {% jsresource request,'coreresources','jqueryvalidate' %}
    {% jsresource request,'coreresources','datapicker' %}
{% endblock topScripts %}

{% block pageheading %}
    {% set _title= _("Trial documentation")%}
    {% set _linkWiki="https://climmob.net/blog/wiki/prepare-data-collection/" %}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}

{% block pagecontent %}

    <style>
    .tableHover2 {
        background-color: #e7eaec;
        border-left: 1px solid #1ab394;
        border-right: 1px solid #1ab394;
    }
    </style>

    {% if activeProject["access_type"] in [4] %}
        {% set onlySee = True %}
    {% endif %}

    <div class="row">

        <div class="col-lg-4">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("List of forms to be completed") }}</h5>
                    <div class="ibox-tools"></div>
                </div>
                <div class="ibox-content">
                    {% if listOfProjectMetadata %}
                        <div class="table-responsive">

                            <table class="footable table table-stripped tableHover" data-page-size="50000" data-filter=#filter>
                                <tbody>
                                    <tr>
                                        <th>
                                            {{ _("Form name") }}
                                        </th>
                                        <th class="text-center">
                                            {{ _("Status") }}
                                        </th>
                                        <th class="text-center">
                                            {{ _("Actions") }}
                                        </th>
                                    </tr>
                                    {% for metadata in listOfProjectMetadata %}
                                        <tr idInternal="{{ metadata.metadata_id }}">
                                            <td style="vertical-align: middle">
                                                {{ metadata.metadata_name }}
                                            </td>
                                            <td class="text-center" style="vertical-align: middle">
                                                {% if metadata.result %}
                                                    <span class="label label-success">{{ _("Completed") }}</span>
                                                {% else %}
                                                    <span class="label label-warning">{{ _("Pending") }}</span>
                                                {% endif %}
                                            </td>
                                            <td class="text-center" style="vertical-align: middle">
                                                <button type="submit" class="btn btn-primary" onclick="openMetadataForm('{{ metadata.metadata_id }}')" style="margin-bottom: 0px"><i class="fa fa-eye"></i> {{ _('View and edit') }}</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div style="width: 100%; text-align: center">
                            <h3><b>{{ _("There are no metadata forms to be filled out") }}</b></h3>
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>

        <div class="col-lg-8" id="div_for_show_form" style="display: none">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 id="spaceForPutTheTitle">{{ _("Trial documentation") }} </h5>
                    <div class="ibox-tools">
                        <button  class="btn btn-xs btn-default pull-right btn_cancel_metadata" ><i class="fa fa-close"></i>  {{ _("Close form") }}</button>
                    </div>
                </div>
                <div class="ibox-content">

                    <h2>
                        {{ _("Please note that all fields are mandatory unless they include the label “(Optional)” ") }}.
                    </h2>
                    <br>

                    <form class="form-horizontal" id="form_metadata" role="form" method="post" action="{{ request.url }}" >

                        <div class="form-horizontal">
                            <div id="spaceForPutTheForm"></div>
                        </div>

                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                        <input type="hidden" name="_jsonResult" id="_jsonResult">
                        <input type="hidden" id="metadata_id" name="metadata_id">

                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-default btn_cancel_metadata pull-left" name="btn_save_metadata"> {{ _('Cancel') }}</button>
                            </div>
                            <div class="col-md-6">
                                {% if not onlySee %}
                                    <button type="submit" class="btn btn-primary pull-right" id="btn_save_netadata" name="btn_save_metadata"> {{ _('Save') }}</button>
                                {% endif %}
                            </div>
                        </div>

                    </form>

                    <script>

                        {% if metadataForm %}
                            openMetadataForm("{{ metadataForm }}")
                        {% endif %}

                    </script>

                </div>
            </div>
        </div>

        <script>

            function openMetadataForm(formId)
            {
                var URL = "{{ request.route_url('ShowMetadataForm', user=activeProject["owner"].user_name, project=activeProject.project_cod, metadataform="__metadataform__" ) }}"
                URL = URL.replace("__metadataform__",formId)

                $.get(URL, function (dataString, status) {
                    dataString = dataString.split("@@@@@@@@@@")
                    $("#spaceForPutTheTitle").text("{{ _("Form") }}: "+dataString[0])
                    $("#spaceForPutTheForm").html(dataString[1])
                    $("#metadata_id").val(formId)
                    $("#div_for_show_form").css("display","block")
                });
            }

            $("#btn_save_netadata" ).click(function() {
                const rootGroup = $("#data");
                let jsonResult = {};  // Creamos un objeto vacío donde se acumulará el resultado
                processGroup(rootGroup, jsonResult);  // Procesamos el grupo raíz y vamos llenando jsonResult
                $("#_jsonResult").val(JSON.stringify(jsonResult))
                $("#output").text(JSON.stringify(jsonResult, null, 2));  // Mostramos el resultado
                //event.preventDefault();
            });

            $(".btn_cancel_metadata").click(function (){
                $("#spaceForPutTheForm").html("")
                $("#metadata_id").val("")
                $("#div_for_show_form").css("display","none")
            });

            $('.tableHover').on('click', 'tbody tr', function(event) {
                $(this).addClass('tableHover2').siblings().removeClass('tableHover2');
            });

        </script>

    </div>
{% endblock pagecontent%}

