
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Coordinator') }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control " value="{{ dataworking['md_coordinator'] }}" name="md_coordinator" placeholder=" " {% if onlySee %}readonly{% endif %}>
        <span class="form-text m-b-none">{{ _("Name of the coordinator and/or supporting staff of the tricot trial") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Crops') }}</label>
    <div class="col-sm-8">
        <select id="select_crop" name="md_crops" style="width: 100%; !important;" class="form-control" >
            {% if dataworking["cropInfo"] %}
              <option value="{{ dataworking["cropInfo"]["taxonomy_code"] }}" selected="selected">{{ dataworking["cropInfo"]["taxonomy_name"] }}</option>
            {% endif %}
        </select>
        <span class="form-text m-b-none">{{  _("Name of the crop tested in the tricot trial") }}</span>
    </div>
</div>

<script>
    function formatCrop (crop) {
        if (!crop.id) {
            return crop.text;
        }
        let $state = $(
            '<span>' + crop.text + '</span>'
        );
        return $state;
    }

    $("#select_crop").select2({
        templateResult: formatCrop,
        //dropdownParent: $('#CropParent'),
        ajax: {
            url: "{{ request.route_url('APICrops') }}",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term
                    page: params.page
                };
            },
            processResults: function (data, params) {
                params.page = params.page || 1;
                return {
                    results: data.results,
                    pagination: {
                        more: (params.page * 10) < data.total
                    }
                };
            },
            cache: true
        }
    });

</script>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Year') }}</label>
    <div class="col-sm-8">
        <input type="number" class="form-control" min="0" value="{{ dataworking['md_year'] }}" name="md_year" placeholder=" " {% if onlySee %}readonly{% endif %}>
        <span class="form-text m-b-none">{{  _("The year where the tricot trial was implemented") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Tricot project') }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control " value="{{ dataworking['md_tricot_project'] }}" name="md_tricot_project" placeholder=" " {% if onlySee %}readonly{% endif %}>
        <span class="form-text m-b-none">{{  _("Name (code) of the tricot projects described here") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('What were the objectives of the trial?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control" rows="10"  name="md_objective" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_objective'] }}</textarea>
        <span class="form-text m-b-none"></span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Who contributed to the realization of the trial? Mention full names and email addresses') }}</label>
    <div class="col-sm-8">
        <textarea type="text" class="form-control "  rows="10" name="md_collaborators" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_collaborators'] }}</textarea>
        <span class="form-text m-b-none">{{ _("(Design, preparing inputs, input distribution, data collection, analysis/interpretation)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('What experimental design was followed?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_experimental_design" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_experimental_design'] }}</textarea>
        <span class="form-text m-b-none">{{ _("(tricot randomization with ClimMob, tailored design, inclusion of check(s) - specify)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Which steps were followed for the trial design, and who participated in each step?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10"  name="md_steps_followed" placeholder=" "{% if onlySee %}readonly{% endif %}>{{ dataworking['md_steps_followed'] }}</textarea>
        <span class="form-text m-b-none">{{ _(" (For example, objective setting with farmers, trait selection with experts, determining sampling frame with collaborating organizations, etc.)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Did the trial have any special features?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_special_features" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_special_features'] }}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('How the varieties were selected?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_how_varieties_were_selected" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_how_varieties_were_selected'] }}</textarea>
        <span class="form-text m-b-none">{{ _("Describe the process in selecting the varieties/genotypes tested in the trial") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('How were participants selected? What was the process?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_how_participants_were_selected" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_how_participants_were_selected'] }}</textarea>
        <span class="form-text m-b-none">{{ _(" (Explain relationship between sample and target population)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Which geographic areas were targeted? How were sites selected?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_geographic_areas" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_geographic_areas'] }}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('What selection criteria were used? Were any prior studies or datasets used for selection?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_selection_criteria_used" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_selection_criteria_used'] }}</textarea>
        <span class="form-text m-b-none">{{ _("(Check of knowledge and skills in executing the task, gender, experience with analysed crop, selection of households based on survey.)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('How were participants approached for recruitment? ') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_how_participants_approached_recruitment" placeholder=" "  {% if onlySee %}readonly{% endif %}>{{ dataworking['md_how_participants_approached_recruitment'] }}</textarea>
        <span class="form-text m-b-none">{{ _("(Open recruitment, invitation through the organization of which they are member/client, etc.)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Where did recruitment take place?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10"  name="md_where_recruidment_place" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_where_recruidment_place'] }}</textarea>
        <span class="form-text m-b-none">{{ _(" (For example, cooperative meeting, community centres, markets.)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('How was the participant recruitment formalised?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_how_recruitment_formalised" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_how_recruitment_formalised'] }}</textarea>
        <span class="form-text m-b-none">{{ _("(Verbal consent, signed individual consent forms, consent forms signed by community representative/head, etc.)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Were participants compensated? If yes, how?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_participants_compensated" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_participants_compensated'] }}</textarea>
        <span class="form-text m-b-none">{{ _(" (For example, seed gift, free technical advice, voucher, airtime.)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('How many of the participants that were approached did participate in the trial?') }}</label>
    <div class="col-sm-8">
        <input type="number" class="form-control " min="0" value="{{ dataworking['md_participants_approached_participate'] }}" name="md_participants_approached_participate" placeholder=" " {% if onlySee %}readonly{% endif %}>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('How was tricot explained to participants? Who was in charge of this?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_how_tricot_explained" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_how_tricot_explained'] }}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('How many training sessions were provided to the participants? How were they set up?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_training_sessions" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_training_sessions'] }}</textarea>
        <span class="form-text m-b-none">{{ _("(One or more sessions, individual or group sessions)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Were any follow-up procedures in place to ensure that participants adhered to the instructions given and did timely data collection? Which?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_follow_up_procedures" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_follow_up_procedures'] }}</textarea>
        <span class="form-text m-b-none">{{ _("(Reminders, follow-up visits, peer visits)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('How was data collected from participants? What communication channels were used?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_how_was_data_collected" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_how_was_data_collected'] }}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('How were results devolved to participants?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10"  name="md_how_were_results_devolved" placeholder=" " {% if onlySee %}readonly{% endif %}>{{ dataworking['md_how_were_results_devolved'] }}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('What instructions were given to participants?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_instructions_given" placeholder=" "  {% if onlySee %}readonly{% endif %}>{{ dataworking['md_instructions_given'] }}</textarea>
        <span class="form-text m-b-none">{{ _("(Agronomic management - including how to set up the trial, food product preparation, or equivalent)") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Were additional inputs provided to participants?') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_additional_inputs_provided" placeholder=" "  {% if onlySee %}readonly{% endif %}>{{ dataworking['md_additional_inputs_provided'] }}</textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _('Varieties') }}</label>
    <div class="col-sm-8">
        <textarea class="form-control " rows="10" name="md_varieties" placeholder=" "  {% if onlySee %}readonly{% endif %}>{{ dataworking['md_varieties'] }}</textarea>
    </div>
</div>

{% if not onlySee %}
    <div class="">
        <button type="submit" style="float: right" class="btn btn-primary" name="btn_save_metadata">{{ _('Save') }}</button>
        <br>
        <br>
    </div>
{% endif %}
{#<div class="form-group">#}
{#    <label class="col-sm-4 control-label">{{ _('') }}</label>#}
{#    <div class="col-sm-8">#}
{#        <input type="text" class="form-control " value="{{ dataworking[''] }}" name="" placeholder=" "  {% if onlySee %}readonly{% endif %}>#}
{#        <span class="form-text m-b-none">{{ _("") }}</span>#}
{#    </div>#}
{#</div>#}
