{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>ClimMob | Delete question option </title>
{% endblock title %}


{% block bodyattributes %} style="background:#f8fafb" {% endblock bodyattributes %}

{% block body %}
    <div class="row" style="height: 100%">
        <div class="col-lg-12 " style="height: 100%">
            <div class="ibox float-e-margins" style="height: 100%; margin-bottom: 0px">
                <div class="ibox-title">
                    <h5>Delete option on question "{{ qdata.question_desc }}"</h5>
                    <div class="ibox-tools">
                        <button type="button" onclick="location.href='{{ request.route_url('questionvalues', qid=qid) }}';" class="btn btn-default btn-xs pull-right">Go back</button>
                    </div>
                </div>
                <div class="ibox-content" style="height: 89%">
                    <div class="middle-box text-center animated fadeInRightBig">
                        <div class="error-desc">
                            Do you really want to delete the option "{{ formdata.value_desc }}"?.
                            <br/><form method="post" action="{{ request.path }}">
                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body%}