{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Question translations") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','sweet' %}
    {% cssresource request,'coreresources','toastr' %}
    {% cssresource request,'coreresources','jsTree' %}
    {% cssresource request,'coreresources','select2' %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','tour' %}

{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','qlibrary' %}
    {% jsresource request,'coreresources','sweet' %}
    {% include 'snippets/delete.jinja2' %}
    {% jsresource request,'coreresources','toastr' %}
    {% jsresource request,'coreresources','jstree' %}
    {% jsresource request,'coreresources','select2' %}
    {% jsresource request,'coreresources','switchery' %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','tour' %}

{% endblock topScripts %}

{% block pageheading %}
    {% set _linkWiki="https://climmob.net/blog/wiki/other-languages/" %}
    {% set svgOfTranslations=True %}
    {% set _title= _("Add other languages") %}
    {% set extra=[[_("Library questions"),request.route_url('qlibrary', user_name=activeUser.login)],[_("Question")+" : "+ questionDetails["question_name"], request.route_url('qlibrary', user_name=activeUser.login,_query={'questionId':questionDetails["question_id"]})]] %}
    {% set otherTitle=_("Add other languages") %}

    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}

{% block pagecontent %}

    <style>

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      color: #495057;
      background-color: #fff;
      border-color: #dee2e6 #dee2e6 #fff;
    }

    </style>

    {% set allowEditing = True %}

    {% if questionDetails["user_name"] != activeUser.login %}
        {% set allowEditing = False %}
    {% endif %}


    <div class="row" >

        <div class="col-md-12 " >
            <div class="ibox" >
                <div class="ibox-title" >
                    <h5>{{ _("Add other languages") }}</h5>

                    <div class="ibox-tools">
                        {% if nextPage %}
                            <a class="btn btn-success btn-rounded  btn-xs" style="color: white" href="{{ nextPage }}"><i class="fa fa-reply"></i> {{ _('Back to the project') }}</a>
                        {% endif %}

                        <a class="btn btn-success btn-rounded  btn-xs modalLang" style="color: white" data-toggle="modal" data-target="#languagesModal"><i class="fa fa-plus"></i> {{ _("Add more languages") }}</a>
                    </div>
                </div>
                <div class="ibox-content " >
                    <div class="row">
                        <form class="form-horizontal formElement" role="form" method="post" action="{{ request.path }}">
                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                            <div style="text-align: center; display: none" id="missingInfo">
                                <div class="alert alert-danger" >
                                    {{  _("Please complete all fields marked in red in order to save the translations.") }}.
                                </div>
                            </div>

                            <div class="col-md-4 " >
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li><a class="nav-link active" data-toggle="tab" href="#tab{{ questionDetails["question_lang"] }}">{{ _("Main language") }}</a></li>
                                    </ul>
                                    <div class="tab-content" id="div_for_translations">
                                        <div role="tabpanel" id="tab{{ questionDetails["question_lang"] }}" class="tab-pane active">
                                            <div class="panel-body">

                                                <h5>{{ _("Change the main language here:") }}</h5>
                                                <select id="default_lang" name="default_lang" class="form-control" style="width: 100%; !important;" {% if not allowEditing %}disabled{% endif %}>

                                                    {% if not questionDetails["question_lang"] %}
                                                        <option value="">{{ _("Select the main language") }}</option>
                                                    {% endif %}

                                                    {% for lang in translations %}
                                                        <option value="{{ lang.lang_code }}" {% if lang["default"] == 1 %}selected{% endif %}>{{ lang.lang_name }}</option>
                                                    {% endfor %}
                                                </select>

                                                <br>

                                                <table class="table table-striped table-bordered">
                                                    <tr>
                                                        <th style="max-width: 120px; width: 120px">{{ _('Field') }}</th>
                                                        <th>{{ _('Text') }}</th>
                                                    </tr>

                                                    <tr>
                                                        <th>{{ _("Variable name") }}</th>
                                                        <td>{{ questionDetails["question_name"] }}</td>
                                                    </tr>

                                                    {% if questionDetails["question_dtype"] not in [9,10] %}
                                                        <tr>
                                                            <th>{{ _("Question asked") }}</th>
                                                            <td>{{ questionDetails["question_desc"] }}</td>
                                                        </tr>
                                                    {% endif %}

{#                                                    {% if questionDetails["question_dtype"] in [2,3] %}#}
{#                                                        <tr>#}
{#                                                            <th>{{ _("Notes") }}</th>#}
{#                                                            <td>{{ questionDetails["question_notes"] }}</td>#}
{#                                                        </tr>#}
{#                                                    {% endif %}#}

                                                    {% if questionDetails["question_dtype"] in [2,3,8] %}
                                                        <tr>
                                                            <th>{{ _("Unit") }}</th>
                                                            <td>{{ questionDetails["question_unit"] }}</td>
                                                        </tr>
                                                    {% endif %}

                                                    {% if questionDetails["question_dtype"] in [9] %}
                                                        <tr>
                                                            <th>{{ _("Ranking - Best") }}</th>
                                                            <td>{{ questionDetails["question_posstm"] }}</td>
                                                        </tr>
                                                    {% endif %}

                                                    {% if questionDetails["question_dtype"] in [9] %}
                                                        <tr>
                                                            <th>{{ _("Ranking - Worst") }}</th>
                                                            <td>{{ questionDetails["question_negstm"] }}</td>
                                                        </tr>
                                                    {% endif %}

                                                    {% if questionDetails["question_dtype"] in [10] %}
                                                        <tr>
                                                            <th>{{ _("Question asked") }}</th>
                                                            <td>{{ questionDetails["question_perfstmt"] }}</td>
                                                        </tr>
                                                    {% endif %}

                                                    {% if questionDetails["question_dtype"] in [5,6] %}

                                                        {% for option in questionDetails["question_options"] %}
                                                            <tr>
                                                                <th>{{ _('Option') }} {{ option.value_code }}</th>
                                                                <td>{{ option["value_desc"] }}</td>
                                                            </tr>
                                                        {% endfor %}

                                                    {% endif %}

                                                </table>

                                                <div class="text-center">
                                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#previewModal" onclick="showPreview('{{ questionDetails["user_name"] }}',{{ questionDetails["question_id"] }},'{{ questionDetails["question_lang"] }}')">{{ _("Preview ODK") }}</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs" role="tablist">
                                        {% set cont = {'value': 0} %}
                                        {% for lang in translations %}
                                            {% if lang["default"] != 1 %}
                                                {% if cont.update({'value': cont.value + 1}) %} {% endif %}
                                                <li><a class="nav-link {% if cont.value == 1 %}active{% endif %}" data-toggle="tab" href="#tab{{ lang.lang_code }}"> {{ lang["lang_name"] }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                    </ul>
                                    <div class="tab-content">
                                        {% set cont = {'value': 0} %}
                                        {% for lang in translations %}
                                            {% if lang["default"] != 1 %}
                                                {% if cont.update({'value': cont.value + 1}) %} {% endif %}
                                                <div role="tabpanel" id="tab{{ lang.lang_code }}" class="tab-pane {% if cont.value == 1 %}active{% endif %} ">
                                                    <div class="panel-body">

                                                        <table class="table table-striped table-bordered">
                                                            <tr>
                                                                <th style="max-width: 120px; width: 120px">{{ _('Field') }}</th>
                                                                <th>{{ _("Text") }}</th>
                                                            </tr>

                                                            <tr>
                                                                <th>{{ _("Variable name") }}</th>
                                                                <td><input class="form-control txt{{ lang.lang_code }}" type="text" id="question_name_{{ lang.lang_code }}" name="question_name_{{ lang.lang_code }}" value="{% if lang["translations"]["question_name"] %}{{ lang["translations"]["question_name"] }}{% endif %}" {% if not allowEditing %}readonly{% endif %} oninvalid="this.setCustomValidity('{{ _("Write the variable name.") }}')" onchange="this.setCustomValidity('')"></td>
                                                            </tr>

                                                            {% if questionDetails["question_dtype"] not in [9,10] %}
                                                                <tr>
                                                                    <th>{{ _("Question asked") }}</th>
                                                                    <td><input class="form-control txt{{ lang.lang_code }}" type="text" id="question_desc_{{ lang.lang_code }}" name="question_desc_{{ lang.lang_code }}" value="{% if lang["translations"]["question_desc"] %}{{ lang["translations"]["question_desc"] }}{% endif %}" {% if not allowEditing %}readonly{% endif %} oninvalid="this.setCustomValidity('{{ _("Write the question asked.") }}')" onchange="this.setCustomValidity('')"></td>
                                                                </tr>
                                                            {% endif %}

    {#                                                        <tr>#}
    {#                                                            <th>{{ _("Notes") }}</th>#}
    {#                                                            <td><input class="form-control" type="text" name="question_notes_{{ lang.lang_code }}" value="{% if lang["translations"]["question_notes"] %}{{ lang["translations"]["question_notes"] }}{% endif %}"></td>#}
    {#                                                        </tr>#}

                                                            {% if questionDetails["question_dtype"] in [2,3,8] %}
                                                                <tr>
                                                                    <th>{{ _("Unit") }}</th>
                                                                    <td><input class="form-control txt{{ lang.lang_code }}" type="text" id="question_unit_{{ lang.lang_code }}" name="question_unit_{{ lang.lang_code }}" value="{% if lang["translations"]["question_unit"] %}{{ lang["translations"]["question_unit"] }}{% endif %}" {% if not allowEditing %}readonly{% endif %} oninvalid="this.setCustomValidity('{{ _("Write the unit.") }}')" onchange="this.setCustomValidity('')"></td>
                                                                </tr>
                                                            {% endif %}

                                                            {% if questionDetails["question_dtype"] in [9] %}
                                                                <tr>
                                                                    <th>{{ _("Ranking - Best") }}</th>
                                                                    <td><input class="form-control txt{{ lang.lang_code }}" type="text" id="question_posstm_{{ lang.lang_code }}" name="question_posstm_{{ lang.lang_code }}" value="{% if lang["translations"]["question_posstm"] %}{{ lang["translations"]["question_posstm"] }}{% endif %}" {% if not allowEditing %}readonly{% endif %} oninvalid="this.setCustomValidity('{{ _("Write the ranking - Best.") }}')" onchange="this.setCustomValidity('')"></td>
                                                                </tr>
                                                            {% endif %}

                                                            {% if questionDetails["question_dtype"] in [9] %}
                                                                <tr>
                                                                    <th>{{ _("Ranking - Worst") }}</th>
                                                                    <td><input class="form-control txt{{ lang.lang_code }}" type="text" id="question_negstm_{{ lang.lang_code }}" name="question_negstm_{{ lang.lang_code }}" value="{% if lang["translations"]["question_negstm"] %}{{ lang["translations"]["question_negstm"] }}{% endif %}" {% if not allowEditing %}readonly{% endif %} oninvalid="this.setCustomValidity('{{ _("Write the ranking - Worst.") }}')" onchange="this.setCustomValidity('')"></td>
                                                                </tr>
                                                            {% endif %}

                                                            {% if questionDetails["question_dtype"] in [10] %}
                                                                <tr>
                                                                    <th>{{ _("Question asked") }}</th>
                                                                    <td><input class="form-control txt{{ lang.lang_code }}" type="text" id="question_perfstmt_{{ lang.lang_code }}" name="question_perfstmt_{{ lang.lang_code }}" value="{% if lang["translations"]["question_perfstmt"] %}{{ lang["translations"]["question_perfstmt"] }}{% endif %}" {% if not allowEditing %}readonly{% endif %} oninvalid="this.setCustomValidity('{{ _("Write the question asked.") }}')" onchange="this.setCustomValidity('')"></td>
                                                                </tr>
                                                            {% endif %}

                                                            {% if questionDetails["question_dtype"] in [5,6] %}

                                                                {% for option in questionDetails["question_options"] %}
                                                                    <tr>
                                                                        <th>{{ _('Option') }} {{ option.value_code }}</th>
                                                                        {% set vars = {'value': ""} %}

                                                                        {% for optionT in lang["translations"]["question_options"] %}
                                                                            {% if optionT["value_code"] == option.value_code %}
                                                                                {% if vars.update({'value': optionT["value_desc"]}) %} {% endif %}

                                                                            {% endif %}
                                                                        {% endfor %}

                                                                        <td><input class="form-control txt{{ lang.lang_code }}" type="text" id="value_desc_{{ option.value_code }}_{{ lang.lang_code }}" name="value_desc_{{ option.value_code }}_{{ lang.lang_code }}" value="{{ vars.value }}" oninvalid="this.setCustomValidity('{{ _("Write the option.") }}')" onchange="this.setCustomValidity('')" {% if not allowEditing %}readonly{% endif %}></td>

                                                                    </tr>
                                                                {% endfor %}

                                                            {% endif %}

                                                        </table>

                                                        <div class="text-center">
                                                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#previewModal" onclick="showPreview('{{ questionDetails["user_name"] }}',{{ questionDetails["question_id"] }},'{{ lang.lang_code }}')">{{ _("Preview ODK") }}</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="row text-right">
                                    {% if questionDetails["question_lang"] and allowEditing %}
                                        <br>
                                        <button class="btn btn-primary" name="btn_save_translations" type="submit" id="btn_save_translations" style="margin-right: 15px">{{ _("Save") }}</button>
                                    {% endif %}
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal" id="previewModal"  role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-sm">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Close') }}</span></button>
                    <h4 class="modal-title">{{  _("Preview ODK") }}</h4>
                </div>
                <div class="modal-body">
                    <div  class="text-center" id="divForPreview"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Close') }}</button>
                </div>

            </div>
        </div>
    </div>

    {% include 'snippets/languages/addMoreLanguages.jinja2' %}

    <style>


        .fieldWithProblem {
            border: 1px solid red;
        }

    </style>

    <script>

        $(document).ready(function (){
            {% for lang in translations %}
                {% if lang["default"] != 1 %}
                    $(".txt{{ lang.lang_code }}").keyup(function (){

                        var required = false;

                        $(".txt{{ lang.lang_code }}").each(function() {
                            if ($(this).val() !== ""){
                                required = true
                            }
                        });

                        if (required === true)
                        {

                            $(".txt{{ lang.lang_code }}").each(function () {

                                if ($(this).val() === "" && $(this).attr("id") !== "question_unit_{{ lang.lang_code }}") {
                                    $(this).addClass("fieldWithProblem")
                                    $("#missingInfo").css("display", "block")
                                } else {
                                    $(this).removeClass("fieldWithProblem")
                                }

                            });
                        }else{
                            $(".txt{{ lang.lang_code }}").removeClass("fieldWithProblem")
                        }

                    });
                {% endif %}
            {% endfor %}




        });

        $("#default_lang").change(function () {

            swal(
                {
                    title: "{{ _("Are you sure") }}?",
                    text: "{{ _("If you change the main language, you will lose the texts of the selected language.")}}",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "{{ _("Yes, change it!") }}",
                    cancelButtonText: "{{ _("No, cancel!") }}",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {

                        $.ajax({
                            url: "{{ request.route_url("changeDefaultQuestionLanguage",user=questionDetails["user_name"], questionid=questionDetails["question_id"]) }}",
                            datatype: "json",
                            type: "POST",
                            data: {"csrf_token": "{{ request.session.get_csrf_token() }}", "lang_code": $("#default_lang").val() },
                            success: function (respuesta) {
                                if (respuesta.status === 200) {
                                    location.href = window.location.href;
                                }else{
                                    swal("{{ _("Cancelled") }}", "{{ _("The main language is not changed") }}", "error");
                                }
                            },
                            error: function (respuesta) {
                                swal("{{ _("Cancelled") }}", "{{ _("The main language is not changed") }}", "error");
                            }
                        });

                    } else {
                        swal("{{ _("Cancelled") }}", "{{ _("We have not changed the data") }}", "error");
                    }
                });
        });

        $(".form-control").keyup(function (){
            $(".form-control").each(function() {
                if ( $(this).hasClass( "fieldWithProblem" ) === true){
                    $("#missingInfo").css("display", "none")
                }
            });
        })

        $(".formElement").click(function () {
            var problems = true;
            $(".form-control").each(function() {
                if ( $(this).hasClass( "fieldWithProblem" ) === true){
                    problems = false
                }
            });

            return problems

          });


        function showPreview(user_name, question_id, language)
        {
            var URL = "{{ request.route_url('getUserQuestionPreview',user="__user_name__", questionid="__questionid__", _query={"language":"__language__"}) }}"
            URL = URL.replace("__user_name__", user_name).replace("__questionid__", question_id).replace("__language__", language)

            $.get(URL, function (data, status) {
                $("#divForPreview").html(data);
                $("#ibox_preview").css('display','initial');
            })
        }

        {% if not questionDetails["question_lang"] and allowEditing %}
            showHelpForDefault()
        {% endif %}

        function showHelpForDefault()
        {
            var tour = new Tour({
                steps: [
                        {
                            element: "#div_for_translations",
                            title: "{{ _("Set the main language for this question") }}",
                            content: "- {{ _("Select the main language for the displayed question") }}.<br><br>- {{ _("If the corresponding language is not in the list, click on:") }} <a class='btn btn-success btn-rounded  btn-xs modalLang' style='color: white' data-toggle='modal' data-target='#languagesModal'><i class='fa fa-plus'></i> {{ _("Add more languages") }}</a><br><br>- {{ _("Once you set the main language, you can add texts in another language.") }}",
                            placement: "rigth"
                        }
                       ],
                template: "<div class='popover tour' style='border-color: #23c6c8; max-width: none;'><div class='arrow' ></div><h3 class='popover-title btn-info'></h3><div class='popover-content'></div><div class='popover-navigation'> <button class='btn btn-sm btn-danger closeTour' data-role='end'><i class='fa fa-close'></i> {{ _("Close") }}</button> </div>",
                backdrop: true,
                backdropContainer: 'body'
            });

            show_carga = false;

            // Initialize the tour
            tour.init();
            tour.restart();
        }

        $(".modalLang").click(function (){
            show_carga = false;
        })


    </script>


{% endblock pagecontent %}