<div class="modal inmodal" id="languagesModal"  tabindex="-1"  role="dialog" aria-hidden="true">
    <div id="languagesParent" style="position: absolute; z-index: 10000">
    </div>
    <div class="modal-dialog modal-sm">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Close') }}</span></button>
                <h4 class="modal-title">{{  _("Add more languages") }}</h4>
            </div>
            <div class="modal-body">
                {% set limiteHeight = True %}
                {% set isModal = True %}
                {% include 'snippets/languages/changeLanguages.jinja2' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">{{ _('Close') }}</button>
            </div>

        </div>
    </div>
</div>

<script>
    $('#languagesModal').on('hidden.bs.modal', function () {
      location.href = window.location.href;
    })


</script>