<div class="ibox">
    <div class="ibox-title text-center" >
        <h5> {{ _("Select the languages to be used with the participants") }}</h5>

        <div class="ibox-tools">
            <a class="btn btn-success btn-rounded  btn-xs" style="color: white" onclick="showHelp()"><i class="fa fa-question-circle"></i> {{  _("Show help") }}</a>
        </div>
    </div>

    <div class="ibox-content" id="div_for_languages">
        <div style="text-align: center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="100">
                <path d="M0 128C0 92.7 28.7 64 64 64H256h48 16H576c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H320 304 256 64c-35.3 0-64-28.7-64-64V128zm320 0V384H576V128H320zM178.3 175.9c-3.2-7.2-10.4-11.9-18.3-11.9s-15.1 4.7-18.3 11.9l-64 144c-4.5 10.1 .1 21.9 10.2 26.4s21.9-.1 26.4-10.2l8.9-20.1h73.6l8.9 20.1c4.5 10.1 16.3 14.6 26.4 10.2s14.6-16.3 10.2-26.4l-64-144zM160 233.2L179 276H141l19-42.8zM448 164c11 0 20 9 20 20v4h44 16c11 0 20 9 20 20s-9 20-20 20h-2l-1.6 4.5c-8.9 24.4-22.4 46.6-39.6 65.4c.9 .6 1.8 1.1 2.7 1.6l18.9 11.3c9.5 5.7 12.5 18 6.9 27.4s-18 12.5-27.4 6.9l-18.9-11.3c-4.5-2.7-8.8-5.5-13.1-8.5c-10.6 7.5-21.9 14-34 19.4l-3.6 1.6c-10.1 4.5-21.9-.1-26.4-10.2s.1-21.9 10.2-26.4l3.6-1.6c6.4-2.9 12.6-6.1 18.5-9.8l-12.2-12.2c-7.8-7.8-7.8-20.5 0-28.3s20.5-7.8 28.3 0l14.6 14.6 .5 .5c12.4-13.1 22.5-28.3 29.8-45H448 376c-11 0-20-9-20-20s9-20 20-20h52v-4c0-11 9-20 20-20z"/>
            </svg>
        </div>

        <select id="select_lang" name="select_lang" class="form-control" style="width: 100%; !important;">
            <option value="">{{ _("Write here to search languages") }}</option>
        </select>

        <br>

        <div id="result_of_the_languages" style="margin-bottom: 20px; margin-top: 30px; {% if limiteHeight %}max-height: 300px;overflow-y: scroll;{% endif %}">

        </div>

    </div>
</div>

<script>

    var tour = new Tour({
            steps: [
                    {
                        element: "#div_for_languages",
                        title: "{{ _("Select the languages to be used with the participants") }}",
                        content: "- {{ _("You must indicate at least one language to continue working in ClimMob.") }}<br>- {{ _("These will be used to create questions, projects and forms in multiple languages.") }}<br>- {{ _("You are welcome to include as many languages as you deem necessary for your projects.") }}<br><br><b>{{ _("Main language") }}:</b><br>{{ _("Set the language you will use the most as the 'Main language' for faster form filling.") }}<br><br><b>{{ _("We are using the language database: Ethnologue") }}</b><br>Eberhard, David M., Gary F. Simons, and Charles D. Fennig (eds.). 2023. Ethnologue: Languages of the World. Twenty-sixth edition. Dallas, Texas: SIL International. Online version: <a href='http://www.ethnologue.com' target='_blank'>http://www.ethnologue.com</a>.",
                        placement: "right"
                    }
                   ],
            template: "<div class='popover tour' style='border-color: #23c6c8; max-width: none; width:400px; z-index:10000'><div class='arrow' ></div><h3 class='popover-title btn-info'></h3><div class='popover-content'></div><div class='popover-navigation'> <button class='btn btn-sm btn-danger' data-role='end'><i class='fa fa-close'></i> {{ _("Close") }}</button> </div>",
            backdrop: true,
            backdropContainer: 'body'
        });

    $(document).ready(function() {

        {% if help %}
            showHelp();
        {% endif %}

        function formatLanguage (language) {
            if (!language.id) {
                return language.text;
            }
            let $state = $(
                '<span>' + language.text + '</span>'
            );
            return $state;
        }

        $('#select_lang').select2({
            {% if isModal %}
                dropdownParent: $("#languagesParent"),
            {% endif %}
            templateResult: formatLanguage,
            ajax: {
                url: "{{ request.route_url('APIlanguages', user=activeUser.login) }}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    tour.end()
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.results,
                        pagination: {
                            more: (params.page * 10) < data.total
                        }
                    };
                },
                cache: true
            }
        });

        updateUserLanguages();

        $("#select_lang").change(function (){
            var value = $(this).val();

            if (value !="")
            {
                $.ajax({
                    url: '{{ request.route_url('addUserLanguage') }}',
                    datatype: "json",
                    type: "POST",
                    data: {
                        "csrf_token": '{{ request.session.get_csrf_token() }}',
                        "lang_code": value,
                    },
                    success: function (response) {
                        if (response["result"] == "success")
                        {
                            toastr.success(response["message"]);
                            $("#select_lang").val("");
                            //$("#select_lang option[value='"+value+"']").remove();
                            $("#select_lang").trigger("change.select2");
                            updateUserLanguages();
                        }else{
                            toastr.error(response["message"]);
                        }

                    },
                    error: function (response) {
                        toastr.error("{{ _("There was a problem updating the languages") }}");
                    }
                });
            }
        });

    });




    function updateUserLanguages(){

        $.get("{{ request.route_url('getUserLanguagesPreview', user=activeUser.login) }}", function (dataJson, status) {

            $("#result_of_the_languages").html(dataJson)

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $("input[name=default_language]").on('ifChecked',function(){

                $.ajax({
                    url: '{{ request.route_url('changeDefaultLanguage', user=activeUser.login) }}',
                    datatype: "json",
                    type: "POST",
                    data: {
                        "csrf_token": '{{ request.session.get_csrf_token() }}',
                        "lang_code": $("input[name=default_language]:checked").val(),
                    },
                    success: function (response) {
                        if (response["result"] == "success")
                        {
                            toastr.success(response["message"]);
                        }else{
                            toastr.error(response["message"]);
                        }

                    },
                    error: function (response) {
                        toastr.error("{{ _("There was a problem updating the main languages") }}");
                    }
                });
            });

        })
    }

    function myCustomAction(){
        updateUserLanguages();
    }

    function showHelp()
    {

        // Initialize the tour
        tour.init();
        tour.restart();
    }



</script>