{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Project help") }}</title>
{% endblock title %}



{% block topScripts %}
    {% jsresource request,'coreresources','switch' %}
{% endblock topScripts %}


{% block pageheading %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ _("Project help") }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main menu") }}</a>
                </li>
                <li class="active">
                    <strong>{{ _("Project Help") }}</strong>
                </li>
            </ol>
            <a href="" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('static/landing/info.png') }}" alt="info"/> </a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}


{% block pagecontent %}
    <div class="row">

        <div class="col-lg-6 ">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> {{ _("Increase number of participants") }}</h5>
                    <div class="ibox-tools">
                        <button  class="btn btn-xs btn-default pull-right " onclick="window.location.href=window.location.href" ><i class="fa fa-close" style="color: black"></i></button>
                    </div>
                </div>
                <div class="ibox-content" >
                    <form method="post" class="form-horizontal" action="{{ request.path }}">
                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">

                        {% if dataworking["result_positive"] %}
                            <div class="alert alert-success">
                                <button aria-hidden="true" data-dismiss="alert" class="close closeError" type="button">×</button>
                                {{ dataworking["result_positive"] }}.
                            </div>
                        {% endif %}

                        {% if dataworking["result_negative"] %}
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close closeError" type="button">×</button>
                                {{ dataworking["result_negative"] }}
                            </div>
                        {% endif %}

                        {% if dataworking["project_details"] %}
                            {% if dataworking["project_details"]["project_regstatus"] == 0 %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ _("The project has not yet started collecting information, you cannot increase it") }}.
                                </div>
                            {% endif %}

                            {% if dataworking["project_details"]["project_regstatus"] == 2 %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ _("This project cannot be increased because the registration form is already closed") }}.
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ _("Project code") }}</label>
                            <div class="col-sm-8"><input class="form-control" id="project_cod" required oninvalid="this.setCustomValidity('{{ _("Write the project code.") }}')" onchange="this.setCustomValidity('')" name="project_cod" value="{{ dataworking.project_cod }}" ></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ _("Username") }}</label>
                            <div class="col-sm-8"><input class="form-control" id="project_username" required oninvalid="this.setCustomValidity('{{ _("Write the user name.") }}')" onchange="this.setCustomValidity('')" name="project_username" value="{{ dataworking.project_username }}"></div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        {% set showSearch = True %}
                        {% if dataworking["project_details"] %}
                            {% if dataworking["project_details"]["project_regstatus"] == 1 %}
                                {% set showSearch  = False %}
                                <i class="fa fa-cube text-navy " style="font-size: 15px"> {{ _("Project details") }}</i>
                                <br><br>
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <tr>
                                        <th>{{ _("Project name") }}:</th>
                                        <td style="padding-left: 10px">{{ dataworking["project_details"]["project_name"] }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ _("Trial cordinator") }}:</th>
                                        <td style="padding-left: 10px">{{ dataworking["project_details"]["project_pi"] }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ _("Number of observers participating in the project") }}:</th>
                                        <td style="padding-left: 10px">{{ dataworking["project_details"]["project_numobs"] }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ _("Country") }}:</th>
                                        <td style="padding-left: 10px">{{ dataworking["project_details"]["country"] }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ _("Number of technologies") }}:</th>
                                        <td style="padding-left: 10px">{{ dataworking["project_details"]["techs"]|length }}</td>
                                    </tr>
                                </table>
                                <br><br>
                                <i class="fa fa-cubes text-navy " style="font-size: 15px"> {{ _("Project combinations") }}</i>
                                <br><br>
                                <table class="table table-striped table-bordered table-hover dataTables-example" >
                                    <thead>
                                    <tr>
                                        <th>{{ _("Combination of levels") }}</th>
                                        {% for tech in dataworking["project_details"]["techs"] %}
                                            <th>{{  tech.tech_name }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for comb in dataworking["project_details"]["combs"] %}
                                        {% if comb.comb_usable == 1 %}
                                            <tr class="gradeX">
                                                <td class="center">{{ comb.ncomb }}</td>
                                                {% for element in comb.elements %}
                                                    <td>{{ element.alias_name }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <br><br>
                                <i class="fa fa-wrench text-navy " style="font-size: 15px"> {{ _("Project adjustments") }}</i>
                                <br><br>
                                <div class="form-group">
                                    <label class="col-sm-6 control-label">{{ _("How many new packages do you want to add?") }}</label>
                                    <div class="col-sm-6"><input type="number" class="form-control" id="project_packages" required oninvalid="this.setCustomValidity('{{ _("Write the number of packages.") }}')" onchange="this.setCustomValidity('')" name="project_packages" value="{{ dataworking.project_packages }}" ></div>
                                </div>
                                <br>
                                <button type="submit" name="btn_apply_changes" id="btn_apply_changes" class="btn btn-primary pull-right">{{ _("Apply changes") }}</button>
                                <br><br>

                            {% endif %}

                        {% endif %}

                        {% if showSearch %}
                            <button type="submit" name="btn_search_project" id="btn_search_project" class="btn btn-primary pull-right">{{ _("Search project") }}</button>
                            <br><br>
                        {% endif %}



                    </form>

                </div>
            </div>
        </div>

    </div>

    <script>

    </script>
{% endblock pagecontent %}

