{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | New treatment levels") }}</title>
{% endblock title %}

{% block pageheading %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ _("New level") }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main menu") }}</a>
                </li>
                <li >
                    <a href="{{ request.route_url('usertechnologies') }}">{{ _("Treatments library") }}</a>
                </li>
                <li >
                    <a href="{{ request.route_url('useralias',technologyid=tech.tech_id) }}">{{ _("Treatment") }}: {{ tech.tech_name }}</a>
                </li>
                <li >
                    <strong>{{ _("New level") }}</strong>
                </li>
            </ol>
            <a href="https://climmob.net/blog/wiki/2019/09/30/new-level/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('static/landing/info.png') }}" alt="info"/> </a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}

{% block pagecontent %}
    <div class="row">
        <div class="col-lg-6 ">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("New level") }}</h5>
                    <div class="ibox-tools">
                        <button type="button" onclick="location.href='{{ request.route_url('useralias', technologyid=formdata.tech_id) }}';" class="btn btn-default btn-xs pull-right">{{ _("Go back") }}</button>
                    </div>
                </div>
                <div class="ibox-content animated fadeInRightBig" >

                    {% snippet 'snippets/error.jinja2', error_summary=error_summary %}

                    <div class="error-desc">
                        <form method="post" action="{{ request.path }}">
                            {% snippet 'snippets/technologies/aliases/technologiesAlias-form.jinja2', formdata=formdata, request=request, action="create" %}
                            <br><br><br>
                            <button type="submit" name="btn_add_alias" class="btn btn-primary pull-right">{{ _("Save and go back") }}</button>
                        </form>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock pagecontent %}
