{
    "pyramid.reload_templates": "true",
    "pyramid.debug_authorization": "false",
    "pyramid.debug_notfound": "false",
    "pyramid.debug_routematch": "false",
    "pyramid.default_locale_name": "en",
    "pyramid.includes": "\npyramid_debugtoolbar",
    "sqlalchemy.url": "{{ sqlalchemy_url }}",
    "repository.url": "{{ sqlalchemy_url }}",
    "auth.secret": "ENg!yz@d_r2",
    "auth.secret.cookie": "climmob_auth_tkt",
    "aes.key": "u~|Xf>2Z+5k1e&XU",
    "auth.opaque": "5ccc069c403ebaf9f0171e9517f40e41",
    "auth.realm": "odkuser@climmob.net",
    "celery.broker": "redis://localhost:6379/0",
    "celery.backend": "redis://localhost:6379/0",
    "celery.taskname": "clmtask",
    "user.repository": "{{ user_repository }}",
    "odktools.path": "{{ odktools_path }}",
    "mysql.cnf": "{{ mysql_cnf }}",
    "r.scripts": "{{ r_scripts }}",
    "r.random.script": "{{ r_random_script }}",
    "r.analysis.script": "{{ r_analysis_script }}",
    "odktools.mysql.host": "{{ mysql_host }}",
    "odktools.mysql.port": "{{ mysql_port }}",
    "odktools.mysql.user": "{{ mysql_user }}",
    "odktools.mysql.password": "{{ mysql_password }}"
}