<script>
    const QuestionType = Object.freeze({
        TEXT: 1,
        DECIMAL: 2,
        INTEGER: 3,
        GEO_POINT: 4,
        SELECT_ONE: 5,
        SELECT_MULTIPLE: 6,
        PACKAGE_CODE: 7,
        FARMER: 8,
        RANKING_OF_OPTIONS: 9,
        COMPARISON_WITH_CHECK: 10,
        GEO_TRACE: 11,
        GEO_SHAPE: 12,
        DATE: 13,
        TIME: 14,
        DATETIME: 15,
        IMAGE: 16,
        AUDIO: 17,
        VIDEO: 18,
        BARCODE_QR: 19,
        LOCATION: 27
    });
    const QuestionAnonymity = Object.freeze({
        REMOVE: 1,
        PSEUDONYM: 2,
        RANGE: 3,
        NOISE: 4,
        MASK: 5,
        MONTH_YEAR: 6
    });
</script>