<div class="row">
    {% block qstitemheading %}
        {% if User == "" %}
            <!--div class="col-md-6">
                <b>{{ _('Search') }}:</b>&nbsp;<input type="text"
                                                      style="border: 1px solid #ccc;border-radius: 4px;height: 34px;width: 70%"
                                                      value="" id="SearchInTable" name="" placeholder=" ">
            </div-->
            <div class="col-md-6">
                {% if showtools %}
                    <button id="addnewquestions" class="btn btn-success pull-right"
                            onclick="showIFrame('{{ request.route_url('newquestion') }}','Add question','Add question');">{{ _('Add new question') }} <i
                            class="fa fa-plus"></i></button>
                    <br><br>
                {% endif %}
            </div>
        {% else %}
            <!--div class="col-md-12">
                <b>{{ _('Search') }}:</b>&nbsp;<input type="text"
                                                      style="border: 1px solid #ccc;border-radius: 4px;height: 34px;width: 70%"
                                                      value="" id="SearchInTable2" name="" placeholder=" ">
            </div-->
        {% endif %}
    {% endblock qstitemheading %}
</div>

{% if UserQuestion %}
    <div style=" overflow: auto">

        {% snippet 'snippets/question/question-table.jinja2', request=request, UserQuestion =UserQuestion, showTitle = False, showtools=False %}

    </div>
{% else %}
    {% block qstitemnodata %}
        <b>{{ _('No data to display') }}</b>
    {% endblock qstitemnodata %}
{% endif %}