<input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
{% if hasCode %}
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ _("Variable name") }}</label>
        <div class="col-sm-8">
            <input style="max-width: 170px" maxlength="16" type="text" id="question_code" class="form-control " value="{{ formdata.question_code }}" required="" name="question_code" placeholder=" ">
            <span class="help-block m-b-none text-left">{{ _("How the variable will be labeled in your dataset.") }}</span>
        </div>
    </div>
{% endif %}
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _("Question asked") }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control " value="{{ formdata.question_desc }}" required="" name="question_desc" placeholder=" ">
        <span class="help-block m-b-none text-left">{{ _("Text of the question as shown in the ODK Collect app.") }}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-4 control-label">{{ _("Category") }}</label>
    <div class="col-sm-8">
        <select id="question_group" name="question_group" class="form-control">
            {% for category in Categories %}
                <option value="{{ category.qstgroups_id  }}[*$%&]{{ category.user_name }}" {% if formdata.qstgroups_id == category.qstgroups_id and formdata.qstgroups_user == category.user_name %}selected {% endif %}>{{ category.qstgroups_name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _("Type") }}</label>
    <div class="col-sm-8">
        <select id="question_dtype" name="question_dtype" class="form-control">
            <option value="1" {% if formdata.question_dtype == 1 %}selected {% endif %}>{{ _('Text') }}</option>
            <option value="9" {% if formdata.question_dtype == 9 %}selected {% endif %}>{{ _('Characteristic (Compare between tecnologies)') }}</option>
            <option value="10" {% if formdata.question_dtype == 10 %}selected {% endif %}>{{ _('Performance (Compare agaist current)') }}</option>
            <option value="27" {% if formdata.question_dtype == 27 %}selected {% endif %}>{{ _('Location') }}</option>

            <option value="2" {% if formdata.question_dtype == 2 %}selected {% endif %}>{{ _('Decimal') }}</option>
            <option value="3" {% if formdata.question_dtype == 3 %}selected {% endif %}>{{ _('Integer') }}</option>
            <option value="4" {% if formdata.question_dtype == 4 %}selected {% endif %}>{{ _('GeoPoint') }}</option>
            <option value="5" {% if formdata.question_dtype == 5 %}selected {% endif %}>{{ _('Select one') }}</option>
            <option value="6" {% if formdata.question_dtype == 6 %}selected {% endif %}>{{ _('Select multiple') }}</option>
            <option value="11" {% if formdata.question_dtype == 11 %}selected {% endif %}>{{ _('Geotrace') }}</option>
            <option value="12" {% if formdata.question_dtype == 12 %}selected {% endif %}>{{ _('Geoshape') }}</option>
            <option value="13" {% if formdata.question_dtype == 13 %}selected {% endif %}>{{ _('Date') }}</option>
            <option value="14" {% if formdata.question_dtype == 14 %}selected {% endif %}>{{ _('Time ') }}</option>
            <option value="15" {% if formdata.question_dtype == 15 %}selected {% endif %}>{{ _('DateTime ') }}</option>
            <option value="16" {% if formdata.question_dtype == 16 %}selected {% endif %}>{{ _('Image ') }}</option>
            <option value="17" {% if formdata.question_dtype == 17 %}selected {% endif %}>{{ _('Audio ') }}</option>
            <option value="18" {% if formdata.question_dtype == 18 %}selected {% endif %}>{{ _('Video ') }}</option>
            <option value="19" {% if formdata.question_dtype == 19 %}selected {% endif %}>{{ _('Barcode/Qr') }}</option>
            {# <option value="7" {% if formdata.question_dtype == 7 %}selected {% endif %}>{{ _('Package') }}</option>
               <option value="8" {% if formdata.question_dtype == 8 %}selected {% endif %}>{{ _('Observer') }}</option>
            #}
            {% block qstformqtypes_extra %}
            {% endblock qstformqtypes_extra %}
        </select>
    </div>
</div>
{#<div class="form-group">#}
{#    <label class="col-sm-4 control-label">Description</label>#}
{#    <div class="col-sm-8">#}
{#        <textarea class="form-control" type="input" id="question_notes" required="" name="question_notes">{{ formdata.question_notes }}</textarea>#}
{#    </div>#}
{#</div>#}
<div class="form-group" id="div_unit">
    <label class="col-sm-4 control-label">{{ _("Unit") }}</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" value="{{ formdata.question_unit }}" id="txt_unit" name="question_unit" placeholder=" ">
    </div>
</div>
{#<div class="form-group">#}
{#    <label class="col-sm-4 control-label">{{ _("Visible for the users") }}:</label>#}
{#    <div class="col-sm-8">#}
{#        <div class="switch">#}
{#            <input type="checkbox" id="ckb_required_visible"#}
{#                   name="question_visible" data-on-color="success"#}
{#                   data-off-color="danger" data-on-text="{{ _('YES') }}"#}
{#                   data-off-text="{{ _('NO') }}" {% if formdata.question_visible == 'on' %} checked="" {% endif %}>#}
{#            <span class="help-block m-b-none text-left">{{ _("") }}</span>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="form-group" id="div_submissions" {% if formdata.question_dtype == 9 or formdata.question_dtype == 10%}style="display:none" {% endif %}>
    <label class="col-sm-4 control-label">{{  _('Add to registration of participants') }}</label>
    <div class="col-sm-8">
        <input type="checkbox" id="ckb_registrationrequired"
               name="question_alwaysinreg" data-on-color="success"
               data-off-color="danger" data-on-text="{{ _('YES') }}"
               data-off-text="{{ _('NO') }}" {% if formdata.question_alwaysinreg == 'on' %} checked="" {% endif %}>
        <span class="help-block m-b-none text-left">{{ _("Always include this question in the registration of participants") }}</span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _("Add to assessments") }}</label>
    <div class="col-sm-8">
        <input type="checkbox" id="ckb_assessmentrequired"
               name="question_alwaysinasse" data-on-color="success"
               data-off-color="danger" data-on-text="{{ _('YES') }}"
               data-off-text="{{ _('NO') }}" {% if formdata.question_alwaysinasse == 'on' %} checked="" {% endif %}>
        <span class="help-block m-b-none text-left">{{ _("Always include this question in each evaluation") }}</span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">{{ _("Answer required") }}</label>
    <div class="col-sm-8">
        <div class="switch">
            <input type="checkbox" id="ckb_required_value"
                   name="question_requiredvalue" data-on-color="success"
                   data-off-color="danger" data-on-text="{{ _('YES') }}"
                   data-off-text="{{ _('NO') }}" {% if formdata.question_requiredvalue == 'on' %} checked="" {% endif %}>
            <span class="help-block m-b-none text-left">{{ _("This question must be filled when collecting data") }}</span>
        </div>
    </div>
</div>
{% block qstform_extra %}
{% endblock qstform_extra %}