<div class="row">
    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ _("1. General information") }}</h5>

            </div>
            <div class="ibox-content">

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Project code") }}</label>
                    <div class="col-sm-8"><input class="form-control" id="newproject_code" required oninvalid="this.setCustomValidity('{{ _("Write the project code.") }}')" onchange="this.setCustomValidity('')" {% if edit %} disabled {% endif %} name="project_cod" value="{{ dataworking.project_cod }}" maxlength="10"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Project Name") }}</label>
                    <div class="col-sm-8"><input class="form-control" id="newproject_name" required oninvalid="this.setCustomValidity('{{ _("Write the project name.") }}')" onchange="this.setCustomValidity('')" {% if not permissionForChanges %} disabled {% endif %} name="project_name" value="{{ dataworking.project_name }}" maxlength="30"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Description") }}</label>
                    <div class="col-sm-8"><textarea class="form-control" name="project_abstract" required oninvalid="this.setCustomValidity('{{ _("Write the description.") }}')" onchange="this.setCustomValidity('')" {% if not permissionForChanges %} disabled {% endif %} id="newproject_description">{{ dataworking.project_abstract }}</textarea></div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Tags") }}</label>
                    <div class="col-sm-8">
                        <input class="tagsinput form-control" name="project_tags" id="newproject_tag" type="text" data-role="tagsinput" value="{{ dataworking.project_tags }}"  oninvalid="this.setCustomValidity('{{ _("Write the tags.") }}')" onchange="this.setCustomValidity('')" {% if not permissionForChanges %} disabled {% endif %}>
                        <span class="help-block m-b-none">{{ _("Press comma after every word to add the tag") }}.</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Trial coordinator") }}</label>
                    <div class="col-sm-8"><input class="form-control" id="newproject_principal_investigator" required oninvalid="this.setCustomValidity('{{ _("Write the principal investigator.") }}')" onchange="this.setCustomValidity('')" {% if not permissionForChanges %} disabled {% endif %} name="project_pi" value="{{ dataworking.project_pi }}"></div>
                </div>
                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Email address") }}</label>
                    <div class="col-sm-8"><input type="email" class="form-control" id="newproject_mail_address" required oninvalid="this.setCustomValidity('{{ _("Write the email address.") }}')" onchange="this.setCustomValidity('')" {% if not permissionForChanges %} disabled {% endif %} name="project_piemail" value="{{ dataworking.project_piemail }}"></div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ _("2. Size and labels") }}</h5>
            </div>
            <div class="ibox-content">

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Number of observers participating in the project") }}</label>
                    <div class="col-sm-8"><input type="number" min="10" class="form-control" id="newproject_numobs" required="" {% if dataworking.project_regstatus != 0 %} disabled {% endif %} {% if not permissionForChanges %} disabled {% endif %} name="project_numobs" value="{{ dataworking.project_numobs }}"></div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Number of items that each participant compares") }}</label>
                    <div class="col-sm-8"><input type="number" class="form-control" id="newproject_numcom" required="" readonly {% if dataworking.project_regstatus != 0 %} disabled {% endif %} {% if not permissionForChanges %} disabled {% endif %} name="project_numcom" value="{{ dataworking.project_numcom }}"></div>
                </div>

                <div class="hr-line-dashed"></div>

                <p>{{ _("Name to be given to the 3 items that each participant compares") }}:</p><br>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Item #1") }}</label>
                    <div class="col-sm-8"><input class="form-control" id="project_label_a" required oninvalid="this.setCustomValidity('{{ _("Write the label for the option.") }}')" onchange="this.setCustomValidity('')" {% if dataworking.project_regstatus != 0 %} disabled {% endif %} {% if not permissionForChanges %} disabled {% endif %} name="project_label_a" value="{{ dataworking.project_label_a }}"></div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Item #2") }}</label>
                    <div class="col-sm-8"><input class="form-control" id="project_label_b" required oninvalid="this.setCustomValidity('{{ _("Write the label for the option.") }}')" onchange="this.setCustomValidity('')" {% if dataworking.project_regstatus != 0 %} disabled {% endif %} {% if not permissionForChanges %} disabled {% endif %} name="project_label_b" value="{{ dataworking.project_label_b }}"></div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Item #3") }}</label>
                    <div class="col-sm-8"><input class="form-control" id="project_label_c" required oninvalid="this.setCustomValidity('{{ _("Write the label for the option.") }}')" onchange="this.setCustomValidity('')" {% if dataworking.project_regstatus != 0 %} disabled {% endif %} {% if not permissionForChanges %} disabled {% endif %} name="project_label_c" value="{{ dataworking.project_label_c }}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ _("3. Geographic information") }}</h5>
            </div>
            <div class="ibox-content">

                <div class="form-group">
                    <label class="col-sm-4 control-label">{{ _("Country") }}</label>
                    <div class="col-sm-8">

                        <select id="project_cnty" name="project_cnty" class="form-control chosen-select" tabindex="2" required oninvalid="this.setCustomValidity('{{ _("Select one country.") }}')" onchange="this.setCustomValidity('')" {% if not permissionForChanges %} disabled {% endif %}>
                            <option value="">{{ _("Select one country") }}</option>
                            {% for country in countries %}
                                <option value="{{ country.code }}" {% if country.code == dataworking.project_cnty %}selected{% endif %} >{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ _("4. Type of project") }}</h5>
            </div>
            <div class="ibox-content">

                <div class="form-group" style="margin: 5px">
                    <div class="i-checks" ><label style="font-weight: initial; font-size: 14px"> <input class="radiosRA" type="radio" name="project_registration_and_analysis" value="0" {% if dataworking.project_regstatus != 0 %} disabled {% endif %} {% if dataworking["project_registration_and_analysis"] ==0 %}checked{% endif %} {% if not permissionForChanges %} disabled {% endif %}> <i></i> {{ _("Registration is done first, followed by one or more data collection moments (with different forms)") }} </label></div>
                    <br>
                    <div class="i-checks"><label style="font-weight: initial; font-size: 14px"> <input class="radiosRA" type="radio" name="project_registration_and_analysis" value="1" {% if dataworking.project_regstatus != 0 %} disabled {% endif %} {% if dataworking["project_registration_and_analysis"] ==1 %}checked{% endif %} {% if not permissionForChanges %} disabled {% endif %}> <i></i> {{ _("Requires registering participants and immediately asking questions to analyze the information") }} </label></div>
                </div>

            </div>
        </div>
    </div>

    {% if showSelectStructureToClone %}
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("5. Structure to be cloned") }}</h5>
                </div>
                <div class="ibox-content">

                    <div class="form-group" style="margin: 5px">
                        <input type="text" name="structureToBeCloned" id="structureToBeCloned" style="display: none" value="">
                        <div class="i-checksbox"><label style="font-weight: initial; font-size: 14px"> <input class="checksbox" type="checkbox" id="fieldagents" > <i></i>{{ _("Field agents") }} </label></div>
                        <div class="i-checksbox"><label style="font-weight: initial; font-size: 14px"> <input class="checksbox" type="checkbox" id="technologies" > <i></i>{{ _("Technologies") }} </label></div>
                        <div class="i-checksbox"><label style="font-weight: initial; font-size: 14px"> <input class="checksbox" type="checkbox" id="technologyoptions" > <i></i>{{ _("Technology options") }} </label></div>
                        <div class="i-checksbox"><label style="font-weight: initial; font-size: 14px"> <input class="checksbox" type="checkbox" id="registry" > <i></i>{{ _("Registration form") }} </label></div>
                        {% for assessment in assessments %}
                            <div class="i-checksbox"><label style="font-weight: initial; font-size: 14px"> <input class="checksbox" type="checkbox" id="{{ assessment.ass_cod }}" > <i></i>{{ _("Assessment") }}: {{ assessment.ass_desc }} </label></div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    {% endif %}

</div>

<script>
    $('input#newproject_code').maxlength(
        {
            alwaysShow: true,
            threshold: 0,
            warningClass: "label label-primary",
            limitReachedClass: "label label-danger",
            message: ' {{ _("Used") }} %charsTyped% {{ _("of") }} %charsTotal% {{ _("chars") }}.',
            placement: "bottom"
        }
    )

    $('input#newproject_name').maxlength(
        {
            alwaysShow: true,
            threshold: 0,
            warningClass: "label label-primary",
            limitReachedClass: "label label-danger",
            message: ' {{ _("Used") }} %charsTyped% {{ _("of") }} %charsTotal% {{ _("chars") }}.',
            placement: "bottom"
        }
    )

    $('.chosen-select').chosen({width: "100%"});
</script>
