<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5> {{ formName }}</h5>
        </div>
        <div class="ibox-content" >
            {% set eventClick=False %}
            {% set classByUser=False %}
            {% set classByRegRequired=False %}
            {% set classByAssesRequired=False %}
            {% set createSection=False %}
            {% set data=data %}
            {% set jstreeName=jstreeName %}
            {% include 'snippets/jstreeForm.jinja2' %}

            <script>
                $(document).ready(function () {
                    $('#{{ jstreeName }}').jstree({'plugins': ['types', 'dnd']});
                });
            </script>
        </div>
    </div>
</div>