
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5> {{ _("Project details") }}</h5>
        </div>
        <div class="ibox-content" >
            <table  class="table table-striped table-bordered">
                <tr>
                    <th>{{ _("Code") }}</th>
                    <td>{{ project.project_cod }}</td>
                </tr>
                <tr>
                    <th>{{ _("Name") }}</th>
                    <td>{{ project.project_name }}</td>
                </tr>
                <tr>
                    <th>{{ _("Description") }}</th>
                    <td>{{ project.project_abstract }}</td>
                </tr>
                <tr>
                    <th>{{ _("Creation date") }}</th>
                    <td>{{ project.project_creationdate.strftime('%d-%m-%Y') }}</td>
                </tr>
            </table>
        </div>
    </div>