{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Clone a project") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','jquerysteps' %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','style' %}
    {% cssresource request,'coreresources','chosen' %}
    {% cssresource request,'coreresources','jsTree' %}

    {% cssresource request,'coreresources','switch' %}
    {% cssresource request,'coreresources','tags' %}
    {% cssresource request,'coreresources','icheck' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','chosen' %}
    {% jsresource request,'coreresources','jstree' %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','switch' %}
    {% jsresource request,'coreresources','addproject' %}
    {% jsresource request,'coreresources','bootstrapmaxlength' %}
    {% jsresource request,'coreresources','icheck' %}
{% endblock topScripts %}


{% block pageheading %}
    {% set _title= _("Clone a project") %}
    {% set _linkWiki=""%}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}


{% block pagecontent %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                </div>
                <div class="ibox-content">


                    <div style="margin-left: 10px; margin-right: 10px">
                        <div class="row" id="header">

                            {% set stage1Color = 'gray-bg' %}
                            {% set stage2Color = 'gray-bg' %}
                            {% set stage3Color = 'gray-bg' %}
                            {% set stage4Color = 'gray-bg' %}
                            {% set stage1State = 'disabled' %}
                            {% set stage2State = 'disabled' %}
                            {% set stage3State = 'disabled' %}
                            {% set stage4State = 'disabled' %}

                            {% if stage == 1 %}
                                {% set stage1Color = 'navy-bg' %}
                                {% set stage1State = '' %}
                            {% endif %}

                            {% if stage == 2 %}
                                {% set stage2Color = 'navy-bg' %}
                                {% set stage2State = '' %}
                            {% endif %}

                            {% if stage == 3 %}
                                {% set stage3Color = 'navy-bg' %}
                                {% set stage3State = '' %}
                            {% endif %}

                            {% if stage == 4 %}
                                {% set stage4Color = 'navy-bg' %}
                                {% set stage4State = '' %}
                            {% endif %}

                            <div class="col-xs-3">
                                <div class="widget style1 {{ stage1Color }}" style="padding: 10px 20px">
                                    <div class="row vertical-align">
                                        <div class="col-xs-12 text-left">
                                            <h3 class="font-bold"><span class="step {{ stage1State }}">1</span> {{ _("Selection") }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="widget style1 {{ stage2Color }}" style="padding: 10px 20px">
                                    <div class="row vertical-align">
                                        <div class="col-xs-12 text-left">
                                            <h3 class="font-bold"><span class="step {{ stage2State }}">2</span> {{ _("Confirm") }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="widget style1 {{ stage3Color }}" style="padding: 10px 20px">
                                    <div class="row vertical-align">
                                        <div class="col-xs-12 text-left">
                                            <h3 class="font-bold"><span class="step {{ stage3State }}">3</span> {{ _("New profile") }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="widget style1 {{ stage4Color }}" style="padding: 10px 20px">
                                    <div class="row vertical-align">
                                        <div class="col-xs-12 text-left">
                                            <h3 class="font-bold"><span class="step {{ stage4State }}">4</span> {{ _("Verification") }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="stage" value="{{ stage }}">
                        </div>

                        <div class="row">
                            <hr>
                            {% set action = request.path %}
                            {% if stage ==3 %}
                                {% set action = request.route_url("cloneProject", _query={"stage":3, "user": dataworking["slt_project_by_owner"].split("___")[0],"project":dataworking["slt_project_by_owner"].split("___")[1] }) %}
                            {% endif %}
                            <form method="post" class="form-horizontal" action="{{ action }}">
                                <div id="content">
                                    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">

                                    <div class="row" style="display: {% if stage == 1 %}block{% else %}none{% endif %}">
                                        <div class="col-lg-12" >
                                            <div class="ibox float-e-margins">
                                                <div class="ibox-content" style="background-color: #f3f3f4;">
                                                    <div class="row">
                                                        <div class="col-lg-8" >
                                                            <div class="ibox-content" >
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 control-label">{{ _("Project") }}</label>
                                                                    <div class="col-sm-8">
                                                                        <select id="slt_project_by_owner" name="slt_project_by_owner" class="form-control chosen-select" tabindex="2" required oninvalid="this.setCustomValidity('{{ _("Select one project.") }}')" onchange="this.setCustomValidity('')">
                                                                            <option value="">{{ _("Select a project to clone") }}</option>
                                                                            {% for project in projects %}
                                                                                <option value="{{ project["owner"]["user_name"] }}___{{ project.project_cod }}" {% if project.project_cod == dataworking["slt_project_by_owner"].split("___")[1] and project["owner"]["user_name"] == dataworking["slt_project_by_owner"].split("___")[0] %}selected{% endif %} >{{ project["owner"]["user_name"] }} - {{ project.project_cod }} - {{ project.project_name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" name="btn_view_project" id="btn_view_project" class="btn btn-primary pull-right">{{ _("Next step") }}</button>
                                        </div>
                                    </div>


                                    {% if stage == 2 %}
                                        <div class="row">
                                            <div class="col-lg-12" >
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-content" style="background-color: #f3f3f4;">
                                                    <div class="row">
                                                        <div class="col-md-6 divOfDetails" >
                                                            {% set project = dataworking["projectBeingCloned"] %}

                                                            {% include 'snippets/cloneProjects/projectDetails.jinja2' %}

                                                            {% set project_fieldagents = project["project_fieldagents"] %}
                                                            {% include 'snippets/cloneProjects/fieldAgents.jinja2' %}

                                                            {% set project_technologies= project["project_techs"] %}
                                                            {% include 'snippets/cloneProjects/technologiesAndAlias.jinja2' %}

                                                        </div>

                                                        <div class="col-md-6 divOfDetails">

                                                            {% set data=project["project_registry"] %}
                                                            {% set jstreeName="jstree1" %}
                                                            {% set formName = _("Registration form")  %}
                                                            {% include 'snippets/cloneProjects/form.jinja2' %}

                                                            {% for assessment in project["project_assessment"] %}

                                                                {% set data=assessment.Questions  %}
                                                                {% set jstreeName="jstree" + assessment.ass_cod %}
                                                                {% set formName = _("Data collection moment") +" : "+ assessment.ass_desc %}
                                                                {% include 'snippets/cloneProjects/form.jinja2' %}

                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" onclick="location.href='{{ request.route_url("cloneProject", _query={"stage":1, "user": dataworking["slt_project_by_owner"].split("___")[0],"project":dataworking["slt_project_by_owner"].split("___")[1] }) }}'" class="btn btn-primary pull-left">{{ _("Previous") }}</button>
                                        <button type="button" onclick="location.href='{{ request.route_url("cloneProject", _query={"stage":3, "user": dataworking["slt_project_by_owner"].split("___")[0],"project":dataworking["slt_project_by_owner"].split("___")[1] }) }}'" class="btn btn-primary pull-right">{{ _("Next step") }}</button>
                                    {% endif %}

                                    {% if stage == 3 %}
                                        <div class="row divOfDetails">
                                            <div class="col-lg-12" id="divOfForm">
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-content" style="background-color: #f3f3f4;">
                                                        {% include 'snippets/error.jinja2' %}

                                                        <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                                                        {% block newprjform %}
                                                            {% set edit=False %}
                                                            {% set showSelectStructureToClone = True %}
                                                            {% set permissionForChanges=True %}
                                                            {% set allowTemplate=False %}
                                                            {% include 'snippets/project/project_form.jinja2' %}
                                                        {% endblock newprjform %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" onclick="location.href='{{ request.route_url("cloneProject", _query={"stage":2, "user": dataworking["slt_project_by_owner"].split("___")[0],"project":dataworking["slt_project_by_owner"].split("___")[1] }) }}'" class="btn btn-primary pull-left">{{ _("Previous") }}</button>
                                        <button type="submit" name="btn_addNewProject" id="btn_addNewProject" class="btn btn-primary pull-right">{{ _("Create clone") }}</button>
                                    {% endif %}

                                    {% if stage ==4 %}
                                        <div class="row">
                                            <div style="width: 100%; text-align: center; margin: 40px">
                                                <h2 >{{ _("The project was successfully cloned.") }}</h2>
                                                <h2><b>{{ _("Please check that the information is correct and that the projects have the same structure.") }}</b></h2>
                                            </div>

                                            <div class="col-lg-12" >
                                                <div class="ibox float-e-margins">
                                                    <div class="ibox-content" style="background-color: #f3f3f4;">
                                                        <div class="row">
                                                            <div class="col-lg-6 ">
                                                                <div style="width: 100%; text-align: center"><h2>{{ dataworking["projectBeingCloned"]["project_cod"] }}</h2><br></div>

                                                                {% set project = dataworking["projectBeingCloned"] %}

                                                                {% include 'snippets/cloneProjects/projectDetails.jinja2' %}

                                                                {% set project_fieldagents = project["project_fieldagents"] %}
                                                                {% include 'snippets/cloneProjects/fieldAgents.jinja2' %}

                                                                {% set project_technologies= project["project_techs"] %}
                                                                {% include 'snippets/cloneProjects/technologiesAndAlias.jinja2' %}

                                                                {% set data=project["project_registry"] %}
                                                                {% set jstreeName="jstree1" %}
                                                                {% set formName = _("Registration form")  %}
                                                                {% include 'snippets/cloneProjects/form.jinja2' %}

                                                                {% for assessment in project["project_assessment"] %}

                                                                    {% set data=assessment.Questions  %}
                                                                    {% set jstreeName="jstree" + assessment.ass_cod %}
                                                                    {% set formName = _("Data collection moment") +" : "+ assessment.ass_desc %}
                                                                    {% include 'snippets/cloneProjects/form.jinja2' %}

                                                                {% endfor %}

                                                            </div>

                                                            <div class="col-lg-6 ">
                                                                <div style="width: 100%; text-align: center"><h2>{{ dataworking["clonedProject"]["project_cod"] }}</h2><br></div>

                                                                {% set project = dataworking["clonedProject"] %}

                                                                {% include 'snippets/cloneProjects/projectDetails.jinja2' %}

                                                                {% set project_fieldagents = project["project_fieldagents"] %}
                                                                {% include 'snippets/cloneProjects/fieldAgents.jinja2' %}

                                                                {% set project_technologies= project["project_techs"] %}
                                                                {% include 'snippets/cloneProjects/technologiesAndAlias.jinja2' %}

                                                                {% set data=project["project_registry"] %}
                                                                {% set jstreeName="jstree12" %}
                                                                {% set formName = _("Registration form")  %}
                                                                {% include 'snippets/cloneProjects/form.jinja2' %}

                                                                {% for assessment in project["project_assessment"] %}

                                                                    {% set data=assessment.Questions  %}
                                                                    {% set jstreeName="jstree" + assessment.ass_cod+"2" %}
                                                                    {% set formName = _("Data collection moment") +" : "+ assessment.ass_desc %}
                                                                    {% include 'snippets/cloneProjects/form.jinja2' %}

                                                                {% endfor %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 text-center">
                                                <a type="submit" class="btn btn-primary" href="{{ request.route_url('dashboard', _query={"user": dataworking["userInSetion"], "project": dataworking["project_cod"]}) }}">{{ _("Go to the new project") }}</a>
                                                <br><br>
                                            </div>
                                        </div>
                                    {% endif %}


                                </div>
                            </form>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>

    <style>
        .jstree-icon {
            color: #000000;
            font-size: 18px;
        }
        .jstree-anchor {
            height:auto !important;
            white-space:normal !important;
        }

        .jstree-open newcategory {
            color: #1E0FBE;
            font-size: 18px;
        }

        .jstree-usercategory{
            color: #1ab394;
        }

        .jstree-noeditable{
            color: #ed5565;
        }

        .jstree-user{
            color: #1ab394;
        }

    </style>

    <script>



        $(document).ready(function ()
        {
            $('.chosen-select').chosen({width: "100%"});

            $('.i-checks').iCheck({
                radioClass: 'iradio_square-green',
                checkboxClass: 'icheckbox_square-green',
            });

            $('.i-checksbox').iCheck({
                checkboxClass: 'icheckbox_square-green',
            });

            $('.checksbox').on('ifChanged', function()
            {
                id = $(this).attr("id");
                if ($(this).prop('checked')) {
                    $('#structureToBeCloned').val($('#structureToBeCloned').val()+id+",");
                } else {
                    $('#structureToBeCloned').val($('#structureToBeCloned').val().replace(id+",",""));
                }

                if (id=="technologyoptions")
                {
                    if ($(this).prop('checked')) {
                        $("#technologies").iCheck('check');
                    }
                }

                if (id=="technologies")
                {
                    if (!$(this).prop('checked')) {
                        $("#technologyoptions").iCheck('uncheck');
                    }
                }

            });

            {% if dataworking["structureToBeCloned"] == "" %}
                $('.i-checksbox').iCheck('check');
            {% else %}
                {% set structureBeCloned = dataworking["structureToBeCloned"].split(",")[:-1] %}
                {% for elem in structureBeCloned %}
                    $("#{{ elem }}").iCheck('check');
                {% endfor %}
            {% endif %}
        });

    </script>



{% endblock pagecontent %}

