<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock meta %}

    {% block title %}
        <title>{{ _("Welcome to ClimMob") }}</title>
    {% endblock title %}



    {% block css %}
        {% cssresource request,'coreresources','style' %}
        {% cssresource request,'coreresources','landing' %}
    {% endblock css %}

    {% block topScripts %}
        {% jsresource request,'coreresources','landing' %}
    {% endblock topScripts %}


</head>
{% block body %}
    <body id="page-top" class="landing-page no-skin-config">
    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">{{ _("Toggle navigation") }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% block mainbutton %}
                        <a class="navbar-brand" href="{{ request.route_url('login') }}">{{ _("Login or request an account") }}</a>
                    {% endblock mainbutton %}
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% block navitems %}
                            <li><a class="page-scroll" href="#page-top">{{ _("Home") }}</a></li>
                            <li><a class="page-scroll" href="#features">{{ _("Features") }}</a></li>
                            <li><a class="page-scroll" href="#team">{{ _("Join us") }}</a></li>
{#                            <li><a class="page-scroll" href="#pricing">Pricing</a></li>#}
                            <li><a class="page-scroll" href="#contact">{{ _("Contact") }}</a></li>
                        {% endblock navitems %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block carousel %}
        <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#inSlider" data-slide-to="0" class="active"></li>
                <li data-target="#inSlider" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                {% block carouselitems %}
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>{{ _("Welcome to ") }}<span style="color: #1ab492">ClimMob</span><br/>
                                    {{ _("Crowdsourcing ") }}<br/>{{ _("climatesmart") }}<br/>{{ _("agriculture") }}</h1>
                                <p>{{ _("Design and analyse agricultural trials in a") }} <span style="color: #1ab492">{{ _("smart way") }}.</span></p>
{#                                <p>#}
{#                                    <a class="btn btn-lg btn-primary" href="#features" role="button">READ MORE</a>#}
{#                                </p>#}
                            </div>
                            <div class="carousel-image wow zoomIn">
                                <img src="{{ request.url_for_static('static/landing/person.png') }}" alt="person"/>
                            </div>
                        </div>
                        <!-- Set background for slide in css -->
                        <div class="header-back" style="background: url({{ request.url_for_static('static/landing/banner1.jpg') }}) 50% 0 no-repeat;"></div>

                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="carousel-caption blank">
                                <h1>{{ _("Private sector ") }}<span style="color: #1ab492">{{ _("friendly") }}</span></h1>
                                <p>{{ _("We believe private engagement is the growth engine of rural economies") }} <br/><span style="color: #1ab492">ClimMob</span> {{ _("will assist you in deploying") }} <span style="color: #1ab492">{{ _("extensive") }}</span> {{ _("agricultural trials") }}<br/>{{ _("across") }} <span style="color: #1ab492">{{ _("multiple") }}</span> {{ _("locations") }}</p>
{#                                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>#}
                            </div>
                        </div>
                        <!-- Set background for slide in css -->
                        <div class="header-back" style="background: url({{ request.url_for_static('static/landing/banner2.png') }}) 50% 0 no-repeat;"></div>
                    </div>
                {% endblock carouselitems %}
            </div>
            <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">{{ _("Previous") }}</span>
            </a>
            <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">{{ _("Next") }}</span>
            </a>
        </div>
    {% endblock carousel %}

    {% block features %}
        <section id="features" {% block features_class %}class="container services"{% endblock features_class %}>
            <div class="row">
                {% block feature_items %}
                    <div class="col-sm-3">
                        <h2>{{ ("Mobile Data Collection") }}</h2>
                        <p>{{ _("Collect data using Android Mobile devices") }}</p>
                    </div>
                    <div class="col-sm-3">
                        <h2>{{ _("Complex trial design") }}</h2>
                        <p>{{ _("Design complex trials not only based in crop varieties but also including factors like fertilizing and management.") }}</p>
                    </div>
                    <div class="col-sm-3">
                        <h2>{{ _("Summaries and statistics") }}</h2>
                        <p>{{ _("Analyze your trials and report on the findings.") }}</p>
                    </div>
                    <div class="col-sm-3">
                        <h2>{{ _("Dual license") }}</h2>
                        <p>{{ _("ClimMob is free for research and development projects where data eventually becomes public. However if you are a private sector you can use the platform privately.") }}</p>
                        <p><a class="navy-link" href="mailto:j.vanetten@cgiar.org" role="button">{{ _("Details") }} &raquo;</a></p>
                    </div>
                {% endblock feature_items %}
            </div>
        </section>
    {% endblock features %}

    {#
<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Over 40+ unique view<br/> <span class="navy"> with many custom components</span> </h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile features-icon"></i>
                <h2>Full responsive</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon"></i>
                <h2>6 Charts Library</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="img/landing/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-envelope features-icon"></i>
                <h2>Mail pages</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-google features-icon"></i>
                <h2>AngularJS version</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Discover great feautres</h1>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-6 features-text wow fadeInLeft">
            <small>INSPINIA</small>
            <h2>Perfectly designed </h2>
            <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
            <a href="" class="btn btn-primary">Learn more</a>
        </div>
        <div class="col-lg-6 text-right wow fadeInRight">
            <img src="img/landing/dashboard.png" alt="dashboard" class="img-responsive pull-right">
        </div>
    </div>
</section> #}

    {% block statistics %}
        <section id="team" {% block statistics_class %}class="gray-section team"{% endblock statistics_class %}>
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Join us</h1>
                        <p>{{ _("The smart way for evaluating climate-smart agriculture.") }}</p>
                    </div>
                </div>
                <div class="row">
                    {% block statistic_items %}
                        <div class="col-sm-6 wow fadeInLeft">
                            <div class="team-member">
                                <div class="widget style1 navy-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-3">
                                            <i class="fa fa-user-circle fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <h2 class="font-bold">{{ numUsers }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <h4><span class="navy">{{ _("Registered") }}</span> {{ _("users") }}</h4>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="team-member wow zoomIn">
                                <div class="widget style1 navy-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-3">
                                            <i class="fa fa-briefcase fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <h2 class="font-bold">{{ numProjs }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <h4><span class="navy">{{ _("Trial") }}</span> {{ _("projects") }}</h4>
                            </div>
                        </div>
{#                        <div class="col-sm-4 wow fadeInRight">#}
{#                            <div class="team-member">#}
{#                                <div class="widget style1 navy-bg">#}
{#                                    <div class="row vertical-align">#}
{#                                        <div class="col-xs-3">#}
{#                                            <i class="fa fa-male fa-3x"></i>#}
{#                                            <i class="fa fa-female fa-3x"></i>#}
{#                                        </div>#}
{#                                        <div class="col-xs-9 text-right">#}
{#                                            <h2 class="font-bold">10 mill</h2>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <h4><span class="navy">Observations</span> gathered</h4>#}
{#                            </div>#}
{#                        </div>#}
                    {% endblock statistic_items %}
                </div>
            </div>
        </section>
    {% endblock statistics %}

    {#
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Even more great feautres</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-3 features-text wow fadeInLeft">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
            <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                <img src="img/landing/iphone.jpg" class="img-responsive" alt="dashboard">
            </div>
            <div class="col-lg-3 features-text text-right wow fadeInRight">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with latest jQuery plugins.</p>
                <a href="" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>

</section>

<section class="timeline gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our workflow</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Meeting</h2>
                            <p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the sale.
                            </p>
                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
                            <span class="vertical-date"> Today <br/> <small>Dec 24</small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-file-text"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Decision</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
                            <span class="vertical-date"> Tomorrow <br/> <small>Dec 26</small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-cogs"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Implementation</h2>
                            <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                            <a href="#" class="btn btn-xs btn-primary"> More info</a>
                            <span class="vertical-date"> Monday <br/> <small>Jan 02</small> </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    What our users say
                </h1>
                <div class="testimonials-text">
                    <i>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."</i>
                </div>
                <small>
                    <strong>12.02.2014 - Andy Smith</strong>
                </small>
            </div>
        </div>
    </div>

</section>

<section class="comments gray-section" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>What our partners say</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/landing/avatar3.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/landing/avatar1.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/landing/avatar2.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>More and more extra great feautres</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-bar-chart big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-bolt big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-clock-o big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>INSPINIA</small>
                <h2>Perfectly designed </h2>
                <i class="fa fa-users big-icon pull-right"></i>
                <p>INSPINIA Admin Theme is a premium admin dashboard template with flat design concept. It is fully responsive admin dashboard template built with Bootstrap 3+ Framework, HTML5 and CSS3, Media query. It has a huge collection of reusable UI components and integrated with.</p>
            </div>
        </div>
    </div>

</section>#}
    {% block pricing %}
{#        <section id="pricing" {% block pricing_class %}class="pricing"{% endblock pricing_class %}>#}
{#            <div class="container">#}
{#                <div class="row m-b-lg">#}
{#                    <div class="col-lg-12 text-center">#}
{#                        <div class="navy-line"></div>#}
{#                        {% block pricing_desc %}#}
{#                            <h1>Pricing</h1>#}
{#                            <p>ClimMob offers three types of licensing options.</p>#}
{#                        {% endblock pricing_desc %}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    {% block pricing_items %}#}
{#                        <div class="col-lg-4 wow zoomIn">#}
{#                            <ul class="pricing-plan list-unstyled">#}
{#                                <li class="pricing-title">#}
{#                                    Open#}
{#                                </li>#}
{#                                <li class="pricing-desc">#}
{#                                    This is for organizations that can make their data open access.#}
{#                                </li>#}
{#                                <li class="pricing-price">#}
{#                                    <span>Free</span>#}
{#                                </li>#}
{#                                <li>#}
{#                                    Unlimited number of projects#}
{#                                </li>#}
{#                                <li>#}
{#                                    Unlimited number of observations#}
{#                                </li>#}
{#                                <li>#}
{#                                    Basic analysis#}
{#                                </li>#}
{#                                <li>#}
{#                                    Data becomes open access<sup>*</sup>#}
{#                                </li>#}
{#                                <li>#}
{#                                    Support via forum#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a class="btn btn-primary btn-xs" href="#">Signup</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{##}
{#                        <div class="col-lg-4 wow zoomIn">#}
{#                            <ul class="pricing-plan list-unstyled">#}
{#                                <li class="pricing-title">#}
{#                                    Standard#}
{#                                </li>#}
{#                                <li class="pricing-desc">#}
{#                                    This plan is for small private organizations that have a small number of trials#}
{#                                </li>#}
{#                                <li class="pricing-price">#}
{#                                    <span>$10</span> / project / month#}
{#                                </li>#}
{#                                <li>#}
{#                                    Up to 10 projects#}
{#                                </li>#}
{#                                <li>#}
{#                                    Up to 50 observations per project#}
{#                                </li>#}
{#                                <li>#}
{#                                    Advanced analysis and statistics#}
{#                                </li>#}
{#                                <li>#}
{#                                    Data is private<sup>**</sup>#}
{#                                </li>#}
{#                                <li>#}
{#                                    Support via forum#}
{#                                </li>#}
{#                                <li class="plan-action">#}
{#                                    <a class="btn btn-primary btn-xs" href="#">Signup</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{##}
{#                        <div class="col-lg-4 wow zoomIn">#}
{#                            <ul class="pricing-plan list-unstyled">#}
{#                                <li class="pricing-title">#}
{#                                    Premium#}
{#                                </li>#}
{#                                <li class="pricing-desc">#}
{#                                    This plan is for enterprises that have extensive trials in several locations#}
{#                                </li>#}
{#                                <li class="pricing-price">#}
{#                                    <span>$5</span> / data submission<sup>***</sup>#}
{#                                </li>#}
{#                                <li>#}
{#                                    Unlimited number of projects#}
{#                                </li>#}
{#                                <li>#}
{#                                    Unlimited number of observations#}
{#                                </li>#}
{#                                <li>#}
{#                                    Advanced analysis and statistics#}
{#                                </li>#}
{#                                <li>#}
{#                                    Data is private<sup>**</sup>#}
{#                                </li>#}
{#                                <li>#}
{#                                    Complete technical support#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a class="btn btn-primary btn-xs" href="#">Signup</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    {% endblock pricing_items %}#}
{#                </div>#}
{#                <div class="row m-t-lg">#}
{#                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">#}
{#                        {% block pricing_notes %}#}
{#                            <p>*Data becomes open access after 6 months of collection.</p>#}
{#                            <p>**Data may be accessed by Bioversity International for research purposes only.</p>#}
{#                            <p>***At least 2 submissions happen per observation.</p>#}
{#                            <p> See the <a href="#"><span class="navy">terms of service</span></a> for more details.</p>#}
{#                        {% endblock pricing_notes %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
    {% endblock pricing %}

    {% block contact %}
        <section id="contact" {% block contact_class %}class="gray-section contact"{% endblock contact_class %}>
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        {% block contact_heading %}
                            <h1>{{ _("Contact Us") }}</h1>
                            <p>{{ _("Your comments and suggestions are welcomed.") }}</p>
                        {% endblock contact_heading %}
                    </div>
                </div>
                <div class="row m-b-lg">
                    <div class="col-lg-3 col-lg-offset-3">
                        <address>
                            {% block contact_address %}
                                <strong><span class="navy">Bioversity International<br/>Costa Rica</span></strong><br/>
                                c/o CATIE 7170<br/>
                                Turrialba, Costa Rica<br/>
                                <abbr title="Phone">P:</abbr> (+506) 2556 2431
                            {% endblock contact_address %}
                        </address>
                    </div>
                    <div class="col-lg-4">
                        <p class="text-color">
                            {% block contact_info %}
                                {{ _("The ClimMob platform has very specific terms of service") }}. {{ _("Click") }} <a target="blank" href="{{ request.url_for_static('static/terms.pdf') }}"><span class="navy">{{ _("here") }}</span></a> {{ _("for more details") }}.
                            {% endblock contact_info %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        {% block contact_email %}
                            <a href="mailto:j.vanetten@cgiar.org" class="btn btn-primary">{{ _("Send us mail") }}</a>
                        {% endblock contact_email %}
                        {% block contact_social %}
                            <p class="m-t-sm">
                                {{ _("Or follow us on social platform") }}
                            </p>
                            <ul class="list-inline social-icon">
                                <li><a target="blank" href="https://twitter.com/BioversityInt"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a target="blank" href="https://www.facebook.com/bioversityinternational"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a target="blank" href="https://www.linkedin.com/company/bioversity-international"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        {% endblock contact_social %}
                    </div>
                </div>
                {% block contact_footer %}
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                            <p><strong>&copy; 2017 Bioversity International</strong><br/> {{ _("a") }} <a href="http://www.cgiar.org/" target="_blank"><span class="navy">CGIAR</span></a>{{ _("Centre") }}.</p>
                        </div>
                    </div>
                {% endblock contact_footer %}
            </div>
        </section>
    {% endblock contact %}

    <script>
        {% block script %}

        {% endblock script %}
    </script>

    </body>
{% endblock body %}
</html>
