<!DOCTYPE html>
<html>

<head>
    {% block loginmeta %}
        {% include 'snippets/google_analytics.jinja2' %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ request.url_for_static('landing/icon.png') }}">
    {% endblock loginmeta %}
    {% block logintitle %}
        <title>{{ _("ClimMob | Login") }}</title>
    {% endblock logintitle %}

    {% block css %}
        {% cssresource request,'coreresources','style' %}
    {% endblock css %}

    {% block topScripts %}
        {% jsresource request,'coreresources','landing' %}
    {% endblock topScripts %}
</head>

<body class="gray-bg">
{% block loginbody %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                {% block loginlogo %}
{#                    <h1 class="logo-name">CM</h1>#}
                    <img src="{{ request.url_for_static('landing/climmob2.png') }}" alt="logo" width="300px"/>
                    <br><br>
                {% endblock loginlogo %}

            </div>
            {% block loginwelcome %}
{#                <h3>{{ _("Welcome ClimMob") }}</h3>#}
            {% endblock loginwelcome %}
            {#
            <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>#}
            {% block logincontent %}
                <p>{{ _("Login in") }}</p>
                {% block loginerror %}
                    {% if failed_attempt %}
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ _("Login failed. Please check your credentials and try again") }}
                        </div>
                    {% endif %}
                {% endblock loginerror %}
                <form class="m-t" role="form" method="post" action="{{ request.path }}">
                    {% block loginform %}
                        <div class="form-group">
                            <input type="text" name="login" class="form-control" placeholder="{{ _("Username") }}" required="" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="password" name="passwd" class="form-control" placeholder="{{ _("Password") }}" required="" autocomplete="off">
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                        <button type="submit" name="submit" class="btn btn-primary block full-width m-b">{{ _("Login") }}</button>

                        <a href="{{ request.route_url('recover') }}"><small>{{ _("Forgot username or password?") }}</small></a>

                        {% if request.registry.settings.get('auth.register_users_via_web', "true") == 'true'%}

                            <p class="text-muted text-center"><small>{{ _("Do not have an account?") }}</small></p>
                            <a class="btn btn-sm btn-white btn-block" href="{{ request.route_url('register') }}">{{ _("Create an account") }}</a>

                        {% endif %}

                    {% endblock loginform %}
                </form>
            {% endblock logincontent %}
            {% block loginfooter %}
                <br>
                <strong>{{ _("Copyright") }}</strong> {{ _("{}, MrBot Software Solutions").format(request.h.get_year()) }}
            {% endblock loginfooter %}
        </div>
    </div>

    {% if ask_for_cookies %}
        <div class="modal inmodal" id="cookieModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fa fa-user-secret modal-icon"></i>
                        <h4 class="modal-title">{{ _('Cookies') }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ _('This website stores cookies on your computer. These cookies are used to remember you or to know that you have been authenticated. To find out more about the cookies we use, see our') }} <a href="{{ request.route_url('privacy') }}">{{ _('Privacy Policy') }}</a>.<br/><br/>
                        {{ _('If you decline, two encrypted cookies will be stored: 1) a cookie to remember your answer and 2) a cookie for us to know that you are authenticated once you login.') }}
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{{ request.route_url('store_cookie',_query={'next': request.url}) }}">
                            <button type="submit" name="accept" class="btn btn-default">{{ _('Accept') }}</button>
                            <button type="submit" name="decline" class="btn btn-default">{{ _('Decline') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script>

        {% if ask_for_cookies %}
            $(document).ready(function() {
                myVar = setTimeout(showCookieFunc, 500);
                function showCookieFunc() {
                    $('#cookieModal').modal('show');
                }
            });
        {% endif %}

        {% block loginscript %}
        {% endblock loginscript %}
    </script>

{% endblock loginbody %}
</body>

</html>
