<!DOCTYPE html>
<html>

<head>
    {% block loginmeta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock loginmeta %}
    {% block logintitle %}
        <title>{{ _("ClimMob | Login") }}</title>
    {% endblock logintitle %}

    {% block css %}
        {% cssresource request,'coreresources','style' %}
    {% endblock css %}
</head>

<body class="gray-bg">
{% block loginbody %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                {% block loginlogo %}
                    <h1 class="logo-name">CM</h1>
                {% endblock loginlogo %}

            </div>
            {% block loginwelcome %}
                <h3>{{ _("Welcome ClimMob") }}</h3>
            {% endblock loginwelcome %}
            {#
            <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>#}
            {% block logincontent %}
                <p>{{ _("Login in") }}</p>
                {% block loginerror %}
                    {% if failed_attempt %}
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ _("Login failed. Please check your credentials and try again") }}
                        </div>
                    {% endif %}
                {% endblock loginerror %}
                <form class="m-t" role="form" method="post" action="{{ request.path }}">
                    {% block loginform %}
                        <div class="form-group">
                            <input type="text" name="login" class="form-control" placeholder="{{ _("Username") }}" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" name="passwd" class="form-control" placeholder="{{ _("Password") }}" required="">
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                        <button type="submit" name="submit" class="btn btn-primary block full-width m-b">{{ _("Login") }}</button>

                        <a href="{{ request.route_url('recover') }}"><small>{{ _("Forgot password?") }}</small></a>
                        <p class="text-muted text-center"><small>{{ _("Do not have an account?") }}</small></p>
                        <a class="btn btn-sm btn-white btn-block" href="{{ request.route_url('register') }}">{{ _("Create an account") }}</a>
                    {% endblock loginform %}
                </form>
            {% endblock logincontent %}
            {% block loginfooter %}
                <p class="m-t"> <small>ClimMob &copy; 2017</small> </p>
            {% endblock loginfooter %}
        </div>
    </div>

    <script>
        {% block loginscript %}
        {% endblock loginscript %}
    </script>

{% endblock loginbody %}
</body>

</html>
