{% extends "login.jinja2" %}

{% block logintitle %}
    <title>{{ _("ClimMob | Reset my password") }}</title>
{% endblock logintitle %}

{% block loginwelcome %}
    <h3>{{ _("Welcome to ClimMob") }}</h3>
{% endblock loginwelcome %}

{% block logincontent %}

    {% for key, error in error_summary.items() %}
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ error }}
        </div>
    {% endfor %}

    <div class="text-left">
        <form class="m-t" role="form" method="post" action="{{ request.path }}">
            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">

            <div class="form-group">
                <label>{{ _("Email") }}</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="{{ _("Email") }}" required="" value="{{ dataworking["email"] }}">
            </div>
            <div class="form-group">
                <label>{{ _("Token") }}</label>
                <input type="text" id="token" name="token" class="form-control" placeholder="{{ _("Password reset token") }}" required="" value="{{ dataworking["token"] }}">
            </div>
            <div class="form-group">
                <label>{{ _("New password") }}</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="{{ _("New password") }}" required="" value="{{ dataworking["password"] }}">
            </div>
            <div class="form-group">
                <label>{{ _("New password confirmation") }}</label>
                <input type="password" id="password2" name="password2" class="form-control" placeholder="{{ _("New password confirmation") }}" required="" value="{{ dataworking["password2"] }}">
            </div>
            <div class="form-group">
                <label>{{ _("Username") }}</label>
                <input type="text" id="user" name="user" class="form-control" placeholder="{{ _("Username") }}" required="" value="{{ dataworking["user"] }}">
            </div>
            <button type="submit" name="submit" id="submit" class="btn btn-primary block full-width m-b">{{ _("Reset") }}</button>
        </form>
    </div>



{% endblock logincontent %}