{% extends 'dashboard/dashboard.jinja2' %}

{% block title %}
    <title>{{ _("ClimMob | Analysis") }}</title>
{% endblock title %}

{% block css %}
    {% cssresource request,'coreresources','icheck' %}
    {% cssresource request,'coreresources','switch' %}
{% endblock css %}

{% block topScripts %}
    {% jsresource request,'coreresources','toastr' %}
    {% jsresource request,'coreresources','icheck' %}
    {% jsresource request,'coreresources','switch' %}
    {% jsresource request,'coreresources','analysisData' %}
{% endblock topScripts %}

{% block pageheading %}
    {% set  _title= _("Analize data") %}
    {% set _linkWiki="https://climmob.net/blog/wiki/analyze-data/" %}
    {% include 'snippets/menuheading.jinja2' %}
{% endblock %}

{% block pagecontent %}
    <div class="row">
        <div class="col-md-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ _("Select your variables to analyze") }}</h5>
                </div>
                <div class="ibox-content">
                    {% set percentage = 0  %}
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center" style="width: {{percentage}}% ">{{ _("Data collection moments") }}</th>
                            <th class="text-center" style="width: {{percentage}}% ">{{ _("Explanatory") }}</th>
                            <th class="text-center" style="width: {{percentage}}% ">{{ _("Quantitative") }}</th>
                            <th class="text-center" style="width: {{percentage}}% ">{{ _("Ranking of options") }}</th>
                            <th class="text-center" style="width: {{percentage}}% ">{{ _("Comparison with check") }}</th>
                        </tr>
                        <tr>
                            <td class="text-center" style="border-top-style: hidden;"></td>
                            <td class="text-center" style="border-top-style: hidden;"><label style="font-weight: inherit"> <input class="checkbox i-checksAll" type="checkbox" id="explanatorySelect"><i></i> {{ _("Select all") }}</label></td>
                            <td class="text-center" style="border-top-style: hidden;"><label style="font-weight: inherit"> <input class="checkbox i-checksAll" type="checkbox" id="quantitativeSelect"><i></i> {{ _("Select all") }}</label></td>
                            <td class="text-center" style="border-top-style: hidden;"><label style="font-weight: inherit"> <input class="checkbox i-checksAll" type="checkbox" id="rankingSelect"><i></i> {{ _("Select all") }}</label></td>
                            <td class="text-center" style="border-top-style: hidden;"><label style="font-weight: inherit"> <input class="checkbox i-checksAll" type="checkbox" id="comparisonSelect"><i></i> {{ _("Select all") }}</label></td>
                        </tr>
                        <tr>
                            <th style="vertical-align:middle"> {{ _("Registration") }}</th>
                            <td>
                                {% if dataForAnalysis.Explanatory %}
                                    {%for c in dataForAnalysis.Explanatory%}
                                        {% if c.code == None %}
                                            <label style="font-weight: inherit"> <input class="checkbox i-checks explanatorySelect" type="checkbox" id="explanatory_REG__{{c.id}}_add"><i></i> {{ c.name }}</label><br>
                                        {% endif%}
                                    {%endfor%}
                                {% endif %}
                            </td>
                           <td>
                                {% if dataForAnalysis.Quantitative %}
                                    {%for c in dataForAnalysis.Quantitative%}
                                        {% if c.code == None %}
                                            <label style="font-weight: inherit"> <input class="checkbox i-checks quantitativeSelect" type="checkbox" id="quantitaive_REG__{{c.id}}_add"><i></i> {{ c.name }}</label><br>
                                        {% endif%}
                                    {%endfor%}
                                {% endif %}
                            </td>
                            <td>
                                {% if dataForAnalysis.Characteristics %}
                                    {%for c in dataForAnalysis.Characteristics%}
                                        {% if c.code == None %}
                                            <label style="font-weight: inherit"> <input class="checkbox i-checks rankingSelect" type="checkbox" id="characteristic_REG__{{c.id}}_add"><i></i> {{ c.name }}</label><br>
                                        {% endif%}
                                    {%endfor%}
                                {% endif %}
                            </td>
                            <td>
                                {% if dataForAnalysis.Performance%}
                                    {%for c in dataForAnalysis.Performance%}
                                        {% if c.code == None %}
                                            <label style="font-weight: inherit"> <input class="checkbox i-checks comparisonSelect" type="checkbox" id="performance_REG__{{c.id}}_add"><i></i> {{ c.name }}</label><br>
                                        {% endif%}
                                    {%endfor%}
                                {% endif %}
                            </td>
                        </tr>
                        {% for assess in assessmentsList%}
                            <tr>
                                <th style="vertical-align:middle">{{ assess.ass_desc}}</th>
                                <td>
                                    {% if dataForAnalysis.Explanatory %}
                                        {%for c in dataForAnalysis.Explanatory%}
                                            {% if c.code.ass_cod == assess.ass_cod %}
                                                <label style="font-weight: inherit"> <input class="checkbox i-checks explanatorySelect" type="checkbox" id="explanatory_ASS_{{ assess.ass_cod }}_{{c.id}}_add"><i></i> {{ c.name }}</label><br>
                                            {% endif%}
                                        {%endfor%}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if dataForAnalysis.Quantitative %}
                                        {%for c in dataForAnalysis.Quantitative%}
                                            {% if c.code.ass_cod == assess.ass_cod %}
                                                <label style="font-weight: inherit"> <input class="checkbox i-checks quantitativeSelect" type="checkbox" id="quantitative_ASS_{{ assess.ass_cod }}_{{c.id}}_add"><i></i> {{ c.name }}</label><br>
                                            {% endif%}
                                        {%endfor%}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if dataForAnalysis.Characteristics %}
                                        {%for c in dataForAnalysis.Characteristics%}
                                            {% if c.code.ass_cod == assess.ass_cod %}
                                                <label style="font-weight: inherit"> <input class="checkbox i-checks rankingSelect" type="checkbox" id="characteristic_ASS_{{ assess.ass_cod }}_{{c.id}}_add"><i></i> {{ c.name }}</label><br>
                                            {% endif%}
                                        {%endfor%}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if dataForAnalysis.Performance%}
                                        {%for c in dataForAnalysis.Performance%}
                                            {% if c.code.ass_cod == assess.ass_cod %}
                                                <label style="font-weight: inherit"> <input class="checkbox i-checks comparisonSelect" type="checkbox" id="performance_ASS_{{ assess.ass_cod }}_{{c.id}}_add"><i></i> {{ c.name }}</label><br>
                                            {% endif%}
                                        {%endfor%}
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}


                    </table>


                    <br>
                    <div class="form-group">
                        <b>{{ _("Infosheets") }}</b>
                        <div class="col-lg-offset-2 col-lg-10">

                            <div class="form-group">
                                <input type="checkbox" id="ckb_Infosheets" name="ckb_Infosheets" data-on-color="success" data-off-color="danger" data-on-text="{{ _('Yes') }}" data-off-text="{{ _('No') }}" >
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="text-center">
                        <form method="post" class="form-horizontal formElement" action="{{ request.path }}">
                            <input type="text" id="txt_included_in_analysis" name="txt_included_in_analysis" style="width: 100%;display:none">
                            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                            <input type="text" id="txt_infosheets" name="txt_infosheets" value="true" style="width: 100%;display:none">
                            <button type="submit" name="btn_createAnalysis" id="btn_createAnalysis" class="btn btn-primary clm-actions "> {{ _("Perform analysis") }}</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% include 'snippets/loading.jinja2' %}

{% endblock pagecontent%}


